In [1]:
# all import statements needed for the project, for example:
import math
import pandas as pd
import requests 
import sqlalchemy as db
from pandas import read_parquet
from pyarrow.parquet import ParquetDataset
from bs4 import BeautifulSoup
import re
import geopandas as gpd
from shapely.geometry import Point
from geopandas import GeoDataFrame
from datetime import datetime
import datetime
import glob
import os
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, scoped_session
import matplotlib.pyplot as plt
import sqlite3
from datetime import datetime
from scipy import stats
import numpy as np
from keplergl import KeplerGl
from pandas import DataFrame

In [3]:
# any constants you might need, for example:

TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
# add other constants to refer to any local data, e.g. uber & weather
UBER_CSV = "uber_rides_sample.csv"

NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))
redius = 6378.137
DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"
TAXI_DIR = 'taxi_files'
QUERY_DIRECTORY = "queries"
WEATHER_DIR = "weather_files"

zones_df =gpd.read_file(r"taxi_zones.shp")
zones_df.to_csv("taxi_zones.csv")
zones_df = zones_df.to_crs(4326)
zones_df["lat"] = zones_df.centroid.x
zones_df["lon"] = zones_df.centroid.y
zones_data = []

zones_pickupID = zones_df.drop(
                ["OBJECTID","Shape_Leng",
                "Shape_Area","zone",
                "borough","geometry"],
                axis="columns").rename(
                columns={
                "LocationID":"PULocationID",
                "lon":"pickup_latitude",
                "lat":"pickup_longitude"
                })
zones_dropoffID = zones_df.drop(
                ["OBJECTID","Shape_Leng",
                "Shape_Area","zone",
                "borough","geometry"],
                axis="columns").rename(
                columns={
                "LocationID":"DOLocationID",
                "lon":"dropoff_latitude",
                "lat":"dropoff_longitude"
                })

/var/folders/4c/k607jfy56yv9kqkzvbvdnbcr0000gn/T/ipykernel_5571/269685051.py:19: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  zones_df["lat"] = zones_df.centroid.x
/var/folders/4c/k607jfy56yv9kqkzvbvdnbcr0000gn/T/ipykernel_5571/269685051.py:20: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  zones_df["lon"] = zones_df.centroid.y

Taxi data

In [4]:

# Calculate the distance through coordinates
def calculate_distance(from_coord, to_coord):
    lat1, lon1 = from_coord
    lat2, lon2 = to_coord

    diff_lat = math.radians(lat2 - lat1)
    diff_lon = math.radians(lon2 - lon1)
    
    cal_dis = (math.sin(diff_lat / 2) * math.sin(diff_lat / 2) +
             math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
             math.sin(diff_lon / 2) * math.sin(diff_lon / 2))
    cal_dis = 2 * math.atan2(math.sqrt(cal_dis), math.sqrt(1 - cal_dis))
    distance = redius * cal_dis

    return distance
    

# Add the coordinate columns to the dataframe
def add_distance_column(dataframe):
    dataframe["trip_distance"] = dataframe.apply(
                                lambda row: calculate_distance((row.pickup_longitude, row.pickup_latitude), 
                                                               (row.dropoff_longitude, row.dropoff_latitude)), 
                                                                axis=1)
    return dataframe

In [5]:
### Part 1: Data Preprocessing

In [6]:
# Get the download links of yellow taxi from 2009-01 to 2015-06
def find_taxi_csv_urls():
    response = requests.get(TAXI_URL)
    soup = BeautifulSoup(response.text, "html.parser")
    url_tags = soup.find_all("a", title="Yellow Taxi Trip Records")
    all_csv_urls = []
    pattern = "2009|2010|2011|2012|2013|2014|2015-0[1-6]"

    for url_tag in url_tags:
        if re.findall(pattern, url_tag["href"]):
            all_csv_urls.append(url_tag["href"])

    return all_csv_urls

In [7]:
def load_data_from_filename(filename):
    data = pd.read_parquet(filename)
    return data

In [38]:
# clean monthly yellow taxi data
def get_and_clean_month_taxi_data(url:str):
    file_name = url.split('/')[-1]
    if not os.path.exists(f'{TAXI_DIR}/{file_name}'):
        with open(f'{TAXI_DIR}/{file_name}', 'wb') as f:
            res = requests.get(url)
            f.write(res.content)

    dataframe = load_data_from_filename(f'{TAXI_DIR}/{file_name}')
    # Delete the useless columns
    # Attention: year 2009 and 2010 have unexpected columns' names.
    if "2010-" in file_name:
        dataframe = dataframe[
                            (dataframe["passenger_count"]> 0)
                            & (dataframe["total_amount"] > 0)
                                ]
        dataframe.drop([
                        "vendor_id", "dropoff_datetime", "rate_code", "store_and_fwd_flag",
                        "payment_type", "fare_amount", "surcharge",
                        "mta_tax","tolls_amount","passenger_count", 
                        "total_amount"
                        ], axis=1, inplace=True)
        
    elif "2009-" in file_name:
        dataframe = dataframe[
                            (dataframe["Passenger_Count"]> 0)
                            & (dataframe["Total_Amt"] > 0)
                                ]
        
        dataframe.drop([
                        "vendor_name", "Trip_Dropoff_DateTime", "Rate_Code",
                        "store_and_forward", "Payment_Type", "Fare_Amt", 
                        "surcharge", "mta_tax","Tolls_Amt",
                        "Passenger_Count",  'Total_Amt'
                        ], axis=1, inplace=True)
        
    else:
        dataframe = dataframe[
                            (dataframe["passenger_count"]> 0)
                            & (dataframe["total_amount"] > 0)
                                ]
        
        
        dataframe.drop([
                        "RatecodeID", "tolls_amount", "payment_type", 
                        "store_and_fwd_flag","mta_tax", "improvement_surcharge", 
                        "fare_amount", "extra","congestion_surcharge",
                        "airport_fee","VendorID", "tpep_dropoff_datetime", 
                        "passenger_count", "total_amount"
                        ], axis=1, inplace=True)
    
    # Unify the columns' names of year 2009 and 2012
    if "2010-" in file_name or "2009-" in file_name:
         dataframe.columns = [
                            "pickup_datetime", "trip_distance", "pickup_longitude", 
                             "pickup_latitude", "dropoff_longitude", "dropoff_latitude", 
                             "tip_amount"
                            ]
            
    else:
        # Change the IDs to the pick-up and drop-off coordinates, adding columns
        df = pd.merge(dataframe, zones_pickupID, on = "PULocationID")
        dataframe = pd.merge(df, zones_dropoffID, on = "DOLocationID")
        dataframe.drop(["PULocationID", "DOLocationID"], axis=1, inplace=True)
        dataframe.columns = [
            'pickup_datetime', 'trip_distance', 'tip_amount',
            'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude'
                            ]
    

    # Remove the invalide datas
    dataframe = dataframe[
        (dataframe["pickup_longitude"] >= -74.242330)
         & (dataframe["pickup_latitude"] <= 40.908524)
         & (dataframe["pickup_longitude"] <= -73.717047)
         & (dataframe["pickup_latitude"] >= 40.560445)
         & (dataframe["dropoff_longitude"] >= -74.24233)
         & (dataframe["dropoff_latitude"] <= 40.908524)
         & (dataframe["dropoff_longitude"] <= -73.717047)
         & (dataframe["dropoff_latitude"] >= 40.560445)
        ]
    
    # Randomly choose a sample from every month.
    # Accumulated sample size is approximately to the uber data amount
    dataframe = dataframe.sample(n=2550)
    
    return dataframe

UBER DATA

In [39]:
# clean uber data
def load_and_clean_uber_data(csv_file):
    df = pd.read_csv(csv_file)
    df = df.drop(columns = ["key", "Unnamed: 0"])
    df = df[
            (df["pickup_longitude"] >= -74.242330)
            & (df["pickup_latitude"] <= 40.908524)
            & (df["pickup_longitude"] <= -73.717047)
            & (df["pickup_latitude"] >= 40.560445)
            & (df["dropoff_longitude"] >= -74.24233)
            & (df["dropoff_latitude"] <= 40.908524)
            & (df["dropoff_longitude"] <= -73.717047)
            & (df["dropoff_latitude"] >= 40.560445)
            & (df["passenger_count"] > 0)
            & (df["fare_amount"] > 0 )
            ]

    df.drop(["passenger_count","fare_amount"], axis=1, inplace=True)
    df["pickup_datetime"] = pd.to_datetime(df["pickup_datetime"]).apply(lambda t: t.replace(tzinfo=None))
    
    return df

In [11]:
def get_uber_data():
    uber_dataframe = load_and_clean_uber_data(UBER_CSV)
    add_distance_column(uber_dataframe)
    uber_dataframe= uber_dataframe[uber_dataframe["trip_distance"] > 0]
    return uber_dataframe

WEATHER Data

In [13]:
#clean weather data, and deal with the datetime
def clean_month_weather_data_hourly(csv_file):
    import datetime
    df = pd.read_csv(csv_file)
    df2 = df.loc[:, ["DATE", "HourlyWindSpeed",'HourlyPrecipitation']]
    df2["DATE HOUR"] = df2["DATE"].apply(lambda x:x[:-6])
    df2.drop(columns = ["DATE"], axis=1, inplace=True)
    df2["HourlyPrecipitation"].replace("T", 0.001)
    
    df2["HourlyWindSpeed"] = df2["HourlyWindSpeed"].apply(pd.to_numeric, errors = "coerce")
    df2["HourlyPrecipitation"] = df2["HourlyPrecipitation"].apply(pd.to_numeric, errors = "coerce")
    
    df2["HourlyWindSpeed"].fillna(0, inplace=True)
    df2["HourlyPrecipitation"].fillna(0, inplace=True)
    
    df3= df2.groupby(["DATE HOUR"], as_index=False)["HourlyWindSpeed"].mean()
    
    df4= df2.groupby(["DATE HOUR"], as_index=False)["HourlyPrecipitation"].sum()
    
    df4= pd.merge(df3, df4, on="DATE HOUR", how="inner")
    
    df4["DATE HOUR"] = list(map(lambda x: datetime.datetime.strptime(x,"%Y-%m-%dT%H").strftime("%Y-%m-%d %H"), df4["DATE HOUR"]))
    
    return df4

In [40]:
#clean weather data, and deal with the datetime
def clean_month_weather_data_daily(csv_file):
    df = pd.read_csv(csv_file)
    df2 = df.loc[:, ["DATE", "HourlyWindSpeed",'HourlyPrecipitation']]
    df2["DATE DAYLY"] = df2["DATE"].apply(lambda x:x[:-9])
    df2.drop(columns=["DATE"],axis= 1,inplace=True)
    df2["HourlyPrecipitation"].replace('T', 0.001)
    
    df2["HourlyWindSpeed"] = df2["HourlyWindSpeed"].apply(pd.to_numeric, errors = "coerce")
    df2["HourlyPrecipitation"] = df2["HourlyPrecipitation"].apply(pd.to_numeric, errors = "coerce")
    
    
    df2["HourlyWindSpeed"].fillna(0, inplace=True)
    df2["HourlyPrecipitation"].fillna(0, inplace=True)
        
    df3= df2.groupby(["DATE DAYLY"], as_index=False)["HourlyWindSpeed"].mean()
    
    df4= df2.groupby(["DATE DAYLY"], as_index=False)["HourlyPrecipitation"].sum()
    
    df4= pd.merge(df3, df4, on="DATE DAYLY", how='inner')
    df4["DatelyWindSpeed"] = df4["HourlyWindSpeed"]
    df4["DatelyPrecipitation"] = df4["HourlyPrecipitation"]
    
    
    df4.drop(columns=["HourlyPrecipitation","HourlyWindSpeed"],axis= 1,inplace=True)
    
    return df4

In [15]:
def load_and_clean_weather_data():
    hourly_dataframes = []
    daily_dataframes = []

    weather_csv_files = [
                       "2009_weather.csv","2010_weather.csv","2011_weather.csv",
                       "2012_weather.csv","2013_weather.csv","2014_weather.csv",
                       "2015_weather.csv"
                        ]
    
    for csv_file in weather_csv_files:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        daily_dataframes.append(daily_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes)
    daily_data = pd.concat(daily_dataframes)
    daily_data.drop(daily_data.loc[daily_data['DATE DAYLY'] > "2015-06-31"].index, inplace=True)
    hourly_data.drop(hourly_data.loc[hourly_data['DATE HOUR'] > "2015-06-31"].index, inplace=True)
    
    hourly_data.columns = ["datetime", "wind_speed", "precipitation"]
    daily_data.columns = ["datetime", "wind_speed", "precipitation"]
    return hourly_data, daily_data

## Part 2 : Storing Data

In [18]:
engine = db.create_engine(DATABASE_URL, echo=True)

In [19]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
HOURLY_WEATHER_SCHEMA =  """
        CREATE TABLE IF NOT EXISTS hourly_weather_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            datetime DATETIME,
            precipitation FLOAT,
            wind_speed FLOAT
        )
        """

DAILY_WEATHER_SCHEMA = """
        CREATE TABLE IF NOT EXISTS daily_weather_data
        (
           id INTEGER PRIMARY KEY AUTOINCREMENT,
           datetime DATETIME,
           precipitation FLOAT,
           wind_speed FLOAT
        )
        """

TAXI_TRIPS_SCHEMA = """
        CREATE TABLE IF NOT EXISTS taxi_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            pickup_datetime DATETIME,
            trip_distance FLOAT,
            tip_amount FLOAT,
            pickup_longitude FLOAT,
            pickup_latitude FLOAT,
            dropoff_longitude FLOAT,
            dropoff_latitude FLOAT 
        )
        """

UBER_TRIPS_SCHEMA = """
        CREATE TABLE IF NOT EXISTS uber_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            pickup_datetime DATETIME,
            trip_distance FLOAT,
            fare_amount FLOAT,
            pickup_longitude FLOAT,
            pickup_latitude FLOAT,
            dropoff_longitude FLOAT,
            dropoff_latitude FLOAT
        )
        """

In [20]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [21]:
# create the tables with the schema files
with engine.connect() as connection:
    taxi_trips = connection.execute(TAXI_TRIPS_SCHEMA)
    uber_trips = connection.execute(TAXI_TRIPS_SCHEMA)
    daily_weather = connection.execute(DAILY_WEATHER_SCHEMA)
    hourly_weather = connection.execute(HOURLY_WEATHER_SCHEMA)

2022-12-10 20:37:10,274 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS taxi_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            pickup_datetime DATETIME,
            trip_distance FLOAT,
            tip_amount FLOAT,
            pickup_longitude FLOAT,
            pickup_latitude FLOAT,
            dropoff_longitude FLOAT,
            dropoff_latitude FLOAT
        )

2022-12-10 20:37:10,275 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 20:37:10,278 INFO sqlalchemy.engine.Engine COMMIT
2022-12-10 20:37:10,279 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS taxi_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            pickup_datetime DATETIME,
            trip_distance FLOAT,
            tip_amount FLOAT,
            pickup_longitude FLOAT,
            pickup_latitude FLOAT,
            dropoff_longitude FLOAT,
            dropoff_latitude FLOAT
        )

2022-12-10 20:37:10,279 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 20:37:10,280 INFO sqlalchemy.engine.Engine COMMIT
2022-12-10 20:37:10,281 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS daily_weather_data
        (
           id INTEGER PRIMARY KEY AUTOINCREMENT,
           datetime DATETIME,
           precipitation FLOAT,
           wind_speed FLOAT
        )

2022-12-10 20:37:10,282 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 20:37:10,282 INFO sqlalchemy.engine.Engine COMMIT
2022-12-10 20:37:10,283 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS hourly_weather_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            datetime DATETIME,
            precipitation FLOAT,
            wind_speed FLOAT
        )

2022-12-10 20:37:10,283 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 20:37:10,285 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
def get_and_clean_taxi_data():
    all_taxi_dataframes = []
    
    all_csv_urls = find_taxi_csv_urls()
    df_list = []
    for csv_url in all_csv_urls:
        # maybe: first try to see if you've downloaded this exact
        # file already and saved it before trying again
        dataframe = get_and_clean_month_taxi_data(csv_url)
        add_distance_column(dataframe)
        dataframe = dataframe[dataframe["trip_distance"]> 0]
        # maybe: if the file hasn't been saved, save it so you can
        # avoid re-downloading it if you re-run the function
        _df = dataframe
        _df.to_sql("taxi_trips", con=engine, index=False, if_exists="append")
        df_list.append(_df)
    
    
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.concat(df_list)
    taxi_data.to_csv(f'finally_taxi_data.csv', index=False, header=taxi_data.columns, encoding="utf-8")

In [37]:
def add_uber_data_to_db():
    uber_data = get_uber_data()
    uber_data.to_csv(f'finally_uber_data.csv', index=False, header=uber_data.columns, encoding='utf-8')
    
    for i in range(40):
        uber_df = uber_data[i * 5000:(i + 1)*5000]
        uber_df.to_sql('uber_trips', con=engine, index=False, if_exists='append')

In [ ]:
def add_weather_data_to_db():
    hourly_data, daily_data = load_and_clean_weather_data()

    daily_data.to_sql("daily_weather", con=engine, index=False, if_exists="append")
    daily_data.to_csv(f'finally_daily_weather_data.csv', index=False, header=daily_data.columns, encoding="utf-8")

    # Import the hourly weather data to the table in 13 batches and
    # every time has amount of around 5000
    hourly_data.to_csv(f'finally_hourly_weather_data.csv', index=False, header=hourly_data.columns, encoding="utf-8")
    for i in range(13):
        hourly_df = hourly_data[i * 5000:(i + 1)*5000]
        hourly_df.to_sql("hourly_weather", con=engine, index=False, if_exists='append')

### Add data to DataBase

In [23]:
# When we call these three functions, we could get add data to our database
# get_and_clean_taxi_data()
# add_weather_data_to_db()
# add_uber_data_to_db()

In [ ]:
get_and_clean_taxi_data()

In [ ]:
add_weather_data_to_db()

In [ ]:
add_uber_data_to_db()

## Part 3 : Understanding Data

In [26]:
#Question 1: 
def get_hour_popular_yellow_taxi():
    with engine.connect() as connection:
        query_sql = f"select strftime('%H',pickup_datetime) AS cur_hour,count(*) as num from taxi_trips GROUP BY cur_hour order by num desc;"
        # Write the query to the query file
        with open(f'{QUERY_DIRECTORY}/question1.sql', "w") as f:
            f.write(query_sql)
        # Execute the query
        result = connection.execute(query_sql)
        return [r[0] for r in result]
    
print(get_hour_popular_yellow_taxi())

2022-12-10 20:44:38,551 INFO sqlalchemy.engine.Engine select strftime('%H',pickup_datetime) AS cur_hour,count(*) as num from taxi_trips GROUP BY cur_hour order by num desc;
2022-12-10 20:44:38,553 INFO sqlalchemy.engine.Engine [raw sql] ()
['19', '18', '20', '21', '22', '14', '17', '12', '13', '23', '15', '09', '11', '08', '10', '16', '00', '07', '01', '02', '06', '03', '04', '05']

In [27]:
# Question 2:
def get_weekday_popular_uber():
    weekdays_dict = {
        '0': 'Sun',
        '1': 'Mon',
        '2': 'Tue',
        '3': 'Wed',
        '4': 'Thur',
        '5': 'Fri',
        '6': 'Sat'
    }
    with engine.connect() as connection:
        query_sql = f"select strftime('%w',pickup_datetime) AS cur_weekday,count(*) as num from uber_trips GROUP BY cur_weekday order by num desc;"
        # Write the query to the query file
        with open(f'{QUERY_DIRECTORY}/question2.sql', "w") as f:
            f.write(query_sql)
        # Execute the query
        result = connection.execute(query_sql)
        return [weekdays_dict[r[0]] for r in result]
    
print(get_weekday_popular_uber())

2022-12-10 20:44:41,105 INFO sqlalchemy.engine.Engine select strftime('%w',pickup_datetime) AS cur_weekday,count(*) as num from uber_trips GROUP BY cur_weekday order by num desc;
2022-12-10 20:44:41,106 INFO sqlalchemy.engine.Engine [raw sql] ()
['Fri', 'Sat', 'Thur', 'Wed', 'Tue', 'Sun', 'Mon']

In [30]:
# Question 3
def get_sum_trip_distence():
    with engine.connect() as connection:
        distence_query_sql = """
                            select sum(trip_distance)*0.95 as total_distance
                            from 
                            (select * from taxi_trips where strftime('%Y-%m', pickup_datetime) = '2013-07'
                             union all
                             select * from taxi_trips where strftime('%Y-%m', pickup_datetime) = '2013-07')

                            """
        # Write the query to the query file
        with open(f'{QUERY_DIRECTORY}/question3.sql', "w") as f:
            f.write(distence_query_sql)
         # Execute the query
        result = list(connection.execute(distence_query_sql))
        distence = 0
        for row in result:
            print(row)
    
get_sum_trip_distence()

2022-12-10 21:02:18,944 INFO sqlalchemy.engine.Engine
                            select sum(trip_distance)*0.95 as total_distance
                            from
                            (select * from taxi_trips where strftime('%Y-%m', pickup_datetime) = '2013-07'
                             union all
                             select * from taxi_trips where strftime('%Y-%m', pickup_datetime) = '2013-07')


2022-12-10 21:02:18,946 INFO sqlalchemy.engine.Engine [raw sql] ()
(14069.518999999997,)

In [33]:
# Question4
def get_2019_trips_info():
    with engine.connect() as connection:
        q4 = """
        select strftime('%Y-%m-%d', pickup_datetime) as date, count(*) as trips_amount, sum(trip_distance) as distance
        from
        (select pickup_datetime, trip_distance from taxi_trips where strftime('%Y', pickup_datetime) = '2014'
        union all
        select pickup_datetime, trip_distance from uber_trips where strftime('%Y', pickup_datetime) = '2014')
        group by strftime('%m-%d', pickup_datetime)
        order by trips_amount desc
        limit 10
        """
        
        # create the query.sql file
        with open(f'{QUERY_DIRECTORY}/question4.sql', "w") as f:
            f.write(q4)
            
        # check the result
        result = list(connection.execute(q4))
        for row in result:
            print(row)
            
get_2019_trips_info()

2022-12-10 21:04:27,985 INFO sqlalchemy.engine.Engine
        select strftime('%Y-%m-%d', pickup_datetime) as date, count(*) as trips_amount, sum(trip_distance) as distance
        from
        (select * from taxi_trips where strftime('%Y', pickup_datetime) = '2014'
        union all
        select * from uber_trips where strftime('%Y', pickup_datetime) = '2014')
        group by strftime('%m-%d', pickup_datetime)
        order by trips_amount desc
        limit 10

2022-12-10 21:04:27,987 INFO sqlalchemy.engine.Engine [raw sql] ()
('2014-04-12', 231, 734.2488284338865)
('2014-03-29', 228, 660.2575145232145)
('2014-02-01', 222, 678.4233201164744)
('2014-02-28', 221, 631.1204102700872)
('2014-02-07', 219, 652.8391061550848)
('2014-05-16', 218, 639.2120721481293)
('2014-11-01', 214, 666.2615178182924)
('2014-03-01', 213, 596.5033025222677)
('2014-12-11', 211, 622.6627065275238)
('2014-12-13', 207, 649.18667000848)

In [35]:
# Question 5
def get_windest_days():
    with engine.connect() as connection:
        q5 = """
            select strftime('%Y-%m-%d', pickup_datetime) as date, wind_speed, count(*) as trips
            from 
            (select pickup_datetime from taxi_trips where strftime('%Y', pickup_datetime) = '2014'
            union all
            select pickup_datetime from uber_trips where strftime('%Y', pickup_datetime) = '2014')
            left join daily_weather on strftime('%Y-%m-%d', pickup_datetime) = datetime
            group by strftime('%m-%d', pickup_datetime)
            order by wind_speed desc
            limit 10
            """
         # create the query file
        with open(f'{QUERY_DIRECTORY}/question5.sql', "w") as f:
                f.write(q5)
        # check the result
        result = list(connection.execute(q5))

        for row in result:
            print(row)
        
get_windest_days()

2022-12-10 21:04:55,514 INFO sqlalchemy.engine.Engine
            select strftime('%Y-%m-%d', pickup_datetime) as date, wind_speed, count(*) as trips
            from
            (select * from taxi_trips where strftime('%Y', pickup_datetime) = '2014'
            union all
            select * from uber_trips where strftime('%Y', pickup_datetime) = '2014')
            left join daily_weather on strftime('%Y-%m-%d', pickup_datetime) = datetime
            group by strftime('%m-%d', pickup_datetime)
            order by wind_speed desc
            limit 10

2022-12-10 21:04:55,515 INFO sqlalchemy.engine.Engine [raw sql] ()
('2014-03-13', 12.923076923076923, 182)
('2014-01-07', 12.56, 163)
('2014-01-02', 12.352941176470589, 133)
('2014-02-13', 11.781818181818181, 132)
('2014-03-29', 11.666666666666666, 228)
('2014-03-26', 10.52, 176)
('2014-01-03', 9.710526315789474, 105)
('2014-02-14', 9.421052631578947, 170)
('2014-03-30', 8.790697674418604, 148)
('2014-02-15', 8.575, 197)

In [41]:
# Question6
def get_hurricane_trips_info():
    with engine.connect() as connection:

        start_date = datetime.date(2012, 10, 22)
        date_dict = {}
        for i in range(16):
            for j in range(24):
                date_dict[f'{str(start_date)} {j:02d}'] = {
                    'trips_num': 0, 'precipitation': 0, 'wind_speed': 0
                }
                j += 1
            start_date = start_date + datetime.timedelta(days=1)
              
        query1 = """
            select strftime('%Y-%m-%d %H',pickup_datetime) as cur_hour,count(*) as
            trips_num FROM uber_trips where pickup_datetime>='2012-10-22' and pickup_datetime<'2012-11-07' GROUP BY cur_hour;
        """
        result = list(connection.execute(query1))
        for row in result:
            cur_hour = row[0]
            trips_num = row[1]
            temp_dict = date_dict[cur_hour]
            temp_dict['trips_num'] = temp_dict['trips_num'] + trips_num
            
        query2 = """
            select strftime('%Y-%m-%d %H',pickup_datetime) as cur_hour,count(*) as
            trips_num FROM taxi_trips where pickup_datetime>='2012-10-22' and pickup_datetime<'2012-11-07' GROUP BY cur_hour;
        """
        result = list(connection.execute(query2))
        for row in result:
            cur_hour = row[0]
            trips_num = row[1]
            temp_dict = date_dict[cur_hour]
            temp_dict['trips_num'] = temp_dict['trips_num'] + trips_num
            
            
        query3 = """
            select * from hourly_weather where datetime>='2012-10-22' AND datetime<'2012-10-23';
        """
        result = list(connection.execute(query3))
        for row in result:
            cur_hour = str(row[1]).replace(':', '')
            precipitation = row[2]
            wind_speed = row[3]
            temp_dict = date_dict[cur_hour]
            temp_dict['precipitation'] = precipitation
            temp_dict['wind_speed'] = wind_speed
        

        with open(f'{QUERY_DIRECTORY}/question6.sql', "w") as f:
            f.write(query1)
            f.write(query2)
            f.write(query3)
        
        return date_dict
    
get_hurricane_trips_info()

2022-12-10 21:18:09,965 INFO sqlalchemy.engine.Engine
            select strftime('%Y-%m-%d %H',pickup_datetime) as cur_hour,count(*) as
            trips_num FROM uber_trips where pickup_datetime>='2012-10-22' and pickup_datetime<'2012-11-07' GROUP BY cur_hour;

2022-12-10 21:18:09,966 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 21:18:10,047 INFO sqlalchemy.engine.Engine
            select strftime('%Y-%m-%d %H',pickup_datetime) as cur_hour,count(*) as
            trips_num FROM taxi_trips where pickup_datetime>='2012-10-22' and pickup_datetime<'2012-11-07' GROUP BY cur_hour;

2022-12-10 21:18:10,047 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 21:18:10,113 INFO sqlalchemy.engine.Engine
            select * from hourly_weather where datetime>='2012-10-22' AND datetime<'2012-10-23';

2022-12-10 21:18:10,113 INFO sqlalchemy.engine.Engine [raw sql] ()

{'2012-10-22 00': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 01': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 02': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 03': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 04': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 05': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 06': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 07': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 08': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 09': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 10': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 11': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 12': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 13': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 14': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 15': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 16': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 17': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 18': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 19': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 20': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 21': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 22': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 23': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 00': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 01': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 02': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 03': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 04': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 05': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 06': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 07': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 08': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 09': {'trips_num': 16, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 10': {'trips_num': 15, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 11': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 12': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 13': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 14': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 15': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 16': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 17': {'trips_num': 15, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 18': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 19': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 20': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 21': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 22': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 23': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 00': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 01': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 02': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 03': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 04': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 05': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 06': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 07': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 08': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 09': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 10': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 11': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 12': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 13': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 14': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 15': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 16': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 17': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 18': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 19': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 20': {'trips_num': 15, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 21': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 22': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 23': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 00': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 01': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 02': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 03': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 04': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 05': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 06': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 07': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 08': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 09': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 10': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 11': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 12': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 13': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 14': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 15': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 16': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 17': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 18': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 19': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 20': {'trips_num': 16, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 21': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 22': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 23': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 00': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 01': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 02': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 03': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 04': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 05': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 06': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 07': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 08': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 09': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 10': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 11': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 12': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 13': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 14': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 15': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 16': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 17': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 18': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 19': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 20': {'trips_num': 19, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 21': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 22': {'trips_num': 18, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 23': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 00': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 01': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 02': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 03': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 04': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 05': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 06': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 07': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 08': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 09': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 10': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 11': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 12': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 13': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 14': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 15': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 16': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 17': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 18': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 19': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 20': {'trips_num': 15, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 21': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 22': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 23': {'trips_num': 19, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 00': {'trips_num': 15, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 01': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 02': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 03': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 04': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 05': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 06': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 07': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 08': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 09': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 10': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 11': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 12': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 13': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 14': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 15': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 16': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 17': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 18': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 19': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 20': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 21': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 22': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 23': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 00': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 01': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 02': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 03': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 04': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 05': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 06': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 07': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 08': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 09': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 10': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 11': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 12': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 13': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 14': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 15': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 16': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 17': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 18': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 19': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 20': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 21': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 22': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 23': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 00': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 01': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 02': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 03': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 04': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 05': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 06': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 07': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 08': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 09': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 10': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 11': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 12': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 13': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 14': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 15': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 16': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 17': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 18': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 19': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 20': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 21': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 22': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 23': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 00': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 01': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 02': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 03': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 04': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 05': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 06': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 07': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 08': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 09': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 10': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 11': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 12': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 13': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 14': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 15': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 16': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 17': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 18': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 19': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 20': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 21': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 22': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 23': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 00': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 01': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 02': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 03': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 04': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 05': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 06': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 07': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 08': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 09': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 10': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 11': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 12': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 13': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 14': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 15': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 16': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 17': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 18': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 19': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 20': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 21': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 22': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 23': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 00': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 01': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 02': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 03': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 04': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 05': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 06': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 07': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 08': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},

## Extra Credit

In [42]:
SUNSET_SUNRISE_SCHEMA = """
    CREATE TABLE IF NOT EXISTS sunset_sunrise (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        sunrise_time DATETIME,
        sunset_time DATETIME
    );
"""

# create a new table
with open(DATABASE_SCHEMA_FILE, "a") as f:
    f.write(SUNSET_SUNRISE_SCHEMA)

with engine.connect() as connection:
    connection.execute(SUNSET_SUNRISE_SCHEMA)

    
# clean the data
def load_and_clean_weather_sun_data(csv_file):
    df = pd.read_csv(csv_file, low_memory=False)
    df = df.loc[:, ["DATE", "Sunrise",'Sunset']]
    df = df[df['Sunrise'].notnull()]
    
    row_list = []
    for index, row in df.iterrows():
        record_date = str(row['DATE'])[0:10]
        sunrise = f"{int(row['Sunrise']):04d}"
        sunrise_time = f'{record_date} {sunrise[:2]}:{sunrise[2:]}:00'
        row['sunrise_time'] = sunrise_time
        sunset = f"{int(row['Sunset']):04d}"
        sunset_time = f'{record_date} {sunset[:2]}:{sunset[2:]}:00'
        row['sunset_time'] = sunset_time
        row_list.append(row)
    
    new_df = pd.DataFrame(row_list)
    new_df.drop(columns=["DATE", "Sunrise",'Sunset'], axis=1, inplace=True)
    return new_df


with engine.connect() as connection:
    test_sql = f"select * from sunset_sunrise;"
    result = list(connection.execute(test_sql)) 
    for row in result:
        print(row)

load_and_clean_weather_sun_data('weather_2015.csv')

2022-12-10 21:21:52,426 INFO sqlalchemy.engine.Engine
    CREATE TABLE IF NOT EXISTS sunset_sunrise (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        sunrise_time DATETIME,
        sunset_time DATETIME
    );

2022-12-10 21:21:52,427 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 21:21:52,428 INFO sqlalchemy.engine.Engine COMMIT
2022-12-10 21:21:52,430 INFO sqlalchemy.engine.Engine select * from sunset_sunrise;
2022-12-10 21:21:52,430 INFO sqlalchemy.engine.Engine [raw sql] ()
(1, '2015-01-01 07:20:00', '2015-01-01 16:39:00')
(2, '2015-01-02 07:20:00', '2015-01-02 16:40:00')
(3, '2015-01-03 07:20:00', '2015-01-03 16:41:00')
(4, '2015-01-04 07:20:00', '2015-01-04 16:42:00')
(5, '2015-01-05 07:20:00', '2015-01-05 16:43:00')
(6, '2015-01-06 07:20:00', '2015-01-06 16:44:00')
(7, '2015-01-07 07:20:00', '2015-01-07 16:44:00')
(8, '2015-01-08 07:20:00', '2015-01-08 16:45:00')
(9, '2015-01-09 07:20:00', '2015-01-09 16:46:00')
(10, '2015-01-10 07:20:00', '2015-01-10 16:47:00')
(11, '2015-01-11 07:20:00', '2015-01-11 16:49:00')
(12, '2015-01-12 07:19:00', '2015-01-12 16:50:00')
(13, '2015-01-13 07:19:00', '2015-01-13 16:51:00')
(14, '2015-01-14 07:19:00', '2015-01-14 16:52:00')
(15, '2015-01-15 07:18:00', '2015-01-15 16:53:00')
(16, '2015-01-16 07:18:00', '2015-01-16 16:54:00')
(17, '2015-01-17 07:17:00', '2015-01-17 16:55:00')
(18, '2015-01-18 07:17:00', '2015-01-18 16:56:00')
(19, '2015-01-19 07:16:00', '2015-01-19 16:57:00')
(20, '2015-01-20 07:16:00', '2015-01-20 16:59:00')
(21, '2015-01-21 07:15:00', '2015-01-21 17:00:00')
(22, '2015-01-22 07:15:00', '2015-01-22 17:01:00')
(23, '2015-01-23 07:14:00', '2015-01-23 17:02:00')
(24, '2015-01-24 07:13:00', '2015-01-24 17:03:00')
(25, '2015-01-25 07:12:00', '2015-01-25 17:05:00')
(26, '2015-01-26 07:12:00', '2015-01-26 17:06:00')
(27, '2015-01-27 07:11:00', '2015-01-27 17:07:00')
(28, '2015-01-28 07:10:00', '2015-01-28 17:08:00')
(29, '2015-01-29 07:09:00', '2015-01-29 17:10:00')
(30, '2015-01-30 07:08:00', '2015-01-30 17:11:00')
(31, '2015-01-31 07:07:00', '2015-01-31 17:12:00')
(32, '2015-02-01 07:06:00', '2015-02-01 17:13:00')
(33, '2015-02-02 07:05:00', '2015-02-02 17:14:00')
(34, '2015-02-03 07:04:00', '2015-02-03 17:16:00')
(35, '2015-02-04 07:03:00', '2015-02-04 17:17:00')
(36, '2015-02-05 07:02:00', '2015-02-05 17:18:00')
(37, '2015-02-06 07:01:00', '2015-02-06 17:19:00')
(38, '2015-02-07 07:00:00', '2015-02-07 17:21:00')
(39, '2015-02-08 06:59:00', '2015-02-08 17:22:00')
(40, '2015-02-09 06:58:00', '2015-02-09 17:23:00')
(41, '2015-02-10 06:57:00', '2015-02-10 17:24:00')
(42, '2015-02-11 06:55:00', '2015-02-11 17:26:00')
(43, '2015-02-12 06:54:00', '2015-02-12 17:27:00')
(44, '2015-02-13 06:53:00', '2015-02-13 17:28:00')
(45, '2015-02-14 06:52:00', '2015-02-14 17:29:00')
(46, '2015-02-15 06:50:00', '2015-02-15 17:30:00')
(47, '2015-02-16 06:49:00', '2015-02-16 17:32:00')
(48, '2015-02-17 06:48:00', '2015-02-17 17:33:00')
(49, '2015-02-18 06:46:00', '2015-02-18 17:34:00')
(50, '2015-02-19 06:45:00', '2015-02-19 17:35:00')
(51, '2015-02-20 06:44:00', '2015-02-20 17:36:00')
(52, '2015-02-21 06:42:00', '2015-02-21 17:38:00')
(53, '2015-02-22 06:41:00', '2015-02-22 17:39:00')
(54, '2015-02-23 06:39:00', '2015-02-23 17:40:00')
(55, '2015-02-24 06:38:00', '2015-02-24 17:41:00')
(56, '2015-02-25 06:36:00', '2015-02-25 17:42:00')
(57, '2015-02-26 06:35:00', '2015-02-26 17:43:00')
(58, '2015-02-27 06:33:00', '2015-02-27 17:45:00')
(59, '2015-02-28 06:32:00', '2015-02-28 17:46:00')
(60, '2015-03-01 06:30:00', '2015-03-01 17:47:00')
(61, '2015-03-02 06:29:00', '2015-03-02 17:48:00')
(62, '2015-03-03 06:27:00', '2015-03-03 17:49:00')
(63, '2015-03-04 06:26:00', '2015-03-04 17:50:00')
(64, '2015-03-05 06:24:00', '2015-03-05 17:51:00')
(65, '2015-03-06 06:23:00', '2015-03-06 17:53:00')
(66, '2015-03-07 06:21:00', '2015-03-07 17:54:00')
(67, '2015-03-08 06:19:00', '2015-03-08 17:55:00')
(68, '2015-03-09 06:18:00', '2015-03-09 17:56:00')
(69, '2015-03-10 06:16:00', '2015-03-10 17:57:00')
(70, '2015-03-11 06:15:00', '2015-03-11 17:58:00')
(71, '2015-03-12 06:13:00', '2015-03-12 17:59:00')
(72, '2015-03-13 06:11:00', '2015-03-13 18:00:00')
(73, '2015-03-14 06:10:00', '2015-03-14 18:01:00')
(74, '2015-03-15 06:08:00', '2015-03-15 18:02:00')
(75, '2015-03-16 06:06:00', '2015-03-16 18:03:00')
(76, '2015-03-17 06:05:00', '2015-03-17 18:05:00')
(77, '2015-03-18 06:03:00', '2015-03-18 18:06:00')
(78, '2015-03-19 06:01:00', '2015-03-19 18:07:00')
(79, '2015-03-20 06:00:00', '2015-03-20 18:08:00')
(80, '2015-03-21 05:58:00', '2015-03-21 18:09:00')
(81, '2015-03-22 05:56:00', '2015-03-22 18:10:00')
(82, '2015-03-23 05:55:00', '2015-03-23 18:11:00')
(83, '2015-03-24 05:53:00', '2015-03-24 18:12:00')
(84, '2015-03-25 05:51:00', '2015-03-25 18:13:00')
(85, '2015-03-26 05:50:00', '2015-03-26 18:14:00')
(86, '2015-03-27 05:48:00', '2015-03-27 18:15:00')
(87, '2015-03-28 05:47:00', '2015-03-28 18:16:00')
(88, '2015-03-29 05:45:00', '2015-03-29 18:17:00')
(89, '2015-03-30 05:43:00', '2015-03-30 18:18:00')
(90, '2015-03-31 05:42:00', '2015-03-31 18:19:00')
(91, '2015-04-01 05:40:00', '2015-04-01 18:20:00')
(92, '2015-04-02 05:38:00', '2015-04-02 18:21:00')
(93, '2015-04-03 05:37:00', '2015-04-03 18:23:00')
(94, '2015-04-04 05:35:00', '2015-04-04 18:24:00')
(95, '2015-04-05 05:33:00', '2015-04-05 18:25:00')
(96, '2015-04-06 05:32:00', '2015-04-06 18:26:00')
(97, '2015-04-07 05:30:00', '2015-04-07 18:27:00')
(98, '2015-04-08 05:29:00', '2015-04-08 18:28:00')
(99, '2015-04-09 05:27:00', '2015-04-09 18:29:00')
(100, '2015-04-10 05:25:00', '2015-04-10 18:30:00')
(101, '2015-04-11 05:24:00', '2015-04-11 18:31:00')
(102, '2015-04-12 05:22:00', '2015-04-12 18:32:00')
(103, '2015-04-13 05:21:00', '2015-04-13 18:33:00')
(104, '2015-04-14 05:19:00', '2015-04-14 18:34:00')
(105, '2015-04-15 05:18:00', '2015-04-15 18:35:00')
(106, '2015-04-16 05:16:00', '2015-04-16 18:36:00')
(107, '2015-04-17 05:14:00', '2015-04-17 18:37:00')
(108, '2015-04-18 05:13:00', '2015-04-18 18:38:00')
(109, '2015-04-19 05:11:00', '2015-04-19 18:39:00')
(110, '2015-04-20 05:10:00', '2015-04-20 18:40:00')
(111, '2015-04-21 05:08:00', '2015-04-21 18:41:00')
(112, '2015-04-22 05:07:00', '2015-04-22 18:42:00')
(113, '2015-04-23 05:06:00', '2015-04-23 18:44:00')
(114, '2015-04-24 05:04:00', '2015-04-24 18:45:00')
(115, '2015-04-25 05:03:00', '2015-04-25 18:46:00')
(116, '2015-04-26 05:01:00', '2015-04-26 18:47:00')
(117, '2015-04-27 05:00:00', '2015-04-27 18:48:00')
(118, '2015-04-28 04:59:00', '2015-04-28 18:49:00')
(119, '2015-04-29 04:57:00', '2015-04-29 18:50:00')
(120, '2015-04-30 04:56:00', '2015-04-30 18:51:00')
(121, '2015-05-01 04:55:00', '2015-05-01 18:52:00')
(122, '2015-05-02 04:53:00', '2015-05-02 18:53:00')
(123, '2015-05-03 04:52:00', '2015-05-03 18:54:00')
(124, '2015-05-04 04:51:00', '2015-05-04 18:55:00')
(125, '2015-05-05 04:50:00', '2015-05-05 18:56:00')
(126, '2015-05-06 04:49:00', '2015-05-06 18:57:00')
(127, '2015-05-07 04:47:00', '2015-05-07 18:58:00')
(128, '2015-05-08 04:46:00', '2015-05-08 18:59:00')
(129, '2015-05-09 04:45:00', '2015-05-09 19:00:00')
(130, '2015-05-10 04:44:00', '2015-05-10 19:01:00')
(131, '2015-05-11 04:43:00', '2015-05-11 19:02:00')
(132, '2015-05-12 04:42:00', '2015-05-12 19:03:00')
(133, '2015-05-13 04:41:00', '2015-05-13 19:04:00')
(134, '2015-05-14 04:40:00', '2015-05-14 19:05:00')
(135, '2015-05-15 04:39:00', '2015-05-15 19:06:00')
(136, '2015-05-16 04:38:00', '2015-05-16 19:07:00')
(137, '2015-05-17 04:37:00', '2015-05-17 19:08:00')
(138, '2015-05-18 04:36:00', '2015-05-18 19:09:00')
(139, '2015-05-19 04:35:00', '2015-05-19 19:10:00')
(140, '2015-05-20 04:34:00', '2015-05-20 19:11:00')
(141, '2015-05-21 04:34:00', '2015-05-21 19:12:00')
(142, '2015-05-22 04:33:00', '2015-05-22 19:13:00')
(143, '2015-05-23 04:32:00', '2015-05-23 19:14:00')
(144, '2015-05-24 04:31:00', '2015-05-24 19:14:00')
(145, '2015-05-25 04:31:00', '2015-05-25 19:15:00')
(146, '2015-05-26 04:30:00', '2015-05-26 19:16:00')
(147, '2015-05-27 04:29:00', '2015-05-27 19:17:00')
(148, '2015-05-28 04:29:00', '2015-05-28 19:18:00')
(149, '2015-05-29 04:28:00', '2015-05-29 19:19:00')
(150, '2015-05-30 04:28:00', '2015-05-30 19:19:00')
(151, '2015-05-31 04:27:00', '2015-05-31 19:20:00')
(152, '2015-06-01 04:27:00', '2015-06-01 19:21:00')
(153, '2015-06-02 04:26:00', '2015-06-02 19:22:00')
(154, '2015-06-03 04:26:00', '2015-06-03 19:22:00')
(155, '2015-06-04 04:26:00', '2015-06-04 19:23:00')
(156, '2015-06-05 04:25:00', '2015-06-05 19:24:00')
(157, '2015-06-06 04:25:00', '2015-06-06 19:24:00')
(158, '2015-06-07 04:25:00', '2015-06-07 19:25:00')
(159, '2015-06-08 04:25:00', '2015-06-08 19:25:00')
(160, '2015-06-09 04:24:00', '2015-06-09 19:26:00')
(161, '2015-06-10 04:24:00', '2015-06-10 19:27:00')
(162, '2015-06-11 04:24:00', '2015-06-11 19:27:00')
(163, '2015-06-12 04:24:00', '2015-06-12 19:28:00')
(164, '2015-06-13 04:24:00', '2015-06-13 19:28:00')
(165, '2015-06-14 04:24:00', '2015-06-14 19:28:00')
(166, '2015-06-15 04:24:00', '2015-06-15 19:29:00')
(167, '2015-06-16 04:24:00', '2015-06-16 19:29:00')
(168, '2015-06-17 04:24:00', '2015-06-17 19:30:00')
(169, '2015-06-18 04:24:00', '2015-06-18 19:30:00')
(170, '2015-06-19 04:24:00', '2015-06-19 19:30:00')
(171, '2015-06-20 04:24:00', '2015-06-20 19:30:00')
(172, '2015-06-21 04:25:00', '2015-06-21 19:31:00')
(173, '2015-06-22 04:25:00', '2015-06-22 19:31:00')
(174, '2015-06-23 04:25:00', '2015-06-23 19:31:00')
(175, '2015-06-24 04:25:00', '2015-06-24 19:31:00')
(176, '2015-06-25 04:26:00', '2015-06-25 19:31:00')
(177, '2015-06-26 04:26:00', '2015-06-26 19:31:00')
(178, '2015-06-27 04:26:00', '2015-06-27 19:31:00')
(179, '2015-06-28 04:27:00', '2015-06-28 19:31:00')
(180, '2015-06-29 04:27:00', '2015-06-29 19:31:00')
(181, '2015-06-30 04:28:00', '2015-06-30 19:31:00')
(182, '2015-07-01 04:28:00', '2015-07-01 19:31:00')
(183, '2015-07-02 04:29:00', '2015-07-02 19:31:00')
(184, '2015-07-03 04:29:00', '2015-07-03 19:31:00')
(185, '2015-07-04 04:30:00', '2015-07-04 19:31:00')
(186, '2015-07-05 04:30:00', '2015-07-05 19:30:00')
(187, '2015-07-06 04:31:00', '2015-07-06 19:30:00')
(188, '2015-07-07 04:31:00', '2015-07-07 19:30:00')
(189, '2015-07-08 04:32:00', '2015-07-08 19:29:00')
(190, '2015-07-09 04:33:00', '2015-07-09 19:29:00')
(191, '2015-07-10 04:33:00', '2015-07-10 19:29:00')
(192, '2015-07-11 04:34:00', '2015-07-11 19:28:00')
(193, '2015-07-12 04:35:00', '2015-07-12 19:28:00')
(194, '2015-07-13 04:36:00', '2015-07-13 19:27:00')
(195, '2015-07-14 04:36:00', '2015-07-14 19:27:00')
(196, '2015-07-15 04:37:00', '2015-07-15 19:26:00')
(197, '2015-07-16 04:38:00', '2015-07-16 19:26:00')
(198, '2015-07-17 04:39:00', '2015-07-17 19:25:00')
(199, '2015-07-18 04:40:00', '2015-07-18 19:24:00')
(200, '2015-07-19 04:40:00', '2015-07-19 19:24:00')
(201, '2015-07-20 04:41:00', '2015-07-20 19:23:00')
(202, '2015-07-21 04:42:00', '2015-07-21 19:22:00')
(203, '2015-07-22 04:43:00', '2015-07-22 19:21:00')
(204, '2015-07-23 04:44:00', '2015-07-23 19:20:00')
(205, '2015-07-24 04:45:00', '2015-07-24 19:20:00')
(206, '2015-07-25 04:46:00', '2015-07-25 19:19:00')
(207, '2015-07-26 04:46:00', '2015-07-26 19:18:00')
(208, '2015-07-27 04:47:00', '2015-07-27 19:17:00')
(209, '2015-07-28 04:48:00', '2015-07-28 19:16:00')
(210, '2015-07-29 04:49:00', '2015-07-29 19:15:00')
(211, '2015-07-30 04:50:00', '2015-07-30 19:14:00')
(212, '2015-07-31 04:51:00', '2015-07-31 19:13:00')
(213, '2015-08-01 04:52:00', '2015-08-01 19:12:00')
(214, '2015-08-02 04:53:00', '2015-08-02 19:11:00')
(215, '2015-08-03 04:54:00', '2015-08-03 19:09:00')
(216, '2015-08-04 04:55:00', '2015-08-04 19:08:00')
(217, '2015-08-05 04:56:00', '2015-08-05 19:07:00')
(218, '2015-08-06 04:57:00', '2015-08-06 19:06:00')
(219, '2015-08-07 04:58:00', '2015-08-07 19:05:00')
(220, '2015-08-08 04:59:00', '2015-08-08 19:04:00')
(221, '2015-08-09 05:00:00', '2015-08-09 19:02:00')
(222, '2015-08-10 05:01:00', '2015-08-10 19:01:00')
(223, '2015-08-11 05:02:00', '2015-08-11 19:00:00')
(224, '2015-08-12 05:03:00', '2015-08-12 18:58:00')
(225, '2015-08-13 05:04:00', '2015-08-13 18:57:00')
(226, '2015-08-14 05:05:00', '2015-08-14 18:56:00')
(227, '2015-08-15 05:06:00', '2015-08-15 18:54:00')
(228, '2015-08-16 05:07:00', '2015-08-16 18:53:00')
(229, '2015-08-17 05:08:00', '2015-08-17 18:51:00')
(230, '2015-08-18 05:09:00', '2015-08-18 18:50:00')
(231, '2015-08-19 05:10:00', '2015-08-19 18:49:00')
(232, '2015-08-20 05:11:00', '2015-08-20 18:47:00')
(233, '2015-08-21 05:12:00', '2015-08-21 18:46:00')
(234, '2015-08-22 05:13:00', '2015-08-22 18:44:00')
(235, '2015-08-23 05:14:00', '2015-08-23 18:43:00')
(236, '2015-08-24 05:15:00', '2015-08-24 18:41:00')
(237, '2015-08-25 05:16:00', '2015-08-25 18:40:00')
(238, '2015-08-26 05:17:00', '2015-08-26 18:38:00')
(239, '2015-08-27 05:18:00', '2015-08-27 18:37:00')
(240, '2015-08-28 05:19:00', '2015-08-28 18:35:00')
(241, '2015-08-29 05:20:00', '2015-08-29 18:33:00')
(242, '2015-08-30 05:21:00', '2015-08-30 18:32:00')
(243, '2015-08-31 05:22:00', '2015-08-31 18:30:00')
(244, '2015-09-01 05:23:00', '2015-09-01 18:29:00')
(245, '2015-09-02 05:23:00', '2015-09-02 18:27:00')
(246, '2015-09-03 05:24:00', '2015-09-03 18:25:00')
(247, '2015-09-04 05:25:00', '2015-09-04 18:24:00')
(248, '2015-09-05 05:26:00', '2015-09-05 18:22:00')
(249, '2015-09-06 05:27:00', '2015-09-06 18:20:00')
(250, '2015-09-07 05:28:00', '2015-09-07 18:19:00')
(251, '2015-09-08 05:29:00', '2015-09-08 18:17:00')
(252, '2015-09-09 05:30:00', '2015-09-09 18:15:00')
(253, '2015-09-10 05:31:00', '2015-09-10 18:14:00')
(254, '2015-09-11 05:32:00', '2015-09-11 18:12:00')
(255, '2015-09-12 05:33:00', '2015-09-12 18:10:00')
(256, '2015-09-13 05:34:00', '2015-09-13 18:09:00')
(257, '2015-09-14 05:35:00', '2015-09-14 18:07:00')
(258, '2015-09-15 05:36:00', '2015-09-15 18:05:00')
(259, '2015-09-16 05:37:00', '2015-09-16 18:04:00')
(260, '2015-09-17 05:38:00', '2015-09-17 18:02:00')
(261, '2015-09-18 05:39:00', '2015-09-18 18:00:00')
(262, '2015-09-19 05:40:00', '2015-09-19 17:59:00')
(263, '2015-09-20 05:41:00', '2015-09-20 17:57:00')
(264, '2015-09-21 05:42:00', '2015-09-21 17:55:00')
(265, '2015-09-22 05:43:00', '2015-09-22 17:53:00')
(266, '2015-09-23 05:44:00', '2015-09-23 17:52:00')
(267, '2015-09-24 05:45:00', '2015-09-24 17:50:00')
(268, '2015-09-25 05:46:00', '2015-09-25 17:48:00')
(269, '2015-09-26 05:47:00', '2015-09-26 17:47:00')
(270, '2015-09-27 05:48:00', '2015-09-27 17:45:00')
(271, '2015-09-28 05:49:00', '2015-09-28 17:43:00')
(272, '2015-09-29 05:50:00', '2015-09-29 17:42:00')
(273, '2015-09-30 05:51:00', '2015-09-30 17:40:00')
(274, '2015-10-01 05:52:00', '2015-10-01 17:38:00')
(275, '2015-10-02 05:53:00', '2015-10-02 17:37:00')
(276, '2015-10-03 05:54:00', '2015-10-03 17:35:00')
(277, '2015-10-04 05:55:00', '2015-10-04 17:33:00')
(278, '2015-10-05 05:56:00', '2015-10-05 17:32:00')
(279, '2015-10-06 05:57:00', '2015-10-06 17:30:00')
(280, '2015-10-07 05:58:00', '2015-10-07 17:28:00')
(281, '2015-10-08 05:59:00', '2015-10-08 17:27:00')
(282, '2015-10-09 06:00:00', '2015-10-09 17:25:00')
(283, '2015-10-10 06:01:00', '2015-10-10 17:24:00')
(284, '2015-10-11 06:03:00', '2015-10-11 17:22:00')
(285, '2015-10-12 06:04:00', '2015-10-12 17:21:00')
(286, '2015-10-13 06:05:00', '2015-10-13 17:19:00')
(287, '2015-10-14 06:06:00', '2015-10-14 17:17:00')
(288, '2015-10-15 06:07:00', '2015-10-15 17:16:00')
(289, '2015-10-16 06:08:00', '2015-10-16 17:14:00')
(290, '2015-10-17 06:09:00', '2015-10-17 17:13:00')
(291, '2015-10-18 06:10:00', '2015-10-18 17:11:00')
(292, '2015-10-19 06:11:00', '2015-10-19 17:10:00')
(293, '2015-10-20 06:12:00', '2015-10-20 17:08:00')
(294, '2015-10-21 06:13:00', '2015-10-21 17:07:00')
(295, '2015-10-22 06:15:00', '2015-10-22 17:06:00')
(296, '2015-10-23 06:16:00', '2015-10-23 17:04:00')
(297, '2015-10-24 06:17:00', '2015-10-24 17:03:00')
(298, '2015-10-25 06:18:00', '2015-10-25 17:01:00')
(299, '2015-10-26 06:19:00', '2015-10-26 17:00:00')
(300, '2015-10-27 06:20:00', '2015-10-27 16:59:00')
(301, '2015-10-28 06:21:00', '2015-10-28 16:57:00')
(302, '2015-10-29 06:23:00', '2015-10-29 16:56:00')
(303, '2015-10-30 06:24:00', '2015-10-30 16:55:00')
(304, '2015-10-31 06:25:00', '2015-10-31 16:54:00')
(305, '2015-11-01 06:26:00', '2015-11-01 16:52:00')
(306, '2015-11-02 06:27:00', '2015-11-02 16:51:00')
(307, '2015-11-03 06:28:00', '2015-11-03 16:50:00')
(308, '2015-11-04 06:30:00', '2015-11-04 16:49:00')
(309, '2015-11-05 06:31:00', '2015-11-05 16:48:00')
(310, '2015-11-06 06:32:00', '2015-11-06 16:47:00')
(311, '2015-11-07 06:33:00', '2015-11-07 16:46:00')
(312, '2015-11-08 06:34:00', '2015-11-08 16:44:00')
(313, '2015-11-09 06:36:00', '2015-11-09 16:43:00')
(314, '2015-11-10 06:37:00', '2015-11-10 16:42:00')
(315, '2015-11-11 06:38:00', '2015-11-11 16:41:00')
(316, '2015-11-12 06:39:00', '2015-11-12 16:41:00')
(317, '2015-11-13 06:40:00', '2015-11-13 16:40:00')
(318, '2015-11-14 06:41:00', '2015-11-14 16:39:00')
(319, '2015-11-15 06:43:00', '2015-11-15 16:38:00')
(320, '2015-11-16 06:44:00', '2015-11-16 16:37:00')
(321, '2015-11-17 06:45:00', '2015-11-17 16:36:00')
(322, '2015-11-18 06:46:00', '2015-11-18 16:36:00')
(323, '2015-11-19 06:47:00', '2015-11-19 16:35:00')
(324, '2015-11-20 06:48:00', '2015-11-20 16:34:00')
(325, '2015-11-21 06:50:00', '2015-11-21 16:34:00')
(326, '2015-11-22 06:51:00', '2015-11-22 16:33:00')
(327, '2015-11-23 06:52:00', '2015-11-23 16:32:00')
(328, '2015-11-24 06:53:00', '2015-11-24 16:32:00')
(329, '2015-11-25 06:54:00', '2015-11-25 16:31:00')
(330, '2015-11-26 06:55:00', '2015-11-26 16:31:00')
(331, '2015-11-27 06:56:00', '2015-11-27 16:30:00')
(332, '2015-11-28 06:57:00', '2015-11-28 16:30:00')
(333, '2015-11-29 06:58:00', '2015-11-29 16:30:00')
(334, '2015-11-30 06:59:00', '2015-11-30 16:29:00')
(335, '2015-12-01 07:00:00', '2015-12-01 16:29:00')
(336, '2015-12-02 07:02:00', '2015-12-02 16:29:00')
(337, '2015-12-03 07:03:00', '2015-12-03 16:29:00')
(338, '2015-12-04 07:03:00', '2015-12-04 16:28:00')
(339, '2015-12-05 07:04:00', '2015-12-05 16:28:00')
(340, '2015-12-06 07:05:00', '2015-12-06 16:28:00')
(341, '2015-12-07 07:06:00', '2015-12-07 16:28:00')
(342, '2015-12-08 07:07:00', '2015-12-08 16:28:00')
(343, '2015-12-09 07:08:00', '2015-12-09 16:28:00')
(344, '2015-12-10 07:09:00', '2015-12-10 16:28:00')
(345, '2015-12-11 07:10:00', '2015-12-11 16:28:00')
(346, '2015-12-12 07:11:00', '2015-12-12 16:28:00')
(347, '2015-12-13 07:11:00', '2015-12-13 16:29:00')
(348, '2015-12-14 07:12:00', '2015-12-14 16:29:00')
(349, '2015-12-15 07:13:00', '2015-12-15 16:29:00')
(350, '2015-12-16 07:14:00', '2015-12-16 16:29:00')
(351, '2015-12-17 07:14:00', '2015-12-17 16:30:00')
(352, '2015-12-18 07:15:00', '2015-12-18 16:30:00')
(353, '2015-12-19 07:15:00', '2015-12-19 16:30:00')
(354, '2015-12-20 07:16:00', '2015-12-20 16:31:00')
(355, '2015-12-21 07:17:00', '2015-12-21 16:31:00')
(356, '2015-12-22 07:17:00', '2015-12-22 16:32:00')
(357, '2015-12-23 07:18:00', '2015-12-23 16:32:00')
(358, '2015-12-24 07:18:00', '2015-12-24 16:33:00')
(359, '2015-12-25 07:18:00', '2015-12-25 16:34:00')
(360, '2015-12-26 07:19:00', '2015-12-26 16:34:00')
(361, '2015-12-27 07:19:00', '2015-12-27 16:35:00')
(362, '2015-12-28 07:19:00', '2015-12-28 16:36:00')
(363, '2015-12-29 07:20:00', '2015-12-29 16:36:00')
(364, '2015-12-30 07:20:00', '2015-12-30 16:37:00')
(365, '2015-12-31 07:20:00', '2015-12-31 16:38:00')

In [46]:
# Question we made: which one is more popular after 2015-01-31 sunset? Uber or yellow taxi?
def get_sunset_trips_info():
     with engine.connect() as connection:
        uber_trips_sql = """
            select count(*) from uber_trips where pickup_datetime<'2015-02-01' and
            pickup_datetime>=(select sunset_time from sunset_sunrise where sunset_time like '%2015-01-31%');
        """

        uber_trips_data = list(connection.execute(uber_trips_sql))
        uber_trips = uber_trips_data[0][0]
        
        taxi_trips_sql = """
            select count(*) from taxi_trips where pickup_datetime<'2015-02-01' and
            pickup_datetime>=(select sunset_time from sunset_sunrise where sunset_time like '%2015-01-31%');
        """

        taxi_trips_data = list(connection.execute(taxi_trips_sql))
        taxi_trips = taxi_trips_data[0][0]
        

        with open(f'{QUERY_DIRECTORY}/extra_credit.sql', "w") as f:
            f.write(uber_trips_sql)
            f.write(taxi_trips_sql)
        
        if uber_trips > taxi_trips:
            return '2015-01-31 sunset, Uber is more popular'
        else:
            return '2015-01-31 sunset, Taxi is more popular'
        
get_sunset_trips_info()

2022-12-10 21:38:04,261 INFO sqlalchemy.engine.Engine
            select count(*) as total_trips from
            (select * from uber_trips where pickup_datetime<'2015-02-01' and
            pickup_datetime>=(select sunset_time from sunset_sunrise where sunset_time like '%2015-01-31%')
            union all
            select * from taxi_trips where pickup_datetime<'2015-02-01' and
            pickup_datetime>=(select sunset_time from sunset_sunrise where sunset_time like '%2015-01-31%'))

2022-12-10 21:38:04,262 INFO sqlalchemy.engine.Engine [raw sql] ()
[(69,)]

## Part 4: Visualizing the Data

In [ ]:
#p4 q1 
#Create an appropriate visualization for the first query/question in part 3
def popular_hour():
    q1 = """
    select strftime('%H',pickup_datetime) AS cur_hour,count(*) as num
    from taxi_trips GROUP BY cur_hour
    """
    with engine.connect() as connection:

        test1 = connection.execute(q1)
        df1 = DataFrame(test1.fetchall())
        df1.columns = test1.keys()
    plt.bar(df1["cur_hour"], df1["num"], width = 0.2)
    plt.xlabel("hours")
    plt.ylabel("count")
    plt.title("count in each hour")
    plt.show()
popular_hour()

In [ ]:
#p4 q2
#Create a visualization that shows the average distance traveled per month
def get_avg_distance_per_month():
    
    query_sql = """select strftime('%m',pickup_datetime) AS per_month,sum(trip_distance) as trip_distance from taxi_trips GROUP BY per_month;"""
    
    with engine.connect() as connection:
        t4 = connection.execute(query_sql)
        df_4 = DataFrame(t4.fetchall())
        df_4.columns = t4.keys()
    mean = df_4.groupby(["per_month"], as_index=False)['trip_distance'].mean()
    k_lower =  df_4.groupby(["per_month"], as_index=False)['trip_distance'].quantile(0.05)
    k_upper = df_4.groupby(["per_month"], as_index=False)['trip_distance'].quantile(0.95) 
   
    plt.bar(df_4["per_month"],df_4["trip_distance"],yerr=[k_lower['trip_distance'].to_numpy(),k_upper['trip_distance'].to_numpy()], alpha=0.5,width = 0.2)
    plt.xlabel("per_month")
    plt.ylabel("trip distance")
    plt.title("the average distance traveled per month")
    plt.show()
get_avg_distance_per_month()

In [ ]:
#p4 q3
#Define three lat/long coordinate boxes around the three major New York airports: LGA, JFK, and EWR 
#Create a visualization that compares what day of the week was most popular for drop offs for each airport.
def coor_box():
    x= pd.read_sql_table('taxi_trips', engine)
    y = pd.read_sql_table('uber_trips', engine)
    x['pickup_datetime'] = pd.to_datetime(x['pickup_datetime'])
    y['pickup_datetime'] = pd.to_datetime(y['pickup_datetime'])
    k = pd.concat([x, y])

    k["day_of_the_week"] = k['pickup_datetime'].apply(lambda x:x.weekday())
    LGA = (-73.8702, 40.7730)
    JFK = (-73.780968, 40.641766)
    EWR = (-74.184601, 40.695213)
    center_distance = 0.02

    def filter_lnglat(x, lnglat_center, center_distance):
        x1 = x[lnglat_center[0] - center_distance <= x["dropoff_longitude"]]
        x2 = x1[x1["dropoff_longitude"] <= lnglat_center[0] + center_distance]
        x3 = x2[lnglat_center[1] - center_distance <= x2["dropoff_latitude"]]
        x4 = x3[x3["dropoff_latitude"]<= lnglat_center[1] + center_distance]
        return x4

    LGA_df = filter_lnglat(k, LGA, center_distance)
    JFK_df = filter_lnglat(k, JFK, center_distance)
    EWR_df = filter_lnglat(k, EWR, center_distance)
    LGA_count_df = LGA_df.groupby(["day_of_the_week"], as_index=False).count()
    JFK_count_df = JFK_df.groupby(["day_of_the_week"], as_index=False).count()
    EWR_count_df = EWR_df.groupby(["day_of_the_week"], as_index=False).count()
    tick_label = (LGA_count_df["day_of_the_week"] + 1).to_numpy()
    def txt_xy(X, YI, i, bar_width):
        for x,y in zip(X,YI):
            plt.text(x +i*bar_width,y,'%.2f' %y, ha='center',va='bottom', rotation=30)

    x_range = np.arange(7)
    bar_width = 0.1
    plt.bar(x_range, LGA_count_df["pickup_datetime"].to_numpy(), width=bar_width, label="LGA")
    plt.bar(x_range + bar_width, JFK_count_df["pickup_datetime"].to_numpy(), width=bar_width, label="JFK")
    plt.bar(x_range + 2 * bar_width, EWR_count_df["pickup_datetime"].to_numpy(), width=bar_width, label="EWR")

    plt.xticks(x_range + bar_width/2, tick_label, rotation=30)
    plt.legend()
    plt.show()

In [ ]:
#P4 Q4
# Create a heatmap of all hired trips over a map of the area. Consider using KeplerGL 
def heatmap():
    q4 = """
        select pickup_latitude, pickup_longitude
        from (select pickup_latitude, pickup_longitude
            from taxi_trips union all select pickup_latitude, pickup_longitude
            from uber_trips
        ) 
    """
    with engine.connect() as connection:
        t2 = connection.execute(q4)
        df_2 = DataFrame(t2.fetchall())
        df_2.columns = t2.keys()
        

    df_kepler = df_2[["pickup_longitude", "pickup_latitude"]]
    df_kepler["Latitude"] = df_kepler["pickup_latitude"]
    df_kepler["Longitude"] = df_kepler["pickup_longitude"]
    df_kepler["City"] = "NY"
    df_kepler = df_kepler.drop(columns="pickup_latitude")
    df_kepler = df_kepler.drop(columns="pickup_longitude")


    map_2 = KeplerGl(height=400, data={"data_1": df_kepler})
    return map_2

In [ ]:
#p4 q5
#Create a scatter plot that compares tip amount versus distance.
def tip_versus_distance():
    q5 = """
        select trip_distance, tip_amount from taxi_trips
    """

    with engine.connect() as connection:
        t5 = connection.execute(q5)
        df_5 = DataFrame(t5.fetchall())
        df_5.columns = t5.keys()
        
    x_filtered = df_5[df_5["tip_amount"] < df_5["tip_amount"].quantile(0.9999)]
    x_filtered2 = x_filtered[x_filtered["trip_distance"] < x_filtered["trip_distance"].quantile(0.99999)]
    plt.scatter(x_filtered2["trip_distance"], x_filtered2["tip_amount"],s = 1)
    plt.xlabel("trip distance")
    plt.ylabel("tip amount")
    plt.title("tip amount versus distance")
    plt.show()

In [ ]:
#p4 q6
#Create another scatter plot that compares tip amount versus precipitation amount.
def tip_versus_Precipitation():
    hourly_ps= pd.read_sql_table('hourly_weather', engine)
    x= pd.read_sql_table('taxi_trips', engine)
    x["pickup_hour"] = x["pickup_datetime"].astype("str").apply(lambda x: x[:13])
    hourly_ps["datetime"] = hourly_ps["datetime"].astype("str").apply(lambda x:x[:13])
    x_joined = x.set_index('pickup_hour').join(hourly_ps.set_index('datetime'))
    x_joined_filtered = x_joined[x_joined["tip_amount"] < x_joined["tip_amount"].quantile(0.9999)]
    plt.scatter(x_joined_filtered["tip_amount"], x_joined_filtered["precipitation"],s = 1)
    plt.xlabel("tip amount")
    plt.ylabel("HourlyPrecipitation")
    plt.title("tip amount versus Hourly Precipitation")
    plt.show()
tip_versus_Precipitation()