In [1]:
# all import statements needed for the project, for example:
import math
import pandas as pd
import requests 
import sqlalchemy as db
from pandas import read_parquet
from pyarrow.parquet import ParquetDataset
from bs4 import BeautifulSoup
import re
import geopandas as gpd
from shapely.geometry import Point
from geopandas import GeoDataFrame
from datetime import datetime
import datetime
import glob
import os
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, scoped_session
import matplotlib.pyplot as plt
import sqlite3
from datetime import datetime
from scipy import stats
import numpy as np
from keplergl import KeplerGl
from pandas import DataFrame

In [2]:
# any constants you might need, for example:

TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
# add other constants to refer to any local data, e.g. uber & weather
UBER_CSV = "uber_rides_sample.csv"

NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))
redius = 6378.137
DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"
TAXI_DIR = 'taxi_files'
WEATHER_DIR = "weather_files"

zones_df =gpd.read_file(r"taxi_zones.shp")
zones_df.to_csv("taxi_zones.csv")
zones_df = zones_df.to_crs(4326)
zones_df["lat"] = zones_df.centroid.x
zones_df["lon"] = zones_df.centroid.y
zones_data = []

zones_pickupID = zones_df.drop(
                ["OBJECTID","Shape_Leng",
                "Shape_Area","zone",
                "borough","geometry"],
                axis="columns").rename(
                columns={
                "LocationID":"PULocationID",
                "lon":"pickup_latitude",
                "lat":"pickup_longitude"
                })
zones_dropoffID = zones_df.drop(
                ["OBJECTID","Shape_Leng",
                "Shape_Area","zone",
                "borough","geometry"],
                axis="columns").rename(
                columns={
                "LocationID":"DOLocationID",
                "lon":"dropoff_latitude",
                "lat":"dropoff_longitude"
                })

/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/1818290535.py:18: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  zones_df["lat"] = zones_df.centroid.x
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/1818290535.py:19: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  zones_df["lon"] = zones_df.centroid.y

Taxi data

In [3]:

# Calculate the distance through coordinates
def calculate_distance(from_coord, to_coord):
    lat1, lon1 = from_coord
    lat2, lon2 = to_coord

    diff_lat = math.radians(lat2 - lat1)
    diff_lon = math.radians(lon2 - lon1)
    
    cal_dis = (math.sin(diff_lat / 2) * math.sin(diff_lat / 2) +
             math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
             math.sin(diff_lon / 2) * math.sin(diff_lon / 2))
    cal_dis = 2 * math.atan2(math.sqrt(cal_dis), math.sqrt(1 - cal_dis))
    distance = redius * cal_dis

    return distance
    

# Add the coordinate columns to the dataframe
def add_distance_column(dataframe):
    dataframe["trip_distance"] = dataframe.apply(
                                lambda row: calculate_distance((row.pickup_longitude, row.pickup_latitude), 
                                                               (row.dropoff_longitude, row.dropoff_latitude)), 
                                                                axis=1)
    return dataframe

In [4]:
### Part 1: Data Preprocessing

In [5]:
# Get the download links of yellow taxi from 2009-01 to 2015-06
def find_taxi_csv_urls():
    response = requests.get(TAXI_URL)
    soup = BeautifulSoup(response.text, "html.parser")
    url_tags = soup.find_all("a", title="Yellow Taxi Trip Records")
    all_csv_urls = []
    pattern = "2009|2010|2011|2012|2013|2014|2015-0[1-6]"

    for url_tag in url_tags:
        if re.findall(pattern, url_tag["href"]):
            all_csv_urls.append(url_tag["href"])

    return all_csv_urls

In [6]:
def load_data_from_filename(filename):
    data = pd.read_parquet(filename)
    return data

In [7]:
# clean monthly yellow taxi data
def get_and_clean_month_taxi_data(url:str):
    file_name = url.split('/')[-1]
    if not os.path.exists(f'{TAXI_DIR}/{file_name}'):
        with open(f'{TAXI_DIR}/{file_name}', 'wb') as f:
            res = requests.get(url)
            f.write(res.content)

    dataframe = load_data_from_filename(f'{TAXI_DIR}/{file_name}')
    # Delete the useless columns
    # Attention: year 2009 and 2010 have unexpected columns' names.
    if "2010-" in file_name:
        dataframe = dataframe[
                            (dataframe["passenger_count"]> 0)
                            & (dataframe["total_amount"] > 0)
                                ]
        dataframe.drop([
                        "vendor_id", "dropoff_datetime", "rate_code", "store_and_fwd_flag",
                        "payment_type", "fare_amount", "surcharge",
                        "mta_tax","tolls_amount","passenger_count", 
                        "total_amount"
                        ], axis=1, inplace=True)
        
    elif "2009-" in file_name:
        dataframe = dataframe[
                            (dataframe["Passenger_Count"]> 0)
                            & (dataframe["Total_Amt"] > 0)
                                ]
        
        dataframe.drop([
                        "vendor_name", "Trip_Dropoff_DateTime", "Rate_Code",
                        "store_and_forward", "Payment_Type", "Fare_Amt", 
                        "surcharge", "mta_tax","Tolls_Amt",
                        "Passenger_Count",  'Total_Amt'
                        ], axis=1, inplace=True)
        
    else:
        dataframe = dataframe[
                            (dataframe["passenger_count"]> 0)
                            & (dataframe["total_amount"] > 0)
                                ]
        
        
        dataframe.drop([
                        "RatecodeID", "tolls_amount", "payment_type", 
                        "store_and_fwd_flag","mta_tax", "improvement_surcharge", 
                        "fare_amount", "extra","congestion_surcharge",
                        "airport_fee","VendorID", "tpep_dropoff_datetime", 
                        "passenger_count", "total_amount"
                        ], axis=1, inplace=True)
    
    # Unify the columns' names of year 2009 and 2012
    if "2010-" in file_name or "2009-" in file_name:
         dataframe.columns = [
                            "pickup_datetime", "trip_distance", "pickup_longitude", 
                             "pickup_latitude", "dropoff_longitude", "dropoff_latitude", 
                             "tip_amount"
                            ]
            
    else:
        # Change the IDs to the pick-up and drop-off coordinates, adding columns
        df = pd.merge(dataframe, zones_pickupID, on = "PULocationID")
        dataframe = pd.merge(df, zones_dropoffID, on = "DOLocationID")
        dataframe.drop(["PULocationID", "DOLocationID"], axis=1, inplace=True)
        dataframe.columns = [
            'pickup_datetime', 'trip_distance', 'tip_amount',
            'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude'
                            ]
    

    # Remove the invalide datas
    dataframe = dataframe[
        (dataframe["pickup_longitude"] >= -74.242330)
         & (dataframe["pickup_latitude"] <= 40.908524)
         & (dataframe["pickup_longitude"] <= -73.717047)
         & (dataframe["pickup_latitude"] >= 40.560445)
         & (dataframe["dropoff_longitude"] >= -74.24233)
         & (dataframe["dropoff_latitude"] <= 40.908524)
         & (dataframe["dropoff_longitude"] <= -73.717047)
         & (dataframe["dropoff_latitude"] >= 40.560445)
        ]
    
    # Randomly choose a sample from every month.
    # Accumulated sample size is approximately to the uber data amount
    dataframe = dataframe.sample(n=2550)
    
    return dataframe

UBER DATA

In [8]:
# clean uber data
def load_and_clean_uber_data(csv_file):
    df = pd.read_csv(csv_file)
    df = df.drop(columns = ["key", "Unnamed: 0"])
    df = df[
            (df["pickup_longitude"] >= -74.242330)
            & (df["pickup_latitude"] <= 40.908524)
            & (df["pickup_longitude"] <= -73.717047)
            & (df["pickup_latitude"] >= 40.560445)
            & (df["dropoff_longitude"] >= -74.24233)
            & (df["dropoff_latitude"] <= 40.908524)
            & (df["dropoff_longitude"] <= -73.717047)
            & (df["dropoff_latitude"] >= 40.560445)
            & (df["passenger_count"] > 0)
            & (df["fare_amount"] > 0 )
            ]

    df.drop(["passenger_count","fare_amount"], axis=1, inplace=True)
    df["pickup_datetime"] = pd.to_datetime(df["pickup_datetime"]).apply(lambda t: t.replace(tzinfo=None))
    
    return df

In [9]:
def get_uber_data():
    uber_dataframe = load_and_clean_uber_data(UBER_CSV)
    add_distance_column(uber_dataframe)
    uber_dataframe= uber_dataframe[uber_dataframe["trip_distance"] > 0]
    return uber_dataframe

WEATHER Data

In [29]:
#clean weather data, and deal with the datetime

def clean_month_weather_data_hourly(csv_file):
    import datetime
    df = pd.read_csv(csv_file)
    df2 = df.loc[:, ["DATE", "HourlyWindSpeed",'HourlyPrecipitation']]
    df2["DATE HOUR"] = df2["DATE"].apply(lambda x:x[:-6])
    df2.drop(columns = ["DATE"], axis=1, inplace=True)
    df2["HourlyPrecipitation"].replace("T", 0.001)
    
    df2["HourlyWindSpeed"] = df2["HourlyWindSpeed"].apply(pd.to_numeric, errors = "coerce")
    df2["HourlyPrecipitation"] = df2["HourlyPrecipitation"].apply(pd.to_numeric, errors = "coerce")
    
    df2["HourlyWindSpeed"].fillna(0, inplace=True)
    df2["HourlyPrecipitation"].fillna(0, inplace=True)
    
    df3= df2.groupby(["DATE HOUR"], as_index=False)["HourlyWindSpeed"].mean()
    
    df4= df2.groupby(["DATE HOUR"], as_index=False)["HourlyPrecipitation"].sum()
    
    df4= pd.merge(df3, df4, on="DATE HOUR", how="inner")
    
    df4["DATE HOUR"] = list(map(lambda x: datetime.datetime.strptime(x,"%Y-%m-%dT%H").strftime("%Y-%m-%d %H"), df4["DATE HOUR"]))
    
    return df4

In [30]:
#clean weather data, and deal with the datetime
def clean_month_weather_data_daily(csv_file):
    df = pd.read_csv(csv_file)
    df2 = df.loc[:, ["DATE", "HourlyWindSpeed",'HourlyPrecipitation']]
    df2["DATE DAYLY"] = df2["DATE"].apply(lambda x:x[:-9])
    df2.drop(columns=["DATE"],axis= 1,inplace=True)
    df2["HourlyPrecipitation"].replace('T', 0.001)
    
    df2["HourlyWindSpeed"] = df2["HourlyWindSpeed"].apply(pd.to_numeric, errors = "coerce")
    df2["HourlyPrecipitation"] = df2["HourlyPrecipitation"].apply(pd.to_numeric, errors = "coerce")
    
    
    df2["HourlyWindSpeed"].fillna(0, inplace=True)
    df2["HourlyPrecipitation"].fillna(0, inplace=True)
        
    df3= df2.groupby(["DATE DAYLY"], as_index=False)["HourlyWindSpeed"].mean()
    
    df4= df2.groupby(["DATE DAYLY"], as_index=False)["HourlyPrecipitation"].sum()
    
    df4= pd.merge(df3, df4, on="DATE DAYLY", how='inner')
    df4["DatelyWindSpeed"] = df4["HourlyWindSpeed"]
    df4["DatelyPrecipitation"] = df4["HourlyPrecipitation"]
    
    
    df4.drop(columns=["HourlyPrecipitation","HourlyWindSpeed"],axis= 1,inplace=True)
    
    return df4

In [31]:
def load_and_clean_weather_data():
    hourly_dataframes = []
    daily_dataframes = []

    weather_csv_files = [
                       "2009_weather.csv","2010_weather.csv","2011_weather.csv",
                       "2012_weather.csv","2013_weather.csv","2014_weather.csv",
                       "2015_weather.csv"
                        ]
    
    for csv_file in weather_csv_files:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        daily_dataframes.append(daily_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes)
    daily_data = pd.concat(daily_dataframes)
    daily_data.drop(daily_data.loc[daily_data['DATE DAYLY'] > "2015-06-31"].index, inplace=True)
    hourly_data.drop(hourly_data.loc[hourly_data['DATE HOUR'] > "2015-06-31"].index, inplace=True)
    
    hourly_data.columns = ["datetime", "wind_speed", "precipitation"]
    daily_data.columns = ["datetime", "wind_speed", "precipitation"]
    return hourly_data, daily_data

## Part 2 : Storing Data

In [13]:
engine = db.create_engine(DATABASE_URL, echo=True)

In [14]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
HOURLY_WEATHER_SCHEMA =  """
        CREATE TABLE IF NOT EXISTS hourly_weather_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            datetime DATETIME,
            precipitation FLOAT,
            wind_speed FLOAT
        )
        """

DAILY_WEATHER_SCHEMA = """
        CREATE TABLE IF NOT EXISTS daily_weather_data
        (
           id INTEGER PRIMARY KEY AUTOINCREMENT,
           datetime DATETIME,
           precipitation FLOAT,
           wind_speed FLOAT
        )
        """

TAXI_TRIPS_SCHEMA = """
        CREATE TABLE IF NOT EXISTS taxi_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            pickup_datetime DATETIME,
            trip_distance FLOAT,
            tip_amount FLOAT,
            pickup_longitude FLOAT,
            pickup_latitude FLOAT,
            dropoff_longitude FLOAT,
            dropoff_latitude FLOAT 
        )
        """

UBER_TRIPS_SCHEMA = """
        CREATE TABLE IF NOT EXISTS uber_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            pickup_datetime DATETIME,
            trip_distance FLOAT,
            fare_amount FLOAT,
            pickup_longitude FLOAT,
            pickup_latitude FLOAT,
            dropoff_longitude FLOAT,
            dropoff_latitude FLOAT
        )
        """

In [15]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [16]:
# create the tables with the schema files
with engine.connect() as connection:
    taxi_trips = connection.execute(TAXI_TRIPS_SCHEMA)
    uber_trips = connection.execute(TAXI_TRIPS_SCHEMA)
    daily_weather = connection.execute(DAILY_WEATHER_SCHEMA)
    hourly_weather = connection.execute(HOURLY_WEATHER_SCHEMA)

2022-12-11 15:47:31,723 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS taxi_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            pickup_datetime DATETIME,
            trip_distance FLOAT,
            tip_amount FLOAT,
            pickup_longitude FLOAT,
            pickup_latitude FLOAT,
            dropoff_longitude FLOAT,
            dropoff_latitude FLOAT
        )

2022-12-11 15:47:31,724 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:47:31,727 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:47:31,728 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS taxi_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            pickup_datetime DATETIME,
            trip_distance FLOAT,
            tip_amount FLOAT,
            pickup_longitude FLOAT,
            pickup_latitude FLOAT,
            dropoff_longitude FLOAT,
            dropoff_latitude FLOAT
        )

2022-12-11 15:47:31,728 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:47:31,729 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:47:31,729 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS daily_weather_data
        (
           id INTEGER PRIMARY KEY AUTOINCREMENT,
           datetime DATETIME,
           precipitation FLOAT,
           wind_speed FLOAT
        )

2022-12-11 15:47:31,730 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:47:31,732 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:47:31,732 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS hourly_weather_data
        (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            datetime DATETIME,
            precipitation FLOAT,
            wind_speed FLOAT
        )

2022-12-11 15:47:31,733 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:47:31,735 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
def get_and_clean_taxi_data():
    
    all_csv_urls = find_taxi_csv_urls()
    df_list = []
    for csv_url in all_csv_urls:
        # maybe: first try to see if you've downloaded this exact
        # file already and saved it before trying again
        dataframe = get_and_clean_month_taxi_data(csv_url)
        add_distance_column(dataframe)
        dataframe = dataframe[dataframe["trip_distance"]> 0]
        # maybe: if the file hasn't been saved, save it so you can
        # avoid re-downloading it if you re-run the function
        _df = dataframe
        _df.to_sql("taxi_trips", con=engine, index=False, if_exists="append")
        df_list.append(_df)
    
    
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.concat(df_list)
    taxi_data.to_csv(f'finally_taxi_data.csv', index=False, header=taxi_data.columns, encoding="utf-8")

In [18]:
def add_uber_data_to_db():
    uber_data = get_uber_data()
    uber_data.to_csv(f'finally_uber_data.csv', index=False, header=uber_data.columns, encoding='utf-8')
    
    for i in range(40):
        uber_df = uber_data[i * 5000:(i + 1)*5000]
        uber_df.to_sql('uber_trips', con=engine, index=False, if_exists='append')

In [32]:
def add_weather_data_to_db():
    hourly_data, daily_data = load_and_clean_weather_data()

    daily_data.to_sql("daily_weather", con=engine, index=False, if_exists="append")
    daily_data.to_csv(f'finally_daily_weather_data.csv', index=False, header=daily_data.columns, encoding="utf-8")

    # Import the hourly weather data to the table in 13 batches and
    # every time has amount of around 5000
    hourly_data.to_csv(f'finally_hourly_weather_data.csv', index=False, header=hourly_data.columns, encoding="utf-8")
    for i in range(13):
        hourly_df = hourly_data[i * 5000:(i + 1)*5000]
        hourly_df.to_sql("hourly_weather", con=engine, index=False, if_exists='append')

### Add data to DataBase

In [20]:
# When we call these three functions, we could get add data to our database
# get_and_clean_taxi_data()
# add_weather_data_to_db()
# add_uber_data_to_db()

In [21]:
get_and_clean_taxi_data()

2022-12-11 15:47:53,075 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:47:53,077 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:47:53,079 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("taxi_trips")
2022-12-11 15:47:53,079 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:47:53,080 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:47:53,081 INFO sqlalchemy.engine.Engine
CREATE TABLE taxi_trips (
	pickup_datetime DATETIME,
	trip_distance FLOAT,
	tip_amount FLOAT,
	pickup_longitude FLOAT,
	pickup_latitude FLOAT,
	dropoff_longitude FLOAT,
	dropoff_latitude FLOAT
)


2022-12-11 15:47:53,082 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2022-12-11 15:47:53,084 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:47:53,087 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:47:53,110 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:47:53,110 INFO sqlalchemy.engine.Engine [generated in 0.01888s] (('2015-01-14 11:10:39.000000', 0.7594892064839277, 1.0, -73.99697141558364, 40.74227862901228, -74.00153756565634, 40.72388811004171), ('2015-01-16 12:44:36.000000', 0.5398022193755379, 1.15, -74.00787970866403, 40.717772736265175, -74.00366456329895, 40.7090727427931), ('2015-01-30 08:26:43.000000', 0.5763416386100594, 1.35, -73.9681683330924, 40.79796199310004, -73.97304890061594, 40.791704934427074), ('2015-01-23 19:25:50.000000', 22.27826305778486, 0.0, -73.98419648907571, 40.75981761719184, -73.78653298334979, 40.64698489239519), ('2015-01-03 23:46:56.000000', 1.4601279421660425, 0.0, -73.99089626184734, 40.71893835938025, -73.98419648907571, 40.75981761719184), ('2015-01-20 17:04:44.000000', 7.0811298087074, 6.7, -73.99430477051168, 40.73257907302703, -73.93188826440708, 40.688168186954954), ('2015-01-11 23:30:44.000000', 4.009773540345767, 2.0, -73.96563453538072, 40.76861518381155, -73.99815149899052, 40.71245931177952), ('2015-01-28 08:58:44.000000', 1.9562934557172114, 0.0, -73.99513522075519, 40.766237725041876, -73.97756868222719, 40.7644214057868)  ... displaying 10 of 2416 total bound parameter sets ...  ('2015-01-08 18:55:36.000000', 0.6587883896076417, 2.55, -73.99045782354733, 40.74033744175702, -73.99089626184734, 40.71893835938025), ('2015-01-20 18:04:31.000000', 3.744219055724107, 0.0, -73.96563453538072, 40.76861518381155, -73.99738026020043, 40.728340391372306))
2022-12-11 15:47:53,117 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:48:08,883 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:48:08,885 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:48:08,889 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:48:08,911 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:48:08,912 INFO sqlalchemy.engine.Engine [generated in 0.01792s] (('2015-02-05 13:03:21.000000', 0.9707865984941294, 0.0, -73.94651035601463, 40.775932403149945, -73.95473878380503, 40.765484087889845), ('2015-02-09 21:22:37.000000', 3.0470433293562107, 2.66, -73.99243753697608, 40.748497181405, -73.96563453538072, 40.76861518381155), ('2015-02-16 12:50:54.000000', 2.199346484691268, 1.85, -73.97769793122403, 40.758028043526274, -73.99697141558364, 40.74227862901228), ('2015-02-04 10:12:01.000000', 1.8185677374827074, 2.76, -73.97304890061594, 40.791704934427074, -73.95701169835736, 40.78043643718997), ('2015-02-12 12:54:18.000000', 0.8795915166726198, 1.24, -73.98515639467684, 40.74857462935672, -73.97769793122403, 40.758028043526274), ('2015-02-18 21:58:45.000000', 0.5223585911886774, 1.26, -73.99691854183823, 40.72088889344527, -74.00153756565634, 40.72388811004171), ('2015-02-07 17:22:40.000000', 0.727533925015393, 0.0, -73.99045782354733, 40.74033744175702, -73.99697141558364, 40.74227862901228), ('2015-02-10 06:02:04.000000', 0.5115182936370054, 0.0, -73.99243753697608, 40.748497181405, -73.98984464313301, 40.762252755319366)  ... displaying 10 of 2420 total bound parameter sets ...  ('2015-02-15 13:50:16.000000', 1.7188449784455253, 2.26, -73.96514579918421, 40.75672894163307, -73.97863194845081, 40.78396143031378), ('2015-02-25 13:39:53.000000', 4.9821951784486815, 3.84, -73.94575026755156, 40.79001075149545, -73.98984464313301, 40.762252755319366))
2022-12-11 15:48:08,918 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:48:25,490 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:48:25,492 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:48:25,497 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:48:25,519 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:48:25,520 INFO sqlalchemy.engine.Engine [generated in 0.01880s] (('2015-03-17 20:05:34.000000', 0.23438500557114297, 1.05, -73.99738026020043, 40.728340391372306, -73.99691854183823, 40.72088889344527), ('2015-03-06 23:32:19.000000', 4.2724419941170835, 6.36, -73.99089626184734, 40.71893835938025, -73.96176359682921, 40.80945696112528), ('2015-03-05 16:30:44.000000', 1.948837427662806, 2.35, -73.97696825691766, 40.723752141584804, -73.99430477051168, 40.73257907302703), ('2015-03-28 10:33:59.000000', 0.5727554398914396, 0.95, -74.00748581800953, 40.7262904102812, -74.00287495910837, 40.73457600733177), ('2015-03-09 14:21:48.000000', 4.499667073616797, 3.86, -73.97769793122403, 40.758028043526274, -74.01607915192923, 40.71203815707447), ('2015-03-09 12:42:48.000000', 1.0264381047479427, 0.0, -73.95701169835736, 40.78043643718997, -73.96563453538072, 40.76861518381155), ('2015-03-24 20:39:19.000000', 0.4263530865862929, 1.82, -73.96563453538072, 40.76861518381155, -73.96555356545913, 40.78247809974789), ('2015-03-19 01:19:30.000000', 0.3614553339037033, 0.0, -73.98419648907571, 40.75981761719184, -73.98515639467684, 40.74857462935672)  ... displaying 10 of 2419 total bound parameter sets ...  ('2015-03-12 17:21:44.000000', 1.6576841263658668, 1.95, -73.96563453538072, 40.76861518381155, -73.95100987481798, 40.77876585543437), ('2015-03-01 12:05:13.000000', 0.5250180052712545, 0.0, -73.95473878380503, 40.765484087889845, -73.95701169835736, 40.78043643718997))
2022-12-11 15:48:25,526 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:48:41,010 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:48:41,012 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:48:41,016 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:48:41,038 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:48:41,039 INFO sqlalchemy.engine.Engine [generated in 0.01821s] (('2015-04-10 18:27:39.000000', 0.7773509897864818, 1.76, -73.99738026020043, 40.728340391372306, -73.99089626184734, 40.71893835938025), ('2015-04-15 19:54:36.000000', 1.8208888850746836, 1.5, -73.99430477051168, 40.73257907302703, -73.97849159965226, 40.747745793643915), ('2015-04-17 19:12:37.000000', 0.952947410435878, 3.0, -73.95701169835736, 40.78043643718997, -73.96555356545913, 40.78247809974789), ('2015-04-30 09:48:52.000000', 2.797753626690328, 0.0, -74.0074959856243, 40.70680845166585, -73.98515639467684, 40.74857462935672), ('2015-04-03 00:22:24.000000', 5.368258186350464, 1.6, -73.98419648907571, 40.75981761719184, -73.9373456081249, 40.8011694805865), ('2015-04-06 09:49:52.000000', 1.4379517306167124, 1.82, -73.97235594352028, 40.75668765218882, -73.98405213268919, 40.736824057618975), ('2015-04-23 18:43:24.000000', 4.200858069003333, 0.0, -74.0074959856243, 40.70680845166585, -73.97235594352028, 40.75668765218882), ('2015-04-29 15:01:18.000000', 2.1043678099847343, 0.0, -73.98515639467684, 40.74857462935672, -74.00401512528647, 40.753309065983395)  ... displaying 10 of 2416 total bound parameter sets ...  ('2015-04-30 01:17:44.000000', 1.8888606355840667, 1.46, -73.9681683330924, 40.79796199310004, -73.9512920024351, 40.804333949794604), ('2015-04-19 10:24:29.000000', 1.0955085650129595, 1.0, -73.97304890061594, 40.791704934427074, -73.98153220639182, 40.7736332930271))

2022-12-11 15:48:41,044 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:48:57,217 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:48:57,219 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:48:57,224 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:48:57,245 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:48:57,246 INFO sqlalchemy.engine.Engine [generated in 0.01817s] (('2015-05-29 15:10:26.000000', 5.4053130474177316, 4.26, -73.87362864289108, 40.77437570593249, -73.82871246597531, 40.70805099798807), ('2015-05-24 15:44:58.000000', 1.7993850197997374, 0.0, -73.98153220639182, 40.7736332930271, -73.96555356545913, 40.78247809974789), ('2015-05-13 21:31:44.000000', 3.375730463452032, 0.0, -73.96514579918421, 40.75672894163307, -73.93482888929137, 40.7542425205003), ('2015-05-01 19:20:42.000000', 2.1407635218223757, 0.0, -73.96563453538072, 40.76861518381155, -73.94651035601463, 40.775932403149945), ('2015-05-29 22:40:39.000000', 1.7842461138320622, 5.36, -73.96563453538072, 40.76861518381155, -73.95741813122187, 40.71880391812993), ('2015-05-12 18:22:28.000000', 1.0641552639216603, 3.16, -73.99738026020043, 40.728340391372306, -74.00401512528647, 40.753309065983395), ('2015-05-03 02:09:35.000000', 1.5555595094619101, 0.0, -73.9373456081249, 40.8011694805865, -73.9512920024351, 40.804333949794604), ('2015-05-22 21:08:31.000000', 0.6983872062984812, 1.44, -73.99697141558364, 40.74227862901228, -74.00287495910837, 40.73457600733177)  ... displaying 10 of 2426 total bound parameter sets ...  ('2015-05-18 07:37:46.000000', 3.5151808341646045, 0.0, -73.94651035601463, 40.775932403149945, -73.97769793122403, 40.758028043526274), ('2015-05-06 14:45:42.000000', 1.0264381047479427, 1.0, -73.95701169835736, 40.78043643718997, -73.96563453538072, 40.76861518381155))
2022-12-11 15:48:57,252 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:49:13,519 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:49:13,521 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:49:13,526 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:49:13,547 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:49:13,548 INFO sqlalchemy.engine.Engine [generated in 0.01812s] (('2015-06-26 08:04:57.000000', 1.2167269559639435, 0.0, -73.95473878380503, 40.765484087889845, -73.96563453538072, 40.76861518381155), ('2015-06-07 16:55:15.000000', 1.6822183480882746, 2.55, -73.9859374568246, 40.727620195909545, -73.99991742024713, 40.748427555065724), ('2015-06-24 08:47:47.000000', 1.1127933293579322, 3.55, -73.97863194845081, 40.78396143031378, -73.97849159965226, 40.747745793643915), ('2015-06-22 20:27:22.000000', 0.9748930741221764, 0.0, -73.97756868222719, 40.7644214057868, -73.98515639467684, 40.74857462935672), ('2015-06-21 10:36:37.000000', 0.6331807816207343, 1.0, -73.98984464313301, 40.762252755319366, -73.98419648907571, 40.75981761719184), ('2015-06-26 09:10:38.000000', 0.6893055500827381, 0.0, -73.96514579918421, 40.75672894163307, -73.9596347414917, 40.766948216383234), ('2015-06-12 21:29:11.000000', 2.3917227968106594, 0.0, -73.9887865991153, 40.75351275872571, -74.00787970866403, 40.717772736265175), ('2015-06-10 01:34:40.000000', 0.6763019054952946, 2.0, -73.99045782354733, 40.74033744175702, -73.98984464313301, 40.762252755319366)  ... displaying 10 of 2400 total bound parameter sets ...  ('2015-06-18 08:34:54.000000', 1.5526261327546955, 1.26, -73.97849159965226, 40.747745793643915, -73.99243753697608, 40.748497181405), ('2015-06-28 21:00:35.000000', 2.8937046175187477, 3.45, -73.97769793122403, 40.758028043526274, -74.00287495910837, 40.73457600733177))
2022-12-11 15:49:13,554 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:49:30,290 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:49:30,292 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:49:30,297 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:49:30,319 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:49:30,319 INFO sqlalchemy.engine.Engine [generated in 0.01828s] (('2014-01-16 22:34:44.000000', 2.2526343922266316, 2.0, -74.00748581800953, 40.7262904102812, -73.98984464313301, 40.762252755319366), ('2014-01-12 05:37:04.000000', 0.7629765508723795, 1.4, -73.99513522075519, 40.766237725041876, -73.99991742024713, 40.748427555065724), ('2014-01-12 09:56:05.000000', 0.9707865984941294, 1.4, -73.94651035601463, 40.775932403149945, -73.95473878380503, 40.765484087889845), ('2014-01-21 14:32:18.000000', 1.6576841263658668, 2.0, -73.95100987481798, 40.77876585543437, -73.96563453538072, 40.76861518381155), ('2014-01-15 13:22:01.000000', 2.0450387940107633, 0.0, -73.97044256869238, 40.74991407790217, -73.9887865991153, 40.75351275872571), ('2014-01-20 14:29:00.000000', 0.8795915166726198, 0.0, -73.98515639467684, 40.74857462935672, -73.97769793122403, 40.758028043526274), ('2014-01-02 19:22:00.000000', 4.3742385740674266, 1.9, -74.00401512528647, 40.753309065983395, -73.96555356545913, 40.78247809974789), ('2014-01-24 18:34:00.000000', 3.632667099241703, 0.0, -73.9887865991153, 40.75351275872571, -73.95701169835736, 40.78043643718997)  ... displaying 10 of 2423 total bound parameter sets ...  ('2014-01-08 12:39:19.000000', 0.665495898533483, 0.0, -73.97863194845081, 40.78396143031378, -73.97304890061594, 40.791704934427074), ('2014-01-30 17:18:55.000000', 1.1465471225604518, 2.1, -73.98153220639182, 40.7736332930271, -73.97235594352028, 40.75668765218882))
2022-12-11 15:49:30,324 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:49:47,436 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:49:47,439 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:49:47,443 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:49:47,464 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:49:47,465 INFO sqlalchemy.engine.Engine [generated in 0.01795s] (('2014-02-09 00:22:00.000000', 1.9865624703701577, 1.5, -73.98405213268919, 40.736824057618975, -74.00153756565634, 40.72388811004171), ('2014-02-17 08:40:17.000000', 1.2972427402870799, 2.35, -73.99243753697608, 40.748497181405, -74.00401512528647, 40.753309065983395), ('2014-02-14 08:55:00.000000', 4.5415232033170545, 0.0, -73.97769793122403, 40.758028043526274, -74.01556351255898, 40.70294583498471), ('2014-02-09 20:51:17.000000', 2.0538466456502267, 2.1, -73.9859374568246, 40.727620195909545, -74.00366456329895, 40.7090727427931), ('2014-02-13 12:11:31.000000', 0.9099796263054084, 2.0, -73.97044256869238, 40.74991407790217, -73.97756868222719, 40.7644214057868), ('2014-02-05 18:41:00.000000', 1.450834263271719, 1.0, -73.97235594352028, 40.75668765218882, -73.9596347414917, 40.766948216383234), ('2014-02-06 00:16:00.000000', 18.23855378269023, 0.0, -73.78653298334979, 40.64698489239519, -73.94990503507506, 40.691507494880646), ('2014-02-28 21:55:32.000000', 1.8888606355840667, 0.0, -73.9512920024351, 40.804333949794604, -73.9681683330924, 40.79796199310004)  ... displaying 10 of 2426 total bound parameter sets ...  ('2014-02-01 17:48:29.000000', 2.448855496024938, 2.0, -73.97044256869238, 40.74991407790217, -73.99243753697608, 40.748497181405), ('2014-02-11 09:59:00.000000', 1.2922659354322, 3.1, -73.99991742024713, 40.748427555065724, -74.00787970866403, 40.717772736265175))
2022-12-11 15:49:47,470 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:50:07,434 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:50:07,436 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-12-11 15:50:07,440 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:50:07,463 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:50:07,464 INFO sqlalchemy.engine.Engine [generated in 0.01896s] (('2014-03-29 01:52:27.000000', 3.8478332399520605, 1.0, -73.99991742024713, 40.748427555065724, -73.9681683330924, 40.79796199310004), ('2014-03-22 18:09:20.000000', 1.4601279421660425, 1.5, -73.99089626184734, 40.71893835938025, -73.98419648907571, 40.75981761719184), ('2014-03-02 01:17:55.000000', 8.166680512552922, 7.05, -73.99089626184734, 40.71893835938025, -73.91771053131578, 40.7005221995192), ('2014-03-15 00:03:00.000000', 3.03931672722436, 0.0, -73.97304890061594, 40.791704934427074, -73.94575026755156, 40.79001075149545), ('2014-03-04 09:52:35.000000', 0.28456773175535766, 0.0, -74.01607915192923, 40.71203815707447, -74.01556351255898, 40.70294583498471), ('2014-03-20 08:33:27.000000', 2.3852032942801062, 1.8, -73.97849159965226, 40.747745793643915, -73.99991742024713, 40.748427555065724), ('2014-03-08 20:18:46.000000', 2.5756136370834746, 1.0, -74.0089841047853, 40.73503540069664, -73.9859374568246, 40.727620195909545), ('2014-03-06 09:51:00.000000', 1.4282073155728403, 2.1, -73.99697141558364, 40.74227862901228, -74.00787970866403, 40.717772736265175)  ... displaying 10 of 2449 total bound parameter sets ...  ('2014-03-23 15:27:57.000000', 2.280350240541184, 1.7, -73.95701169835736, 40.78043643718997, -73.9373456081249, 40.8011694805865), ('2014-03-02 19:29:00.000000', 4.842248308778432, 1.0, -73.94651035601463, 40.775932403149945, -73.98984464313301, 40.762252755319366))
2022-12-11 15:50:07,469 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:50:25,550 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:50:25,552 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:50:25,556 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:50:25,578 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:50:25,578 INFO sqlalchemy.engine.Engine [generated in 0.01833s] (('2014-04-30 19:44:00.000000', 1.8975237573660089, 2.0, -73.9859374568246, 40.727620195909545, -74.00287495910837, 40.73457600733177), ('2014-04-26 12:06:00.000000', 1.3935325564816496, 0.0, -73.99045782354733, 40.74033744175702, -74.00287495910837, 40.73457600733177), ('2014-04-21 07:40:52.000000', 0.8332392433240857, 0.0, -73.96563453538072, 40.76861518381155, -73.97235594352028, 40.75668765218882), ('2014-04-13 09:48:16.000000', 4.139756200161628, 2.8, -73.98764554944384, 40.77596522876096, -73.9512920024351, 40.804333949794604), ('2014-04-19 00:21:42.000000', 1.2417387955799293, 1.8, -73.97863194845081, 40.78396143031378, -73.9681683330924, 40.79796199310004), ('2014-04-08 10:34:00.000000', 1.6760735023724496, 2.0, -73.97304890061594, 40.791704934427074, -73.9596347414917, 40.766948216383234), ('2014-04-27 04:10:12.000000', 4.615171069550773, 2.9, -73.99089626184734, 40.71893835938025, -73.94954030482212, 40.72950628420885), ('2014-04-19 21:00:20.000000', 1.082126935754991, 2.25, -74.00748581800953, 40.7262904102812, -73.99991742024713, 40.748427555065724)  ... displaying 10 of 2406 total bound parameter sets ...  ('2014-04-03 08:47:34.000000', 1.0330114234248042, 1.7, -73.98764554944384, 40.77596522876096, -73.97863194845081, 40.78396143031378), ('2014-04-04 23:52:14.000000', 1.5779621437151286, 0.0, -73.99430477051168, 40.73257907302703, -74.00787970866403, 40.717772736265175))
2022-12-11 15:50:25,584 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:50:43,694 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:50:43,697 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:50:43,701 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:50:43,723 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:50:43,724 INFO sqlalchemy.engine.Engine [generated in 0.01870s] (('2014-05-11 03:02:19.000000', 0.3336450451919396, 1.0, -73.99243753697608, 40.748497181405, -73.99045782354733, 40.74033744175702), ('2014-05-01 09:57:05.000000', 1.3817563883216442, 0.0, -73.97769793122403, 40.758028043526274, -73.96563453538072, 40.76861518381155), ('2014-05-30 06:48:00.000000', 4.461740197507183, 3.4, -73.95741813122187, 40.71880391812993, -73.99697141558364, 40.74227862901228), ('2014-05-10 00:25:00.000000', 1.9772812735172676, 0.0, -73.9485217302088, 40.82701265492538, -73.93283148761294, 40.857108283314425), ('2014-05-30 01:55:37.000000', 0.9185034939987163, 1.7, -73.98419648907571, 40.75981761719184, -73.99045782354733, 40.74033744175702), ('2014-05-19 07:53:09.000000', 9.158927846763007, 6.9, -73.98153220639182, 40.7736332930271, -73.90698710771423, 40.89952906437649), ('2014-05-27 14:11:00.000000', 1.2488698187303404, 2.1, -73.99991742024713, 40.748427555065724, -73.9887865991153, 40.75351275872571), ('2014-05-29 19:06:52.000000', 4.842248308778432, 0.0, -73.98984464313301, 40.762252755319366, -73.94651035601463, 40.775932403149945)  ... displaying 10 of 2419 total bound parameter sets ...  ('2014-05-22 11:46:10.000000', 2.1805596762133024, 2.2, -73.9596347414917, 40.766948216383234, -73.97849159965226, 40.747745793643915), ('2014-05-21 13:54:49.000000', 2.4036304670294886, 0.0, -73.95701169835736, 40.78043643718997, -73.97769793122403, 40.758028043526274))
2022-12-11 15:50:43,729 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:51:00,143 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:51:00,145 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:51:00,149 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:51:00,171 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:51:00,172 INFO sqlalchemy.engine.Engine [generated in 0.01811s] (('2014-06-24 04:27:21.000000', 9.734478518780566, 6.2, -74.0089841047853, 40.73503540069664, -73.92224002165722, 40.69499431844209), ('2014-06-18 18:57:03.000000', 0.8540707033089108, 2.1, -73.99045782354733, 40.74033744175702, -73.99738026020043, 40.728340391372306), ('2014-06-13 20:33:00.000000', 3.295156725945812, 0.0, -73.98405213268919, 40.736824057618975, -73.95701169835736, 40.78043643718997), ('2014-06-18 18:52:19.000000', 5.364087979928049, 3.3, -74.00153756565634, 40.72388811004171, -73.95473878380503, 40.765484087889845), ('2014-06-19 09:04:37.000000', 1.159641632650041, 2.0, -73.9887865991153, 40.75351275872571, -73.97849159965226, 40.747745793643915), ('2014-06-24 21:31:00.000000', 1.9486747437573402, 3.5, -73.99691854183823, 40.72088889344527, -74.00917849113294, 40.675548862280856), ('2014-06-20 14:01:00.000000', 1.159641632650041, 1.62, -73.97849159965226, 40.747745793643915, -73.9887865991153, 40.75351275872571), ('2014-06-24 08:24:56.000000', 14.081103344322274, 6.0, -73.87362864289108, 40.77437570593249, -73.99991742024713, 40.748427555065724)  ... displaying 10 of 2427 total bound parameter sets ...  ('2014-06-24 06:31:05.000000', 3.454552569694411, 3.2, -73.92467306585043, 40.7376989564444, -73.95473878380503, 40.765484087889845), ('2014-06-08 22:24:34.000000', 3.4257374809642163, 1.0, -73.98515639467684, 40.74857462935672, -73.95473878380503, 40.765484087889845))
2022-12-11 15:51:00,177 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:51:14,863 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:51:14,865 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:51:14,869 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:51:14,891 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)

2022-12-11 15:51:14,891 INFO sqlalchemy.engine.Engine [generated in 0.01818s] (('2014-07-22 16:54:57.000000', 1.8185677374827074, 1.9, -73.97304890061594, 40.791704934427074, -73.95701169835736, 40.78043643718997), ('2014-07-18 19:23:00.000000', 1.0437759850457347, 3.62, -73.97649472376757, 40.7404389785964, -73.98419648907571, 40.75981761719184), ('2014-07-24 14:20:00.000000', 5.910955434317264, 0.0, -73.9887865991153, 40.75351275872571, -73.9373456081249, 40.8011694805865), ('2014-07-23 07:32:00.000000', 2.541622701099995, 1.7, -73.95473878380503, 40.765484087889845, -73.97756868222719, 40.7644214057868), ('2014-07-10 17:46:00.000000', 1.9543246554125229, 1.0, -73.97235594352028, 40.75668765218882, -73.98984464313301, 40.762252755319366), ('2014-07-05 11:35:00.000000', 3.665096871664437, 1.9, -73.94575026755156, 40.79001075149545, -73.97863194845081, 40.78396143031378), ('2014-07-04 14:38:00.000000', 1.0340179984091813, 2.25, -73.9859374568246, 40.727620195909545, -73.97849159965226, 40.747745793643915), ('2014-07-12 21:19:00.000000', 0.6662443717860467, 0.0, -74.00153756565634, 40.72388811004171, -74.00748581800953, 40.7262904102812)  ... displaying 10 of 2429 total bound parameter sets ...  ('2014-07-01 16:15:00.000000', 0.7354067082505225, 0.0, -73.97849159965226, 40.747745793643915, -73.98419648907571, 40.75981761719184), ('2014-07-28 12:38:46.000000', 1.6760735023724496, 2.4, -73.97304890061594, 40.791704934427074, -73.9596347414917, 40.766948216383234))
2022-12-11 15:51:14,897 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:51:28,877 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:51:28,880 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:51:28,883 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:51:28,905 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:51:28,906 INFO sqlalchemy.engine.Engine [generated in 0.01820s] (('2014-08-31 01:58:48.000000', 1.4379517306167124, 1.3, -73.97235594352028, 40.75668765218882, -73.98405213268919, 40.736824057618975), ('2014-08-07 06:04:43.000000', 0.9810349451940916, 0.0, -73.99243753697608, 40.748497181405, -73.98419648907571, 40.75981761719184), ('2014-08-28 13:40:33.000000', 1.4940771381448037, 4.87, -73.99691854183823, 40.72088889344527, -73.98984464313301, 40.762252755319366), ('2014-08-17 00:38:06.000000', 3.7267707442029563, 0.95, -73.95741813122187, 40.71880391812993, -73.99089626184734, 40.71893835938025), ('2014-08-31 16:17:51.000000', 0.8035478329239573, 2.2, -73.97863194845081, 40.78396143031378, -73.97769793122403, 40.758028043526274), ('2014-08-25 19:10:24.000000', 1.979701396101174, 2.5, -73.95473878380503, 40.765484087889845, -73.97235594352028, 40.75668765218882), ('2014-08-01 15:20:52.000000', 11.692647749858441, 9.7, -73.97863194845081, 40.78396143031378, -73.87362864289108, 40.77437570593249), ('2014-08-13 09:58:06.000000', 0.6331807816207343, 0.0, -73.98984464313301, 40.762252755319366, -73.98419648907571, 40.75981761719184)  ... displaying 10 of 2437 total bound parameter sets ...  ('2014-08-08 19:12:44.000000', 1.340056011970515, 2.1, -73.98984464313301, 40.762252755319366, -73.97849159965226, 40.747745793643915), ('2014-08-07 11:46:54.000000', 0.8332392433240857, 1.5, -73.96563453538072, 40.76861518381155, -73.97235594352028, 40.75668765218882))
2022-12-11 15:51:28,912 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:51:44,691 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:51:44,693 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:51:44,697 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:51:44,719 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:51:44,719 INFO sqlalchemy.engine.Engine [generated in 0.01852s] (('2014-09-15 16:40:32.000000', 1.568406827932236, 1.0, -73.97849159965226, 40.747745793643915, -73.96563453538072, 40.76861518381155), ('2014-09-18 11:48:54.000000', 1.0264381047479427, 1.0, -73.95701169835736, 40.78043643718997, -73.96563453538072, 40.76861518381155), ('2014-09-10 04:59:35.000000', 0.621869200617709, 1.5, -73.99513522075519, 40.766237725041876, -73.99243753697608, 40.748497181405), ('2014-09-03 00:48:46.000000', 1.3347421960023054, 0.0, -73.97756868222719, 40.7644214057868, -73.96563453538072, 40.76861518381155), ('2014-09-23 07:59:47.000000', 0.9999095974863387, 0.0, -73.99243753697608, 40.748497181405, -73.98405213268919, 40.736824057618975), ('2014-09-17 01:54:16.000000', 2.926397145093885, 1.6, -73.97659767323344, 40.731820636016764, -74.00287495910837, 40.73457600733177), ('2014-09-06 17:10:02.000000', 1.254228702024726, 1.6, -73.99430477051168, 40.73257907302703, -74.00401512528647, 40.753309065983395), ('2014-09-16 02:03:14.000000', 1.2335452941361968, 0.0, -73.98419648907571, 40.75981761719184, -73.99513522075519, 40.766237725041876)  ... displaying 10 of 2428 total bound parameter sets ...  ('2014-09-19 00:52:20.000000', 2.7546962565511897, 0.0, -73.96514579918421, 40.75672894163307, -73.98984464313301, 40.762252755319366), ('2014-09-05 20:49:01.000000', 1.791919132708361, 0.0, -73.99243753697608, 40.748497181405, -73.97649472376757, 40.7404389785964))
2022-12-11 15:51:44,726 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:52:02,382 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:52:02,385 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:52:02,390 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:52:02,412 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:52:02,413 INFO sqlalchemy.engine.Engine [generated in 0.01815s] (('2014-10-05 18:08:04.000000', 15.401858431872729, 0.0, -73.78653298334979, 40.64698489239519, -73.91502929553265, 40.83141669708519), ('2014-10-18 12:29:02.000000', 4.131036083165924, 4.1, -73.97235594352028, 40.75668765218882, -74.00787970866403, 40.717772736265175), ('2014-10-19 00:34:18.000000', 1.8198085602865373, 3.6, -73.99738026020043, 40.728340391372306, -73.98764554944384, 40.77596522876096), ('2014-10-04 19:04:04.000000', 1.9441830819494386, 6.1, -73.97659767323344, 40.731820636016764, -73.96758681222953, 40.67763538934728), ('2014-10-07 09:58:00.000000', 2.448855496024938, 3.2, -73.99243753697608, 40.748497181405, -73.97044256869238, 40.74991407790217), ('2014-10-10 23:40:49.000000', 1.5888037003968702, 3.5, -73.98405213268919, 40.736824057618975, -73.98611382213662, 40.685633741320636), ('2014-10-24 15:46:46.000000', 1.8559106581575582, 2.0, -73.97044256869238, 40.74991407790217, -73.9859374568246, 40.727620195909545), ('2014-10-17 08:50:00.000000', 1.0264381047479427, 2.0, -73.95701169835736, 40.78043643718997, -73.96563453538072, 40.76861518381155)  ... displaying 10 of 2426 total bound parameter sets ...  ('2014-10-06 04:48:21.000000', 1.8966682602180134, 0.0, -73.98153220639182, 40.7736332930271, -73.96514579918421, 40.75672894163307), ('2014-10-09 08:58:18.000000', 1.159641632650041, 1.38, -73.9887865991153, 40.75351275872571, -73.97849159965226, 40.747745793643915))
2022-12-11 15:52:02,418 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:52:17,867 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:52:17,869 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:52:17,873 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:52:17,895 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:52:17,896 INFO sqlalchemy.engine.Engine [generated in 0.01816s] (('2014-11-24 08:20:23.000000', 1.5467459343508152, 1.0, -73.96555356545913, 40.78247809974789, -73.97769793122403, 40.758028043526274), ('2014-11-19 22:34:51.000000', 0.9559950228690315, 1.2, -74.00287495910837, 40.73457600733177, -73.99430477051168, 40.73257907302703), ('2014-11-06 18:21:27.000000', 2.947067445317905, 0.0, -73.97235594352028, 40.75668765218882, -73.99691854183823, 40.72088889344527), ('2014-11-25 08:05:15.000000', 0.669858581875912, 1.25, -73.96563453538072, 40.76861518381155, -73.9596347414917, 40.766948216383234), ('2014-11-22 20:49:46.000000', 1.5543682860169132, 1.6, -73.99045782354733, 40.74033744175702, -73.97649472376757, 40.7404389785964), ('2014-11-23 13:40:53.000000', 2.5660616406975985, 1.5, -73.97769793122403, 40.758028043526274, -73.95473878380503, 40.765484087889845), ('2014-11-26 12:07:53.000000', 1.3513665226430298, 0.0, -73.99045782354733, 40.74033744175702, -73.97849159965226, 40.747745793643915), ('2014-11-01 13:49:09.000000', 4.4295167766109875, 3.5, -73.96176359682921, 40.80945696112528, -73.99697141558364, 40.74227862901228)  ... displaying 10 of 2438 total bound parameter sets ...  ('2014-11-18 08:31:39.000000', 3.2250495589747583, 3.4, -73.98405213268919, 40.736824057618975, -74.01151502922325, 40.70335790323615), ('2014-11-21 23:14:25.000000', 10.442973263290648, 0.0, -73.9859374568246, 40.727620195909545, -73.89217338112864, 40.73832381382601))

2022-12-11 15:52:17,902 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:52:33,025 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:52:33,027 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:52:33,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:52:33,052 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:52:33,053 INFO sqlalchemy.engine.Engine [generated in 0.01749s] (('2014-12-19 23:11:38.000000', 4.282735984785595, 3.0, -73.97044256869238, 40.74991407790217, -74.00787970866403, 40.717772736265175), ('2014-12-29 18:19:03.000000', 0.706394547084737, 0.0, -73.98405213268919, 40.736824057618975, -73.98419648907571, 40.75981761719184), ('2014-12-10 22:48:23.000000', 1.450834263271719, 2.0, -73.97235594352028, 40.75668765218882, -73.9596347414917, 40.766948216383234), ('2014-12-12 21:56:21.000000', 1.6384525656257514, 0.0, -73.97044256869238, 40.74991407790217, -73.98515639467684, 40.74857462935672), ('2014-12-23 12:25:26.000000', 2.0293981852981333, 0.0, -73.9596347414917, 40.766948216383234, -73.97769793122403, 40.758028043526274), ('2014-12-31 17:43:11.000000', 1.0955085650129595, 1.0, -73.97304890061594, 40.791704934427074, -73.98153220639182, 40.7736332930271), ('2014-12-09 18:56:38.000000', 1.5467459343508152, 1.6, -73.97769793122403, 40.758028043526274, -73.96555356545913, 40.78247809974789), ('2014-12-15 18:50:58.000000', 1.4565926203386679, 1.5, -73.96555356545913, 40.78247809974789, -73.97863194845081, 40.78396143031378)  ... displaying 10 of 2413 total bound parameter sets ...  ('2014-12-18 11:41:44.000000', 2.4834244919694393, 0.0, -73.9859374568246, 40.727620195909545, -74.0074959856243, 40.70680845166585), ('2014-12-07 12:27:59.000000', 1.4115071364950231, 0.0, -74.0089841047853, 40.73503540069664, -73.99691854183823, 40.72088889344527))
2022-12-11 15:52:33,058 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:52:51,123 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:52:51,125 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:52:51,130 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:52:51,151 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:52:51,152 INFO sqlalchemy.engine.Engine [generated in 0.01812s] (('2013-01-17 17:16:22.000000', 2.4909658009823303, 0.0, -73.99991742024713, 40.748427555065724, -73.97769793122403, 40.758028043526274), ('2013-01-25 13:51:21.000000', 7.022882306693123, 4.4, -74.01607915192923, 40.71203815707447, -73.95473878380503, 40.765484087889845), ('2013-01-10 19:31:00.000000', 0.4346136508266335, 0.0, -73.99243753697608, 40.748497181405, -73.9887865991153, 40.75351275872571), ('2013-01-16 14:51:00.000000', 2.961383336092064, 2.0, -73.9887865991153, 40.75351275872571, -74.01151502922325, 40.70335790323615), ('2013-01-29 06:52:33.000000', 2.5526859980915457, 1.0, -73.99513522075519, 40.766237725041876, -73.97235594352028, 40.75668765218882), ('2013-01-14 23:29:19.000000', 4.288956300733224, 0.0, -73.98611382213662, 40.685633741320636, -73.94954030482212, 40.72950628420885), ('2013-01-13 17:20:38.000000', 0.7917919989113212, 1.5, -73.99991742024713, 40.748427555065724, -73.99430477051168, 40.73257907302703), ('2013-01-18 17:22:00.000000', 0.665495898533483, 1.3, -73.97304890061594, 40.791704934427074, -73.97863194845081, 40.78396143031378)  ... displaying 10 of 2410 total bound parameter sets ...  ('2013-01-10 08:30:26.000000', 1.3817563883216442, 0.0, -73.97769793122403, 40.758028043526274, -73.96563453538072, 40.76861518381155), ('2013-01-23 19:12:02.000000', 2.1805596762133024, 0.0, -73.97849159965226, 40.747745793643915, -73.9596347414917, 40.766948216383234))
2022-12-11 15:52:51,157 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:53:07,334 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:53:07,336 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:53:07,340 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:53:07,362 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:53:07,483 INFO sqlalchemy.engine.Engine [generated in 0.13909s] (('2013-02-10 18:40:00.000000', 1.56102572113424, 0.0, -73.98419648907571, 40.75981761719184, -73.97044256869238, 40.74991407790217), ('2013-02-06 08:19:37.000000', 0.44525354357563435, 1.0, -73.99045782354733, 40.74033744175702, -73.9887865991153, 40.75351275872571), ('2013-02-04 19:46:31.000000', 0.8849339651474122, 0.0, -73.98405213268919, 40.736824057618975, -73.97696825691766, 40.723752141584804), ('2013-02-11 08:26:51.000000', 1.883631463735287, 0.0, -73.99243753697608, 40.748497181405, -73.97863194845081, 40.78396143031378), ('2013-02-19 20:53:00.000000', 3.369409650381695, 0.0, -73.98141374048753, 40.670374325917265, -74.01127116962884, 40.65235464953843), ('2013-02-12 19:42:00.000000', 4.842248308778432, 1.0, -73.98984464313301, 40.762252755319366, -73.94651035601463, 40.775932403149945), ('2013-02-27 08:34:07.000000', 1.2421514390124517, 2.0, -73.97769793122403, 40.758028043526274, -73.9887865991153, 40.75351275872571), ('2013-02-23 00:49:27.000000', 2.811327054542197, 0.0, -73.99089626184734, 40.71893835938025, -74.01607915192923, 40.71203815707447)  ... displaying 10 of 2417 total bound parameter sets ...  ('2013-02-24 04:03:00.000000', 0.9307569753934534, 0.0, -73.96176359682921, 40.80945696112528, -73.96555356545913, 40.78247809974789), ('2013-02-08 20:15:57.000000', 3.0996744290381777, 0.0, -73.99243753697608, 40.748497181405, -73.9681683330924, 40.79796199310004))
2022-12-11 15:53:07,489 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:53:26,428 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:53:26,431 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:53:26,435 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:53:26,457 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:53:26,457 INFO sqlalchemy.engine.Engine [generated in 0.01778s] (('2013-03-24 16:09:45.000000', 0.3280408821771978, 0.0, -73.97769793122403, 40.758028043526274, -73.97849159965226, 40.747745793643915), ('2013-03-14 12:44:39.000000', 3.079022733531007, 0.0, -73.97863194845081, 40.78396143031378, -73.95100987481798, 40.77876585543437), ('2013-03-15 02:12:36.000000', 4.218168336369901, 0.0, -73.97756868222719, 40.7644214057868, -74.01151502922325, 40.70335790323615), ('2013-03-16 07:46:00.000000', 0.6700944351968241, 2.0, -73.95701169835736, 40.78043643718997, -73.95100987481798, 40.77876585543437), ('2013-03-12 22:26:16.000000', 3.755149535378459, 0.0, -74.00287495910837, 40.73457600733177, -73.97304890061594, 40.791704934427074), ('2013-03-12 12:53:00.000000', 1.5608115032014813, 1.0, -74.00401512528647, 40.753309065983395, -73.99045782354733, 40.74033744175702), ('2013-03-02 23:16:00.000000', 1.1338296692614442, 0.0, -73.99430477051168, 40.73257907302703, -73.99525011996623, 40.69579822121126), ('2013-03-02 02:46:44.000000', 2.1243559756945705, 0.0, -73.99991742024713, 40.748427555065724, -73.98570161582289, 40.702258938822524)  ... displaying 10 of 2399 total bound parameter sets ...  ('2013-03-30 22:56:00.000000', 2.3852032942801062, 1.0, -73.99991742024713, 40.748427555065724, -73.97849159965226, 40.747745793643915), ('2013-03-13 09:09:05.000000', 0.7362188337879945, 0.0, -73.97849159965226, 40.747745793643915, -73.97235594352028, 40.75668765218882))
2022-12-11 15:53:26,463 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:53:43,054 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:53:43,056 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-12-11 15:53:43,061 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:53:43,083 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:53:43,083 INFO sqlalchemy.engine.Engine [generated in 0.01801s] (('2013-04-29 20:42:23.000000', 4.737858174431907, 0.0, -73.98515639467684, 40.74857462935672, -73.9485217302088, 40.82701265492538), ('2013-04-24 16:52:33.000000', 2.5043941691584997, 0.0, -73.94651035601463, 40.775932403149945, -73.9681683330924, 40.79796199310004), ('2013-04-21 21:28:00.000000', 5.483678536218837, 0.0, -73.9859374568246, 40.727620195909545, -73.93679314491887, 40.715369882143555), ('2013-04-14 04:05:00.000000', 0.6780268589135603, 1.0, -73.99738026020043, 40.728340391372306, -73.99991742024713, 40.748427555065724), ('2013-04-11 22:10:00.000000', 5.411191303829279, 5.0, -73.87362864289108, 40.77437570593249, -73.91771053131578, 40.7005221995192), ('2013-04-11 13:30:00.000000', 2.238780540773393, 3.62, -73.97756868222719, 40.7644214057868, -73.96176359682921, 40.80945696112528), ('2013-04-08 22:39:35.000000', 2.188515939739076, 1.8, -73.96236353818358, 40.68796745714746, -73.98141374048753, 40.670374325917265), ('2013-04-01 13:16:00.000000', 1.1989044026624172, 0.0, -73.98984464313301, 40.762252755319366, -73.99991742024713, 40.748427555065724)  ... displaying 10 of 2426 total bound parameter sets ...  ('2013-04-25 18:53:00.000000', 2.6998111726573697, 2.8, -73.97849159965226, 40.747745793643915, -73.95473878380503, 40.765484087889845), ('2013-04-19 20:11:23.000000', 0.8540267510201824, 1.0, -73.99697141558364, 40.74227862901228, -74.00401512528647, 40.753309065983395))
2022-12-11 15:53:43,089 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:54:00,367 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:54:00,369 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:54:00,374 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:54:00,395 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:54:00,396 INFO sqlalchemy.engine.Engine [generated in 0.01784s] (('2013-05-31 06:56:00.000000', 1.506368462969314, 0.0, -73.98405213268919, 40.736824057618975, -73.99738026020043, 40.728340391372306), ('2013-05-03 11:38:45.000000', 11.595892775720978, 9.0, -73.97769793122403, 40.758028043526274, -73.87362864289108, 40.77437570593249), ('2013-05-05 01:52:00.000000', 5.237049257721529, 0.0, -73.98570161582289, 40.702258938822524, -73.93928705867958, 40.67446941826648), ('2013-05-03 20:23:00.000000', 5.848692978557011, 0.0, -73.94651035601463, 40.775932403149945, -73.99738026020043, 40.728340391372306), ('2013-05-03 01:19:00.000000', 4.925316138893587, 2.8, -74.0089841047853, 40.73503540069664, -73.96514579918421, 40.75672894163307), ('2013-05-31 14:30:51.000000', 0.9810349451940916, 2.25, -73.98419648907571, 40.75981761719184, -73.99243753697608, 40.748497181405), ('2013-05-11 03:10:07.000000', 4.206118085128114, 0.0, -73.99738026020043, 40.728340391372306, -73.95990462730533, 40.7108799333774), ('2013-05-21 20:32:00.000000', 3.906313800453875, 0.0, -73.95100987481798, 40.77876585543437, -73.9168219380646, 40.80734716766524)  ... displaying 10 of 2410 total bound parameter sets ...  ('2013-05-10 08:23:00.000000', 1.4379517306167124, 0.9, -73.98405213268919, 40.736824057618975, -73.97235594352028, 40.75668765218882), ('2013-05-18 13:00:36.000000', 2.535345199761016, 0.0, -73.99243753697608, 40.748497181405, -74.01151502922325, 40.70335790323615))
2022-12-11 15:54:00,402 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:54:16,704 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:54:16,706 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:54:16,710 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:54:16,732 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:54:16,733 INFO sqlalchemy.engine.Engine [generated in 0.01805s] (('2013-06-23 00:55:29.000000', 5.769639047740284, 0.0, -74.00787970866403, 40.717772736265175, -73.96096824906373, 40.63790012347376), ('2013-06-17 08:59:00.000000', 2.018682281325284, 1.5, -74.00287495910837, 40.73457600733177, -73.98515639467684, 40.74857462935672), ('2013-06-01 14:27:00.000000', 1.3681760655249982, 0.0, -73.97756868222719, 40.7644214057868, -73.98984464313301, 40.762252755319366), ('2013-06-24 05:48:55.000000', 2.199346484691268, 1.8, -73.99697141558364, 40.74227862901228, -73.97769793122403, 40.758028043526274), ('2013-06-20 19:08:00.000000', 1.3681760655249982, 0.0, -73.97756868222719, 40.7644214057868, -73.98984464313301, 40.762252755319366), ('2013-06-11 08:26:00.000000', 1.2421514390124517, 1.5, -73.9887865991153, 40.75351275872571, -73.97769793122403, 40.758028043526274), ('2013-06-20 08:54:10.000000', 15.116320141127883, 0.0, -74.0089841047853, 40.73503540069664, -73.87362864289108, 40.77437570593249), ('2013-06-05 09:23:00.000000', 0.8540267510201824, 0.0, -74.00401512528647, 40.753309065983395, -73.99697141558364, 40.74227862901228)  ... displaying 10 of 2436 total bound parameter sets ...  ('2013-06-22 02:43:00.000000', 6.045669479608833, 1.0, -73.99045782354733, 40.74033744175702, -73.93928705867958, 40.67446941826648), ('2013-06-29 03:37:00.000000', 7.1219701757365055, 5.4, -73.99991742024713, 40.748427555065724, -73.93928705867958, 40.67446941826648))
2022-12-11 15:54:16,738 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:54:32,569 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:54:32,572 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:54:32,576 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:54:32,598 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:54:32,599 INFO sqlalchemy.engine.Engine [generated in 0.01816s] (('2013-07-01 13:35:00.000000', 0.8795915166726198, 1.0, -73.97769793122403, 40.758028043526274, -73.98515639467684, 40.74857462935672), ('2013-07-25 17:34:46.000000', 0.8326595389483107, 1.6, -73.99991742024713, 40.748427555065724, -73.99243753697608, 40.748497181405), ('2013-07-14 07:58:00.000000', 2.7941284287613617, 0.0, -73.97044256869238, 40.74991407790217, -73.99513522075519, 40.766237725041876), ('2013-07-16 21:23:00.000000', 0.2648868182062965, 0.0, -74.00787970866403, 40.717772736265175, -74.00748581800953, 40.7262904102812), ('2013-07-21 03:22:00.000000', 0.6130102447824347, 1.2, -73.99089626184734, 40.71893835938025, -73.9859374568246, 40.727620195909545), ('2013-07-05 23:29:10.000000', 1.6760735023724496, 0.5, -73.97304890061594, 40.791704934427074, -73.9596347414917, 40.766948216383234), ('2013-07-17 12:25:00.000000', 0.7040721457875923, 0.0, -73.98405213268919, 40.736824057618975, -73.97849159965226, 40.747745793643915), ('2013-07-11 21:17:24.000000', 3.0683415115358166, 5.5, -73.9596347414917, 40.766948216383234, -73.94139910573644, 40.841708771119784)  ... displaying 10 of 2443 total bound parameter sets ...  ('2013-07-25 01:10:02.000000', 3.4645459044581433, 0.0, -74.00287495910837, 40.73457600733177, -73.97235594352028, 40.75668765218882), ('2013-07-09 21:51:00.000000', 0.3236979438563806, 1.2, -73.9681683330924, 40.79796199310004, -73.96547951516966, 40.80197049389963))
2022-12-11 15:54:32,604 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:54:45,092 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:54:45,094 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:54:45,098 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:54:45,119 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)

2022-12-11 15:54:45,120 INFO sqlalchemy.engine.Engine [generated in 0.01755s] (('2013-08-17 03:48:49.000000', 3.3980928641239845, 2.0, -74.00748581800953, 40.7262904102812, -73.97696825691766, 40.723752141584804), ('2013-08-25 04:05:00.000000', 0.5763416386100594, 0.0, -73.9681683330924, 40.79796199310004, -73.97304890061594, 40.791704934427074), ('2013-08-06 14:19:21.000000', 1.3347421960023054, 0.0, -73.96563453538072, 40.76861518381155, -73.97756868222719, 40.7644214057868), ('2013-08-06 22:02:54.000000', 5.012357428690962, 0.0, -73.98984464313301, 40.762252755319366, -73.9485217302088, 40.82701265492538), ('2013-08-18 08:48:09.000000', 1.287777550241077, 1.4, -73.94575026755156, 40.79001075149545, -73.95701169835736, 40.78043643718997), ('2013-08-29 16:42:44.000000', 6.6305891334641425, 0.0, -73.94889145447952, 40.74537943399859, -74.0074959856243, 40.70680845166585), ('2013-08-17 01:07:00.000000', 0.29785038903528255, 0.9, -73.97235594352028, 40.75668765218882, -73.97044256869238, 40.74991407790217), ('2013-08-31 14:27:28.000000', 4.456661588095401, 0.0, -73.9887865991153, 40.75351275872571, -73.9512920024351, 40.804333949794604)  ... displaying 10 of 2410 total bound parameter sets ...  ('2013-08-28 17:41:39.000000', 2.9185683700721285, 0.0, -73.97235594352028, 40.75668765218882, -73.99738026020043, 40.728340391372306), ('2013-08-21 18:26:08.000000', 2.4091938978908094, 2.1, -73.95701169835736, 40.78043643718997, -73.97863194845081, 40.78396143031378))
2022-12-11 15:54:45,127 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:55:00,925 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:55:00,928 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:55:00,932 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:55:00,954 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:55:00,954 INFO sqlalchemy.engine.Engine [generated in 0.01855s] (('2013-09-19 15:33:00.000000', 1.4260358997490084, 1.5, -73.97649472376757, 40.7404389785964, -73.9887865991153, 40.75351275872571), ('2013-09-12 23:13:00.000000', 0.5115182936370054, 0.0, -73.98984464313301, 40.762252755319366, -73.99243753697608, 40.748497181405), ('2013-09-17 03:16:27.000000', 7.978783596719146, 0.0, -74.0089841047853, 40.73503540069664, -73.93928705867958, 40.67446941826648), ('2013-09-06 17:21:00.000000', 2.2416193240285454, 0.0, -73.98515639467684, 40.74857462935672, -73.96514579918421, 40.75672894163307), ('2013-09-06 18:54:15.000000', 1.3215869480841254, 1.5, -73.98419648907571, 40.75981761719184, -73.97235594352028, 40.75668765218882), ('2013-09-19 07:24:17.000000', 2.0070778086461707, 1.5, -73.99430477051168, 40.73257907302703, -73.97769793122403, 40.758028043526274), ('2013-09-14 16:57:38.000000', 1.5526261327546955, 0.0, -73.99243753697608, 40.748497181405, -73.97849159965226, 40.747745793643915), ('2013-09-23 08:09:52.000000', 0.3695106771537282, 0.0, -73.96514579918421, 40.75672894163307, -73.96563453538072, 40.76861518381155)  ... displaying 10 of 2428 total bound parameter sets ...  ('2013-09-22 13:01:31.000000', 20.17047248452074, 11.55, -73.78653298334979, 40.64698489239519, -73.96514579918421, 40.75672894163307), ('2013-09-30 20:30:57.000000', 1.521808606927592, 1.5, -73.97863194845081, 40.78396143031378, -73.96563453538072, 40.76861518381155))
2022-12-11 15:55:00,960 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:55:19,328 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:55:19,330 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:55:19,334 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:55:19,357 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:55:19,357 INFO sqlalchemy.engine.Engine [generated in 0.01870s] (('2013-10-02 20:18:00.000000', 3.28384002773372, 0.0, -73.98419648907571, 40.75981761719184, -73.95473878380503, 40.765484087889845), ('2013-10-25 14:52:30.000000', 5.793955168137557, 3.12, -73.92467306585043, 40.7376989564444, -73.87362864289108, 40.77437570593249), ('2013-10-25 21:18:10.000000', 4.5202008775357, 2.0, -73.99991742024713, 40.748427555065724, -73.9596347414917, 40.766948216383234), ('2013-10-18 22:44:00.000000', 4.3742385740674266, 0.0, -73.96555356545913, 40.78247809974789, -74.00401512528647, 40.753309065983395), ('2013-10-21 08:36:00.000000', 18.249817626283825, 10.0, -73.94651035601463, 40.775932403149945, -73.78653298334979, 40.64698489239519), ('2013-10-20 00:14:08.000000', 1.288249906287737, 0.0, -73.94954030482212, 40.72950628420885, -73.95990462730533, 40.7108799333774), ('2013-10-10 00:50:18.000000', 2.4834244919694393, 2.62, -74.0074959856243, 40.70680845166585, -73.9859374568246, 40.727620195909545), ('2013-10-26 09:19:00.000000', 2.1577646620998867, 1.0, -74.0074959856243, 40.70680845166585, -73.99045782354733, 40.74033744175702)  ... displaying 10 of 2436 total bound parameter sets ...  ('2013-10-29 08:48:17.000000', 0.19696597243561392, 2.0, -73.97756868222719, 40.7644214057868, -73.97769793122403, 40.758028043526274), ('2013-10-22 09:08:00.000000', 1.369708433378178, 0.0, -73.96176359682921, 40.80945696112528, -73.97304890061594, 40.791704934427074))
2022-12-11 15:55:19,363 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:55:35,173 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:55:35,175 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:55:35,180 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:55:35,201 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:55:35,202 INFO sqlalchemy.engine.Engine [generated in 0.01794s] (('2013-11-10 04:23:41.000000', 2.9185683700721285, 0.0, -73.99738026020043, 40.728340391372306, -73.97235594352028, 40.75668765218882), ('2013-11-13 21:06:02.000000', 0.5468735721919958, 0.0, -73.9596347414917, 40.766948216383234, -73.95473878380503, 40.765484087889845), ('2013-11-01 17:32:00.000000', 2.376078964655367, 0.0, -73.97769793122403, 40.758028043526274, -73.96176359682921, 40.80945696112528), ('2013-11-10 00:20:42.000000', 1.2239309568986794, 1.0, -74.00787970866403, 40.717772736265175, -73.99691854183823, 40.72088889344527), ('2013-11-21 10:09:00.000000', 1.9605505750468288, 0.0, -73.99243753697608, 40.748497181405, -74.00787970866403, 40.717772736265175), ('2013-11-30 13:58:00.000000', 0.3520620785281318, 1.0, -73.9859374568246, 40.727620195909545, -73.98405213268919, 40.736824057618975), ('2013-11-22 02:52:00.000000', 0.8452813123704391, 1.1, -73.97769793122403, 40.758028043526274, -73.97044256869238, 40.74991407790217), ('2013-11-04 08:11:00.000000', 6.5589446472000335, 5.5, -73.91969431946067, 40.76149256216374, -73.97849159965226, 40.747745793643915)  ... displaying 10 of 2407 total bound parameter sets ...  ('2013-11-27 10:31:00.000000', 1.486925974767123, 1.3, -73.94651035601463, 40.775932403149945, -73.9596347414917, 40.766948216383234), ('2013-11-18 15:46:19.000000', 2.9931337596150698, 0.0, -73.98153220639182, 40.7736332930271, -73.95473878380503, 40.765484087889845))
2022-12-11 15:55:35,208 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:55:52,653 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:55:52,655 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:55:52,660 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:55:52,681 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:55:52,682 INFO sqlalchemy.engine.Engine [generated in 0.01808s] (('2013-12-10 14:00:49.000000', 4.8702387250524435, 3.0, -73.99513522075519, 40.766237725041876, -73.95378223705632, 40.81797514762944), ('2013-12-30 17:07:00.000000', 2.5660616406975985, 2.0, -73.95473878380503, 40.765484087889845, -73.97769793122403, 40.758028043526274), ('2013-12-24 07:35:00.000000', 2.104094966845363, 2.5, -73.99430477051168, 40.73257907302703, -73.97756868222719, 40.7644214057868), ('2013-12-15 07:30:25.000000', 9.728946863189382, 0.0, -73.90540773409828, 40.77742692053278, -73.99243753697608, 40.748497181405), ('2013-12-24 16:27:00.000000', 1.288249906287737, 0.0, -73.94954030482212, 40.72950628420885, -73.95990462730533, 40.7108799333774), ('2013-12-13 00:22:00.000000', 2.6506917297334036, 2.6, -73.98984464313301, 40.762252755319366, -73.9681683330924, 40.79796199310004), ('2013-12-11 14:15:31.000000', 0.9615769542735696, 0.0, -73.98405213268919, 40.736824057618975, -73.97769793122403, 40.758028043526274), ('2013-12-15 08:42:00.000000', 5.019080939984531, 3.38, -73.9512920024351, 40.804333949794604, -73.99513522075519, 40.766237725041876)  ... displaying 10 of 2409 total bound parameter sets ...  ('2013-12-10 19:51:47.000000', 4.186944517605972, 1.0, -74.00748581800953, 40.7262904102812, -73.97044256869238, 40.74991407790217), ('2013-12-10 05:42:17.000000', 9.284041221399143, 5.0, -73.95701169835736, 40.78043643718997, -73.87362864289108, 40.77437570593249))

2022-12-11 15:55:52,687 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:56:07,904 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:56:07,906 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:56:07,911 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:56:07,932 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:56:07,933 INFO sqlalchemy.engine.Engine [generated in 0.01780s] (('2012-01-26 10:32:31.000000', 1.5608115032014813, 0.0, -73.99045782354733, 40.74033744175702, -74.00401512528647, 40.753309065983395), ('2012-01-06 08:45:49.000000', 0.5468735721919958, 1.0, -73.95473878380503, 40.765484087889845, -73.9596347414917, 40.766948216383234), ('2012-01-09 17:26:40.000000', 1.0963624077945906, 0.0, -73.97235594352028, 40.75668765218882, -73.96555356545913, 40.78247809974789), ('2012-01-15 20:02:20.000000', 5.939229975366161, 0.0, -74.00287495910837, 40.73457600733177, -73.94954030482212, 40.72950628420885), ('2012-01-03 17:11:14.000000', 0.665495898533483, 1.25, -73.97304890061594, 40.791704934427074, -73.97863194845081, 40.78396143031378), ('2012-01-27 07:34:16.000000', 1.1771925701487171, 0.0, -73.94651035601463, 40.775932403149945, -73.95701169835736, 40.78043643718997), ('2012-01-25 09:55:02.000000', 0.8997759220581831, 1.0, -73.96547951516966, 40.80197049389963, -73.97304890061594, 40.791704934427074), ('2012-01-16 13:11:13.000000', 1.5135331574613309, 1.64, -73.98405213268919, 40.736824057618975, -73.99691854183823, 40.72088889344527)  ... displaying 10 of 2401 total bound parameter sets ...  ('2012-01-03 19:51:00.000000', 5.965442403719126, 1.5, -73.98984464313301, 40.762252755319366, -73.9373456081249, 40.8011694805865), ('2012-01-19 08:22:00.000000', 0.7423583052991766, 2.0, -73.97849159965226, 40.747745793643915, -73.98515639467684, 40.74857462935672))
2022-12-11 15:56:07,938 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:56:23,587 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:56:23,589 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:56:23,593 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:56:23,614 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:56:23,615 INFO sqlalchemy.engine.Engine [generated in 0.01753s] (('2012-02-13 16:36:00.000000', 0.8857408901575559, 0.0, -73.99089626184734, 40.71893835938025, -73.9830245583349, 40.71473250693941), ('2012-02-02 21:49:00.000000', 3.538887597985736, 0.0, -73.87362864289108, 40.77437570593249, -73.90540773409828, 40.77742692053278), ('2012-02-20 16:48:00.000000', 1.999253026186948, 0.0, -73.9681683330924, 40.79796199310004, -73.95100987481798, 40.77876585543437), ('2012-02-10 01:10:00.000000', 2.068743209769153, 0.0, -74.0089841047853, 40.73503540069664, -73.99045782354733, 40.74033744175702), ('2012-02-15 18:16:00.000000', 2.654393650111093, 3.58, -73.99513522075519, 40.766237725041876, -74.01151502922325, 40.70335790323615), ('2012-02-13 08:03:40.000000', 2.0770849518582013, 0.0, -73.97304890061594, 40.791704934427074, -73.98984464313301, 40.762252755319366), ('2012-02-05 19:20:00.000000', 1.2922659354322, 0.0, -74.00787970866403, 40.717772736265175, -73.99991742024713, 40.748427555065724), ('2012-02-02 15:49:02.000000', 1.3817563883216442, 0.0, -73.96563453538072, 40.76861518381155, -73.97769793122403, 40.758028043526274)  ... displaying 10 of 2395 total bound parameter sets ...  ('2012-02-15 20:09:22.000000', 1.568406827932236, 2.0, -73.97849159965226, 40.747745793643915, -73.96563453538072, 40.76861518381155), ('2012-02-02 19:39:00.000000', 0.7351338791079709, 0.0, -73.9887865991153, 40.75351275872571, -73.98405213268919, 40.736824057618975))
2022-12-11 15:56:23,621 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:56:42,808 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:56:42,810 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:56:42,815 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:56:42,837 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:56:42,837 INFO sqlalchemy.engine.Engine [generated in 0.01818s] (('2012-03-17 18:15:37.000000', 3.60216463880681, 2.0, -73.97649472376757, 40.7404389785964, -74.0074959856243, 40.70680845166585), ('2012-03-06 14:49:00.000000', 1.7927533413123604, 0.0, -73.96555356545913, 40.78247809974789, -73.97849159965226, 40.747745793643915), ('2012-03-05 11:02:00.000000', 3.0470433293562107, 0.0, -73.99243753697608, 40.748497181405, -73.96563453538072, 40.76861518381155), ('2012-03-18 00:09:34.000000', 3.7267707442029563, 0.0, -73.99089626184734, 40.71893835938025, -73.95741813122187, 40.71880391812993), ('2012-03-01 19:55:06.000000', 4.219019153266692, 0.0, -73.95701169835736, 40.78043643718997, -73.99089626184734, 40.71893835938025), ('2012-03-21 14:02:18.000000', 0.4900132928927127, 0.0, -73.99045782354733, 40.74033744175702, -73.99430477051168, 40.73257907302703), ('2012-03-20 21:02:25.000000', 2.1228362042414664, 1.74, -73.98419648907571, 40.75981761719184, -73.96514579918421, 40.75672894163307), ('2012-03-12 11:35:00.000000', 2.4091938978908094, 0.0, -73.95701169835736, 40.78043643718997, -73.97863194845081, 40.78396143031378)  ... displaying 10 of 2423 total bound parameter sets ...  ('2012-03-14 20:50:00.000000', 2.3407650096715433, 2.34, -73.97756868222719, 40.7644214057868, -73.95701169835736, 40.78043643718997), ('2012-03-27 17:19:09.000000', 0.889014267407991, 0.0, -73.9887865991153, 40.75351275872571, -73.99430477051168, 40.73257907302703))
2022-12-11 15:56:42,843 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:56:57,403 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:56:57,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:56:57,409 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:56:57,430 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:56:57,431 INFO sqlalchemy.engine.Engine [generated in 0.01788s] (('2012-04-04 12:01:15.000000', 1.1625724237988189, 0.0, -73.96514579918421, 40.75672894163307, -73.95701169835736, 40.78043643718997), ('2012-04-11 17:41:00.000000', 0.896697878407377, 0.0, -74.00153756565634, 40.72388811004171, -74.0089841047853, 40.73503540069664), ('2012-04-24 19:21:31.000000', 0.7629765508723795, 1.2, -73.99513522075519, 40.766237725041876, -73.99991742024713, 40.748427555065724), ('2012-04-18 00:21:00.000000', 1.8021225607195197, 1.72, -73.97235594352028, 40.75668765218882, -73.98764554944384, 40.77596522876096), ('2012-04-27 11:04:00.000000', 0.5464212963810254, 0.9, -73.98419648907571, 40.75981761719184, -73.9887865991153, 40.75351275872571), ('2012-04-04 16:25:00.000000', 21.573448983590545, 0.0, -73.78653298334979, 40.64698489239519, -73.97756868222719, 40.7644214057868), ('2012-04-15 20:18:39.000000', 0.4346136508266335, 1.5, -73.9887865991153, 40.75351275872571, -73.99243753697608, 40.748497181405), ('2012-04-23 13:38:00.000000', 0.43162697452090915, 1.22, -73.9887865991153, 40.75351275872571, -73.98515639467684, 40.74857462935672)  ... displaying 10 of 2415 total bound parameter sets ...  ('2012-04-28 17:21:58.000000', 0.6983872062984812, 0.0, -74.00287495910837, 40.73457600733177, -73.99697141558364, 40.74227862901228), ('2012-04-19 12:59:00.000000', 1.0266569257428106, 0.0, -73.9596347414917, 40.766948216383234, -73.95100987481798, 40.77876585543437))
2022-12-11 15:56:57,437 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:57:13,520 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:57:13,522 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-12-11 15:57:13,526 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:57:13,548 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:57:13,548 INFO sqlalchemy.engine.Engine [generated in 0.01788s] (('2012-05-03 17:29:00.000000', 1.0264381047479427, 0.0, -73.96563453538072, 40.76861518381155, -73.95701169835736, 40.78043643718997), ('2012-05-26 19:36:29.000000', 2.4091938978908094, 0.0, -73.95701169835736, 40.78043643718997, -73.97863194845081, 40.78396143031378), ('2012-05-24 18:23:00.000000', 1.369708433378178, 0.0, -73.96176359682921, 40.80945696112528, -73.97304890061594, 40.791704934427074), ('2012-05-28 23:02:38.000000', 1.8531281885998943, 0.0, -73.98419648907571, 40.75981761719184, -73.99691854183823, 40.72088889344527), ('2012-05-11 13:33:00.000000', 2.068743209769153, 1.38, -73.99045782354733, 40.74033744175702, -74.0089841047853, 40.73503540069664), ('2012-05-13 10:04:30.000000', 5.727782949808443, 0.0, -73.98984464313301, 40.762252755319366, -73.94077166756266, 40.81825786111924), ('2012-05-25 07:45:00.000000', 0.7632140248583261, 1.54, -73.99513522075519, 40.766237725041876, -73.99697141558364, 40.74227862901228), ('2012-05-27 14:26:24.000000', 1.8166107011221015, 0.0, -73.95990462730533, 40.7108799333774, -73.9689137427063, 40.66162215835685)  ... displaying 10 of 2410 total bound parameter sets ...  ('2012-05-24 13:29:31.000000', 0.6418952360194449, 0.0, -73.98153220639182, 40.7736332930271, -73.97769793122403, 40.758028043526274), ('2012-05-17 11:17:45.000000', 0.7255019886877353, 0.0, -73.97769793122403, 40.758028043526274, -73.98419648907571, 40.75981761719184))
2022-12-11 15:57:13,555 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:57:32,441 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:57:32,443 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:57:32,448 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:57:32,469 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:57:32,470 INFO sqlalchemy.engine.Engine [generated in 0.01782s] (('2012-06-21 12:40:41.000000', 0.7040721457875923, 1.86, -73.98405213268919, 40.736824057618975, -73.97849159965226, 40.747745793643915), ('2012-06-04 10:53:03.000000', 0.727533925015393, 0.0, -73.99697141558364, 40.74227862901228, -73.99045782354733, 40.74033744175702), ('2012-06-22 13:15:20.000000', 3.0785978799474174, 2.75, -73.99991742024713, 40.748427555065724, -73.97235594352028, 40.75668765218882), ('2012-06-07 14:32:34.000000', 0.45266869129274023, 0.0, -73.97863194845081, 40.78396143031378, -73.98153220639182, 40.7736332930271), ('2012-06-16 08:32:00.000000', 2.89668366382969, 1.7, -73.96563453538072, 40.76861518381155, -73.99045782354733, 40.74033744175702), ('2012-06-02 02:41:00.000000', 2.7442922807832715, 0.0, -74.00287495910837, 40.73457600733177, -73.97849159965226, 40.747745793643915), ('2012-06-30 02:18:01.000000', 2.0770088868011123, 1.67, -73.96758681222953, 40.67763538934728, -73.98611382213662, 40.685633741320636), ('2012-06-02 23:45:00.000000', 3.092759455248157, 2.0, -73.96514579918421, 40.75672894163307, -73.99089626184734, 40.71893835938025)  ... displaying 10 of 2398 total bound parameter sets ...  ('2012-06-20 18:33:00.000000', 3.697513802009596, 1.0, -73.97863194845081, 40.78396143031378, -74.0089841047853, 40.73503540069664), ('2012-06-16 19:02:56.000000', 0.9185034939987163, 0.0, -73.98419648907571, 40.75981761719184, -73.99045782354733, 40.74033744175702))
2022-12-11 15:57:32,476 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:57:49,660 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:57:49,662 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:57:49,666 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:57:49,688 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:57:49,688 INFO sqlalchemy.engine.Engine [generated in 0.01796s] (('2012-07-18 06:58:28.000000', 0.8984883468297746, 0.0, -73.97849159965226, 40.747745793643915, -73.97044256869238, 40.74991407790217), ('2012-07-24 14:18:00.000000', 0.6270627828895128, 2.0, -73.97235594352028, 40.75668765218882, -73.97756868222719, 40.7644214057868), ('2012-07-29 01:48:25.000000', 2.2416193240285454, 0.0, -73.98515639467684, 40.74857462935672, -73.96514579918421, 40.75672894163307), ('2012-07-17 09:31:00.000000', 0.8849339651474122, 0.0, -73.97696825691766, 40.723752141584804, -73.98405213268919, 40.736824057618975), ('2012-07-30 15:40:00.000000', 3.167687670065492, 0.0, -73.9859374568246, 40.727620195909545, -73.9596347414917, 40.766948216383234), ('2012-07-22 09:48:00.000000', 2.765052121314366, 2.74, -73.9512920024351, 40.804333949794604, -73.97235594352028, 40.75668765218882), ('2012-07-19 15:51:00.000000', 2.249585070949756, 0.0, -73.97235594352028, 40.75668765218882, -73.99243753697608, 40.748497181405), ('2012-07-07 11:46:38.000000', 1.3215869480841254, 1.0, -73.97235594352028, 40.75668765218882, -73.98419648907571, 40.75981761719184)  ... displaying 10 of 2416 total bound parameter sets ...  ('2012-07-11 16:52:56.000000', 1.0264381047479427, 0.0, -73.96563453538072, 40.76861518381155, -73.95701169835736, 40.78043643718997), ('2012-07-03 09:10:59.000000', 1.2929422784598805, 0.75, -73.97756868222719, 40.7644214057868, -73.9887865991153, 40.75351275872571))
2022-12-11 15:57:49,694 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:58:06,914 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:58:06,916 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:58:06,920 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:58:06,942 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:58:06,942 INFO sqlalchemy.engine.Engine [generated in 0.01779s] (('2012-08-12 21:46:06.000000', 0.7339624082516191, 0.0, -73.97044256869238, 40.74991407790217, -73.97649472376757, 40.7404389785964), ('2012-08-28 19:06:00.000000', 1.3978673832049502, 0.0, -73.97769793122403, 40.758028043526274, -73.96514579918421, 40.75672894163307), ('2012-08-02 09:24:27.000000', 1.9979078597183617, 0.0, -73.9596347414917, 40.766948216383234, -73.97756868222719, 40.7644214057868), ('2012-08-27 11:12:00.000000', 1.7764277785782026, 0.0, -73.96563453538072, 40.76861518381155, -73.98153220639182, 40.7736332930271), ('2012-08-06 21:11:00.000000', 1.065140568834066, 1.72, -73.99513522075519, 40.766237725041876, -74.00401512528647, 40.753309065983395), ('2012-08-23 18:17:00.000000', 1.9972458975878435, 0.0, -73.99430477051168, 40.73257907302703, -73.97649472376757, 40.7404389785964), ('2012-08-27 08:10:00.000000', 1.71341175216928, 1.86, -73.95100987481798, 40.77876585543437, -73.96514579918421, 40.75672894163307), ('2012-08-14 19:14:11.000000', 0.9978848601935622, 0.0, -73.99243753697608, 40.748497181405, -73.98764554944384, 40.77596522876096)  ... displaying 10 of 2404 total bound parameter sets ...  ('2012-08-01 23:59:00.000000', 3.38924700757493, 2.0, -73.9859374568246, 40.727620195909545, -74.01607915192923, 40.71203815707447), ('2012-08-17 07:22:00.000000', 1.2929422784598805, 1.52, -73.9887865991153, 40.75351275872571, -73.97756868222719, 40.7644214057868))
2022-12-11 15:58:06,948 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:58:25,578 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:58:25,580 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:58:25,584 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:58:25,606 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)

2022-12-11 15:58:25,606 INFO sqlalchemy.engine.Engine [generated in 0.01812s] (('2012-09-01 01:26:00.000000', 4.271696515540299, 1.5, -73.99089626184734, 40.71893835938025, -73.95473878380503, 40.765484087889845), ('2012-09-24 07:39:00.000000', 2.0640023588135663, 2.7, -73.99697141558364, 40.74227862901228, -73.97849159965226, 40.747745793643915), ('2012-09-03 12:59:28.000000', 2.989236826323621, 0.0, -73.95100987481798, 40.77876585543437, -73.97756868222719, 40.7644214057868), ('2012-09-14 23:57:38.000000', 3.1340911731213112, 0.0, -73.94575026755156, 40.79001075149545, -73.97235594352028, 40.75668765218882), ('2012-09-13 22:27:00.000000', 0.7211936804693112, 1.0, -73.99045782354733, 40.74033744175702, -73.98405213268919, 40.736824057618975), ('2012-09-07 14:30:48.000000', 12.692398479635667, 10.0, -73.87362864289108, 40.77437570593249, -73.98764554944384, 40.77596522876096), ('2012-09-23 00:56:45.000000', 1.8909269509389472, 1.0, -73.99089626184734, 40.71893835938025, -74.00787970866403, 40.717772736265175), ('2012-09-14 23:33:00.000000', 2.271109225713189, 1.5, -73.96563453538072, 40.76861518381155, -73.98405213268919, 40.736824057618975)  ... displaying 10 of 2416 total bound parameter sets ...  ('2012-09-15 06:59:00.000000', 21.594408084803497, 7.0, -73.78653298334979, 40.64698489239519, -73.97849159965226, 40.747745793643915), ('2012-09-05 15:30:00.000000', 0.8485849258106858, 0.0, -73.97649472376757, 40.7404389785964, -73.98405213268919, 40.736824057618975))
2022-12-11 15:58:25,613 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:58:43,433 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:58:43,436 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:58:43,440 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:58:43,461 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:58:43,462 INFO sqlalchemy.engine.Engine [generated in 0.01736s] (('2012-10-25 11:30:00.000000', 1.1465471225604518, 0.0, -73.98153220639182, 40.7736332930271, -73.97235594352028, 40.75668765218882), ('2012-10-06 01:32:00.000000', 5.511686490952705, 0.0, -73.9681683330924, 40.79796199310004, -73.91969431946067, 40.76149256216374), ('2012-10-19 10:27:00.000000', 0.5885301361156251, 1.6, -74.00287495910837, 40.73457600733177, -74.00401512528647, 40.753309065983395), ('2012-10-10 04:20:00.000000', 13.249754933545017, 7.12, -73.99243753697608, 40.748497181405, -73.87362864289108, 40.77437570593249), ('2012-10-24 19:02:00.000000', 0.7040721457875923, 1.0, -73.97849159965226, 40.747745793643915, -73.98405213268919, 40.736824057618975), ('2012-10-16 10:02:00.000000', 2.0640023588135663, 0.0, -73.99697141558364, 40.74227862901228, -73.97849159965226, 40.747745793643915), ('2012-10-18 12:37:09.000000', 1.1223890488841866, 1.0, -73.99815149899052, 40.71245931177952, -74.00748581800953, 40.7262904102812), ('2012-10-01 23:43:00.000000', 23.134678817598818, 10.0, -73.78653298334979, 40.64698489239519, -73.99243753697608, 40.748497181405)  ... displaying 10 of 2409 total bound parameter sets ...  ('2012-10-03 14:08:00.000000', 0.5960922264434129, 0.0, -73.97769793122403, 40.758028043526274, -73.97235594352028, 40.75668765218882), ('2012-10-13 16:31:49.000000', 1.9439391342120818, 2.8, -73.99045782354733, 40.74033744175702, -74.00748581800953, 40.7262904102812))
2022-12-11 15:58:43,467 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:59:00,051 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:59:00,053 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:59:00,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:59:00,079 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:59:00,080 INFO sqlalchemy.engine.Engine [generated in 0.01821s] (('2012-11-29 19:14:40.000000', 3.03931672722436, 1.0, -73.94575026755156, 40.79001075149545, -73.97304890061594, 40.791704934427074), ('2012-11-05 08:02:00.000000', 1.9543246554125229, 0.0, -73.98984464313301, 40.762252755319366, -73.97235594352028, 40.75668765218882), ('2012-11-27 15:18:00.000000', 2.1784737009880857, 0.0, -73.97863194845081, 40.78396143031378, -73.9596347414917, 40.766948216383234), ('2012-11-27 19:18:00.000000', 0.706394547084737, 2.0, -73.98419648907571, 40.75981761719184, -73.98405213268919, 40.736824057618975), ('2012-11-27 21:19:00.000000', 2.1184714362881083, 3.1, -74.00287495910837, 40.73457600733177, -73.98764554944384, 40.77596522876096), ('2012-11-16 19:38:00.000000', 2.989236826323621, 1.0, -73.97756868222719, 40.7644214057868, -73.95100987481798, 40.77876585543437), ('2012-11-24 12:27:33.000000', 0.45266869129274023, 0.0, -73.97863194845081, 40.78396143031378, -73.98153220639182, 40.7736332930271), ('2012-11-29 14:02:56.000000', 0.43162697452090915, 0.0, -73.9887865991153, 40.75351275872571, -73.98515639467684, 40.74857462935672)  ... displaying 10 of 2436 total bound parameter sets ...  ('2012-11-18 19:55:00.000000', 2.7759572586153913, 0.0, -73.98405213268919, 40.736824057618975, -74.0089841047853, 40.73503540069664), ('2012-11-10 02:06:00.000000', 0.5030463684130692, 0.0, -73.95378223705632, 40.81797514762944, -73.9512920024351, 40.804333949794604))
2022-12-11 15:59:00,086 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:59:18,076 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:59:18,078 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:59:18,083 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:59:18,104 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:59:18,105 INFO sqlalchemy.engine.Engine [generated in 0.01747s] (('2012-12-06 20:03:00.000000', 0.45266869129274023, 0.0, -73.98153220639182, 40.7736332930271, -73.97863194845081, 40.78396143031378), ('2012-12-08 19:42:00.000000', 2.874487295022292, 0.0, -74.00787970866403, 40.717772736265175, -73.98764554944384, 40.77596522876096), ('2012-12-06 08:18:59.000000', 2.504465617273996, 0.0, -74.01607915192923, 40.71203815707447, -73.99430477051168, 40.73257907302703), ('2012-12-26 23:45:00.000000', 1.3215869480841254, 1.8, -73.98419648907571, 40.75981761719184, -73.97235594352028, 40.75668765218882), ('2012-12-12 06:36:44.000000', 2.1228362042414664, 1.5, -73.96514579918421, 40.75672894163307, -73.98419648907571, 40.75981761719184), ('2012-12-15 01:27:00.000000', 6.202612506532749, 2.0, -73.9596347414917, 40.766948216383234, -74.013022771749, 40.709138940671856), ('2012-12-10 07:46:00.000000', 1.857672014874944, 1.5, -73.95701169835736, 40.78043643718997, -73.97235594352028, 40.75668765218882), ('2012-12-13 22:03:00.000000', 1.5289713654205097, 1.5, -73.99513522075519, 40.766237725041876, -73.98405213268919, 40.736824057618975)  ... displaying 10 of 2388 total bound parameter sets ...  ('2012-12-09 10:08:19.000000', 4.306969566000998, 0.0, -73.97488208618897, 40.69078679421093, -73.93679314491887, 40.715369882143555), ('2012-12-01 14:07:11.000000', 2.1151995297267514, 0.0, -73.99430477051168, 40.73257907302703, -74.01151502922325, 40.70335790323615))
2022-12-11 15:59:18,110 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:59:34,058 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:59:34,060 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:59:34,065 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:59:34,086 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:59:34,087 INFO sqlalchemy.engine.Engine [generated in 0.01779s] (('2011-01-07 10:24:00.000000', 5.99902455931254, 2.5, -73.92467306585043, 40.7376989564444, -73.97849159965226, 40.747745793643915), ('2011-01-20 00:05:00.000000', 3.2837852994591397, 2.0, -73.98419648907571, 40.75981761719184, -73.96236353818358, 40.68796745714746), ('2011-01-25 08:07:00.000000', 2.862245769743709, 0.0, -74.0089841047853, 40.73503540069664, -73.98419648907571, 40.75981761719184), ('2011-01-12 15:59:00.000000', 0.7742296500670783, 1.5, -74.00153756565634, 40.72388811004171, -73.99991742024713, 40.748427555065724), ('2011-01-16 00:31:20.000000', 4.0172250126799955, 29.0, -74.00917849113294, 40.675548862280856, -73.97659767323344, 40.731820636016764), ('2011-01-29 23:20:42.000000', 1.8909269509389472, 0.0, -73.99089626184734, 40.71893835938025, -74.00787970866403, 40.717772736265175), ('2011-01-22 23:02:00.000000', 0.45266869129274023, 1.0, -73.97863194845081, 40.78396143031378, -73.98153220639182, 40.7736332930271), ('2011-01-25 18:59:00.000000', 0.3280408821771978, 0.0, -73.97769793122403, 40.758028043526274, -73.97849159965226, 40.747745793643915)  ... displaying 10 of 2410 total bound parameter sets ...  ('2011-01-25 11:08:00.000000', 1.2929422784598805, 0.0, -73.97756868222719, 40.7644214057868, -73.9887865991153, 40.75351275872571), ('2011-01-17 07:13:20.000000', 19.421097941213645, 10.06, -73.95701169835736, 40.78043643718997, -73.78653298334979, 40.64698489239519))

2022-12-11 15:59:34,094 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 15:59:51,483 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 15:59:51,485 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 15:59:51,490 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 15:59:51,512 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 15:59:51,513 INFO sqlalchemy.engine.Engine [generated in 0.01813s] (('2011-02-10 12:11:00.000000', 1.3293693865994132, 1.3, -73.99697141558364, 40.74227862901228, -73.98515639467684, 40.74857462935672), ('2011-02-15 07:23:00.000000', 1.1989044026624172, 0.0, -73.99991742024713, 40.748427555065724, -73.98984464313301, 40.762252755319366), ('2011-02-21 15:14:00.000000', 2.2429592815393073, 0.0, -73.9887865991153, 40.75351275872571, -74.00748581800953, 40.7262904102812), ('2011-02-14 17:52:00.000000', 1.0330114234248042, 0.0, -73.98764554944384, 40.77596522876096, -73.97863194845081, 40.78396143031378), ('2011-02-05 13:30:00.000000', 0.7362188337879945, 0.0, -73.97849159965226, 40.747745793643915, -73.97235594352028, 40.75668765218882), ('2011-02-23 07:06:00.000000', 2.9373836247349274, 1.0, -73.94651035601463, 40.775932403149945, -73.97235594352028, 40.75668765218882), ('2011-02-27 17:46:35.000000', 1.402009657026511, 1.0, -73.98419648907571, 40.75981761719184, -73.99430477051168, 40.73257907302703), ('2011-02-11 16:07:00.000000', 0.7339624082516191, 0.0, -73.97649472376757, 40.7404389785964, -73.97044256869238, 40.74991407790217)  ... displaying 10 of 2420 total bound parameter sets ...  ('2011-02-07 03:31:19.000000', 3.0594840260071265, 1.22, -73.98764554944384, 40.77596522876096, -73.96176359682921, 40.80945696112528), ('2011-02-22 23:46:00.000000', 0.6015148624887969, 0.0, -73.99513522075519, 40.766237725041876, -73.98984464313301, 40.762252755319366))
2022-12-11 15:59:51,518 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:00:11,245 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:00:11,247 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:00:11,252 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:00:11,274 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:00:11,275 INFO sqlalchemy.engine.Engine [generated in 0.01877s] (('2011-03-24 16:22:15.000000', 1.3347421960023054, 0.0, -73.96563453538072, 40.76861518381155, -73.97756868222719, 40.7644214057868), ('2011-03-19 03:55:50.000000', 2.4813528443775255, 0.0, -73.96514579918421, 40.75672894163307, -73.9859374568246, 40.727620195909545), ('2011-03-27 15:44:00.000000', 3.1304389405105875, 0.0, -73.98764554944384, 40.77596522876096, -73.9596347414917, 40.766948216383234), ('2011-03-14 17:35:00.000000', 2.593765621271891, 5.0, -73.97849159965226, 40.747745793643915, -73.95701169835736, 40.78043643718997), ('2011-03-27 04:34:55.000000', 4.397632255390207, 2.06, -73.99691854183823, 40.72088889344527, -73.95741813122187, 40.71880391812993), ('2011-03-11 14:01:10.000000', 2.4909658009823303, 0.0, -73.97769793122403, 40.758028043526274, -73.99991742024713, 40.748427555065724), ('2011-03-11 22:42:10.000000', 0.9185034939987163, 0.0, -73.99045782354733, 40.74033744175702, -73.98419648907571, 40.75981761719184), ('2011-03-09 18:45:54.000000', 10.202163777789076, 5.0, -73.96514579918421, 40.75672894163307, -73.87362864289108, 40.77437570593249)  ... displaying 10 of 2412 total bound parameter sets ...  ('2011-03-02 21:59:14.000000', 2.775686357963815, 1.0, -73.97235594352028, 40.75668765218882, -73.99697141558364, 40.74227862901228), ('2011-03-19 20:16:00.000000', 1.0340179984091813, 1.75, -73.97849159965226, 40.747745793643915, -73.9859374568246, 40.727620195909545))
2022-12-11 16:00:11,282 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:00:28,473 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:00:28,475 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:00:28,479 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:00:28,501 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:00:28,502 INFO sqlalchemy.engine.Engine [generated in 0.01922s] (('2011-04-24 02:44:00.000000', 1.2690841777467015, 0.0, -73.99697141558364, 40.74227862901228, -74.00748581800953, 40.7262904102812), ('2011-04-10 04:16:41.000000', 1.2410506890416277, 0.0, -73.94575026755156, 40.79001075149545, -73.95378223705632, 40.81797514762944), ('2011-04-27 10:25:40.000000', 2.0293981852981333, 0.0, -73.97769793122403, 40.758028043526274, -73.9596347414917, 40.766948216383234), ('2011-04-26 17:44:00.000000', 0.5309992739512456, 1.5, -73.99430477051168, 40.73257907302703, -73.99243753697608, 40.748497181405), ('2011-04-08 10:49:24.000000', 3.6953446461853456, 0.0, -73.99243753697608, 40.748497181405, -73.9596347414917, 40.766948216383234), ('2011-04-29 07:20:59.000000', 2.4036304670294886, 0.0, -73.95701169835736, 40.78043643718997, -73.97769793122403, 40.758028043526274), ('2011-04-08 14:33:00.000000', 1.5610438829489188, 0.0, -73.98515639467684, 40.74857462935672, -73.99691854183823, 40.72088889344527), ('2011-04-28 09:18:57.000000', 1.979701396101174, 0.0, -73.97235594352028, 40.75668765218882, -73.95473878380503, 40.765484087889845)  ... displaying 10 of 2416 total bound parameter sets ...  ('2011-04-06 14:10:01.000000', 3.6708813259638418, 0.0, -74.0074959856243, 40.70680845166585, -73.97769793122403, 40.758028043526274), ('2011-04-06 12:37:00.000000', 0.43162697452090915, 0.0, -73.9887865991153, 40.75351275872571, -73.98515639467684, 40.74857462935672))
2022-12-11 16:00:28,509 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:00:47,199 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:00:47,202 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:00:47,206 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:00:47,228 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:00:47,229 INFO sqlalchemy.engine.Engine [generated in 0.01839s] (('2011-05-22 20:27:00.000000', 0.6493746548038178, 0.0, -73.9859374568246, 40.727620195909545, -73.98515639467684, 40.74857462935672), ('2011-05-19 08:12:00.000000', 1.3681760655249982, 0.0, -73.98984464313301, 40.762252755319366, -73.97756868222719, 40.7644214057868), ('2011-05-31 10:04:11.000000', 1.3583775329539567, 1.4, -73.98984464313301, 40.762252755319366, -73.97769793122403, 40.758028043526274), ('2011-05-10 06:45:53.000000', 1.979701396101174, 0.0, -73.95473878380503, 40.765484087889845, -73.97235594352028, 40.75668765218882), ('2011-05-10 11:54:00.000000', 4.9338673794777606, 0.0, -73.94139910573644, 40.841708771119784, -73.98153220639182, 40.7736332930271), ('2011-05-03 21:44:00.000000', 24.707500255168814, 0.0, -73.98515639467684, 40.74857462935672, -73.76450578558227, 40.66218488071142), ('2011-05-01 17:35:00.000000', 4.050643554548268, 0.0, -73.95473878380503, 40.765484087889845, -73.99045782354733, 40.74033744175702), ('2011-05-16 14:01:00.000000', 1.171821077076009, 1.5, -74.00787970866403, 40.717772736265175, -74.00401512528647, 40.753309065983395)  ... displaying 10 of 2393 total bound parameter sets ...  ('2011-05-29 12:56:00.000000', 2.4813528443775255, 0.5, -73.96514579918421, 40.75672894163307, -73.9859374568246, 40.727620195909545), ('2011-05-18 23:01:03.000000', 1.5135331574613309, 0.0, -73.99691854183823, 40.72088889344527, -73.98405213268919, 40.736824057618975))
2022-12-11 16:00:47,235 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:01:04,849 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:01:04,852 INFO sqlalchemy.engine.Engine [raw sql] ()

2022-12-11 16:01:04,856 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:01:04,878 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:01:04,879 INFO sqlalchemy.engine.Engine [generated in 0.01816s] (('2011-06-10 12:02:00.000000', 0.45266869129274023, 0.0, -73.97863194845081, 40.78396143031378, -73.98153220639182, 40.7736332930271), ('2011-06-03 12:07:00.000000', 1.425751381299376, 1.0, -73.99045782354733, 40.74033744175702, -73.98153220639182, 40.7736332930271), ('2011-06-28 13:45:00.000000', 0.8946538448273352, 0.0, -73.94199705818421, 40.76031363502697, -73.94889145447952, 40.74537943399859), ('2011-06-09 20:11:36.000000', 0.8326595389483107, 1.18, -73.99243753697608, 40.748497181405, -73.99991742024713, 40.748427555065724), ('2011-06-22 19:12:00.000000', 11.003791384994715, 5.5, -73.87362864289108, 40.77437570593249, -73.97235594352028, 40.75668765218882), ('2011-06-03 20:59:00.000000', 1.0264381047479427, 0.0, -73.96563453538072, 40.76861518381155, -73.95701169835736, 40.78043643718997), ('2011-06-11 23:12:03.000000', 3.282555763393546, 0.0, -73.95701169835736, 40.78043643718997, -73.98515639467684, 40.74857462935672), ('2011-06-04 23:57:00.000000', 1.2739989091766, 0.0, -73.99738026020043, 40.728340391372306, -73.9859374568246, 40.727620195909545)  ... displaying 10 of 2412 total bound parameter sets ...  ('2011-06-02 13:42:00.000000', 0.3695106771537282, 0.0, -73.96514579918421, 40.75672894163307, -73.96563453538072, 40.76861518381155), ('2011-06-02 22:05:00.000000', 5.939229975366161, 3.0, -74.00287495910837, 40.73457600733177, -73.94954030482212, 40.72950628420885))
2022-12-11 16:01:04,885 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:01:23,106 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:01:23,108 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:01:23,112 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:01:23,134 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:01:23,135 INFO sqlalchemy.engine.Engine [generated in 0.01798s] (('2011-07-08 23:30:58.000000', 2.19196570249209, 0.0, -73.95473878380503, 40.765484087889845, -73.97304890061594, 40.791704934427074), ('2011-07-28 14:30:00.000000', 4.905232735221172, 1.0, -74.00787970866403, 40.717772736265175, -73.96514579918421, 40.75672894163307), ('2011-07-24 08:32:06.000000', 1.1893910781028372, 1.65, -73.95473878380503, 40.765484087889845, -73.96514579918421, 40.75672894163307), ('2011-07-28 06:00:35.000000', 0.8452813123704391, 0.0, -73.97044256869238, 40.74991407790217, -73.97769793122403, 40.758028043526274), ('2011-07-30 16:16:00.000000', 1.4282073155728403, 1.5, -73.99697141558364, 40.74227862901228, -74.00787970866403, 40.717772736265175), ('2011-07-27 22:24:00.000000', 1.2739989091766, 0.0, -73.99738026020043, 40.728340391372306, -73.9859374568246, 40.727620195909545), ('2011-07-14 09:30:00.000000', 1.037623566570762, 2.0, -73.95701169835736, 40.78043643718997, -73.96176359682921, 40.80945696112528), ('2011-07-13 20:46:14.000000', 3.9519555709622662, 2.86, -73.99513522075519, 40.766237725041876, -73.9596347414917, 40.766948216383234)  ... displaying 10 of 2439 total bound parameter sets ...  ('2011-07-23 04:49:37.000000', 4.598198134724162, 0.0, -73.98984464313301, 40.762252755319366, -73.94954030482212, 40.72950628420885), ('2011-07-04 11:27:16.000000', 0.8849339651474122, 1.0, -73.98405213268919, 40.736824057618975, -73.97696825691766, 40.723752141584804))
2022-12-11 16:01:23,140 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:01:37,833 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:01:37,835 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:01:37,839 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:01:37,860 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:01:37,861 INFO sqlalchemy.engine.Engine [generated in 0.01772s] (('2011-08-29 09:37:24.000000', 3.2045062549809855, 1.0, -73.95100987481798, 40.77876585543437, -73.97849159965226, 40.747745793643915), ('2011-08-01 14:50:45.000000', 1.630163273295666, 2.76, -73.98984464313301, 40.762252755319366, -73.97649472376757, 40.7404389785964), ('2011-08-20 10:38:54.000000', 0.9891405727277673, 0.0, -73.98984464313301, 40.762252755319366, -73.98153220639182, 40.7736332930271), ('2011-08-15 06:20:00.000000', 2.9331967102835437, 2.0, -73.97769793122403, 40.758028043526274, -74.00401512528647, 40.753309065983395), ('2011-08-06 10:52:00.000000', 0.8279535218852577, 2.0, -73.99738026020043, 40.728340391372306, -73.99243753697608, 40.748497181405), ('2011-08-12 12:59:15.000000', 4.383524926123024, 2.84, -73.94651035601463, 40.775932403149945, -73.98515639467684, 40.74857462935672), ('2011-08-30 02:17:17.000000', 2.5756136370834746, 0.0, -74.0089841047853, 40.73503540069664, -73.9859374568246, 40.727620195909545), ('2011-08-28 22:38:13.000000', 2.71615586759177, 0.0, -74.00787970866403, 40.717772736265175, -73.98405213268919, 40.736824057618975)  ... displaying 10 of 2390 total bound parameter sets ...  ('2011-08-24 20:50:16.000000', 0.46194562900362707, 0.0, -73.99691854183823, 40.72088889344527, -73.99430477051168, 40.73257907302703), ('2011-08-09 13:48:31.000000', 0.6271582442284823, 1.0, -73.98764554944384, 40.77596522876096, -73.98419648907571, 40.75981761719184))
2022-12-11 16:01:37,868 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:01:54,930 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:01:54,932 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:01:54,936 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:01:54,958 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:01:54,958 INFO sqlalchemy.engine.Engine [generated in 0.01799s] (('2011-09-24 14:19:16.000000', 0.5116806822154131, 0.0, -73.9830245583349, 40.71473250693941, -73.9859374568246, 40.727620195909545), ('2011-09-23 15:44:01.000000', 0.6369463477286246, 0.0, -73.9859374568246, 40.727620195909545, -73.99045782354733, 40.74033744175702), ('2011-09-23 20:19:00.000000', 0.7465358575066895, 1.0, -73.97649472376757, 40.7404389785964, -73.97756868222719, 40.7644214057868), ('2011-09-07 10:19:02.000000', 1.1764592386212855, 0.0, -73.98764554944384, 40.77596522876096, -73.97756868222719, 40.7644214057868), ('2011-09-03 15:20:00.000000', 1.1306253765266139, 2.0, -73.99430477051168, 40.73257907302703, -73.98515639467684, 40.74857462935672), ('2011-09-19 14:20:19.000000', 0.9810349451940916, 1.32, -73.98419648907571, 40.75981761719184, -73.99243753697608, 40.748497181405), ('2011-09-02 18:04:45.000000', 5.573073476233069, 2.0, -73.97863194845081, 40.78396143031378, -73.93283148761294, 40.857108283314425), ('2011-09-10 15:53:00.000000', 1.447885098715616, 0.0, -73.99697141558364, 40.74227862901228, -73.98405213268919, 40.736824057618975)  ... displaying 10 of 2404 total bound parameter sets ...  ('2011-09-08 00:58:00.000000', 1.4799394702488866, 1.0, -74.00748581800953, 40.7262904102812, -73.99430477051168, 40.73257907302703), ('2011-09-28 09:48:54.000000', 4.2982904417518855, 1.0, -74.00401512528647, 40.753309065983395, -73.96563453538072, 40.76861518381155))
2022-12-11 16:01:54,964 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:02:13,501 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:02:13,504 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:02:13,508 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:02:13,530 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)

2022-12-11 16:02:13,530 INFO sqlalchemy.engine.Engine [generated in 0.01795s] (('2011-10-23 13:38:00.000000', 1.7764277785782026, 0.0, -73.98153220639182, 40.7736332930271, -73.96563453538072, 40.76861518381155), ('2011-10-29 02:34:00.000000', 3.401047495682205, 0.0, -74.00153756565634, 40.72388811004171, -73.97235594352028, 40.75668765218882), ('2011-10-25 16:06:56.000000', 1.71341175216928, 0.0, -73.95100987481798, 40.77876585543437, -73.96514579918421, 40.75672894163307), ('2011-10-07 06:55:13.000000', 1.5810593215532944, 1.0, -73.97304890061594, 40.791704934427074, -73.98419648907571, 40.75981761719184), ('2011-10-12 10:10:29.000000', 0.3280408821771978, 0.0, -73.97769793122403, 40.758028043526274, -73.97849159965226, 40.747745793643915), ('2011-10-21 11:36:04.000000', 1.8531281885998943, 0.0, -73.98419648907571, 40.75981761719184, -73.99691854183823, 40.72088889344527), ('2011-10-11 19:13:00.000000', 0.4346136508266335, 0.0, -73.9887865991153, 40.75351275872571, -73.99243753697608, 40.748497181405), ('2011-10-29 02:12:13.000000', 1.5543682860169132, 1.0, -73.99045782354733, 40.74033744175702, -73.97649472376757, 40.7404389785964)  ... displaying 10 of 2413 total bound parameter sets ...  ('2011-10-26 19:25:00.000000', 1.4761534539158054, 2.2, -73.99595619089146, 40.679199014097094, -74.00917849113294, 40.675548862280856), ('2011-10-18 10:13:12.000000', 1.1267022152922912, 1.08, -73.99738026020043, 40.728340391372306, -74.00748581800953, 40.7262904102812))
2022-12-11 16:02:13,541 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:02:30,242 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:02:30,244 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:02:30,249 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:02:30,270 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:02:30,271 INFO sqlalchemy.engine.Engine [generated in 0.01790s] (('2011-11-18 00:12:00.000000', 1.0819172394445926, 0.0, -73.99991742024713, 40.748427555065724, -73.99045782354733, 40.74033744175702), ('2011-11-27 01:33:00.000000', 1.883728606866539, 0.0, -74.00153756565634, 40.72388811004171, -73.98570161582289, 40.702258938822524), ('2011-11-29 07:52:00.000000', 0.665495898533483, 0.0, -73.97863194845081, 40.78396143031378, -73.97304890061594, 40.791704934427074), ('2011-11-06 17:51:40.000000', 1.450834263271719, 0.0, -73.97235594352028, 40.75668765218882, -73.9596347414917, 40.766948216383234), ('2011-11-09 07:17:00.000000', 2.0293981852981333, 1.0, -73.9596347414917, 40.766948216383234, -73.97769793122403, 40.758028043526274), ('2011-11-02 20:20:27.000000', 1.857672014874944, 0.0, -73.95701169835736, 40.78043643718997, -73.97235594352028, 40.75668765218882), ('2011-11-28 12:21:04.000000', 0.7255019886877353, 0.0, -73.97769793122403, 40.758028043526274, -73.98419648907571, 40.75981761719184), ('2011-11-05 03:51:00.000000', 3.3562445679085, 0.0, -73.9859374568246, 40.727620195909545, -74.00465205914723, 40.64188631576521)  ... displaying 10 of 2409 total bound parameter sets ...  ('2011-11-21 19:58:33.000000', 3.432589366698389, 0.0, -73.9681683330924, 40.79796199310004, -73.9373456081249, 40.8011694805865), ('2011-11-24 23:41:13.000000', 0.99670452001534, 0.0, -73.94575026755156, 40.79001075149545, -73.9373456081249, 40.8011694805865))
2022-12-11 16:02:30,278 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:02:49,514 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:02:49,517 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:02:49,521 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:02:49,543 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, tip_amount, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:02:49,544 INFO sqlalchemy.engine.Engine [generated in 0.01792s] (('2011-12-04 15:04:08.000000', 2.5143440198730826, 0.0, -73.98570161582289, 40.702258938822524, -74.00787970866403, 40.717772736265175), ('2011-12-15 07:55:58.000000', 1.2895495945687037, 2.84, -73.98611382213662, 40.685633741320636, -73.9859374568246, 40.727620195909545), ('2011-12-25 00:01:00.000000', 0.8452813123704391, 0.0, -73.97769793122403, 40.758028043526274, -73.97044256869238, 40.74991407790217), ('2011-12-04 09:52:00.000000', 0.665495898533483, 0.0, -73.97304890061594, 40.791704934427074, -73.97863194845081, 40.78396143031378), ('2011-12-01 20:44:00.000000', 2.4445460521080236, 3.88, -74.00401512528647, 40.753309065983395, -73.99595619089146, 40.679199014097094), ('2011-12-10 12:10:00.000000', 0.5250180052712545, 0.0, -73.95473878380503, 40.765484087889845, -73.95701169835736, 40.78043643718997), ('2011-12-07 10:20:53.000000', 4.578486826478153, 0.0, -74.01607915192923, 40.71203815707447, -73.97756868222719, 40.7644214057868), ('2011-12-26 23:44:00.000000', 0.9748930741221764, 0.0, -73.97756868222719, 40.7644214057868, -73.98515639467684, 40.74857462935672)  ... displaying 10 of 2387 total bound parameter sets ...  ('2011-12-11 11:03:00.000000', 2.4091938978908094, 1.5, -73.97863194845081, 40.78396143031378, -73.95701169835736, 40.78043643718997), ('2011-12-31 13:34:20.000000', 4.1215637257609385, 0.0, -74.01151502922325, 40.70335790323615, -73.97769793122403, 40.758028043526274))
2022-12-11 16:02:49,550 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:03:20,505 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:03:20,507 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:03:20,510 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:03:20,526 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:03:20,527 INFO sqlalchemy.engine.Engine [generated in 0.01217s] (('2010-01-10 02:39:00', 1.2496042355432089, -73.98751799999998, 40.718457, -73.998703, 40.715007, 4.0), ('2010-01-30 12:01:10', 0.31453149381582, -73.98101, 40.765006, -73.978217, 40.763458, 0.0), ('2010-01-10 03:30:49', 1.6659512386357889, -73.999211, 40.727786, -73.989267, 40.768347, 0.0), ('2010-01-16 15:54:00', 2.5188300391744467, -73.98192799999998, 40.767917, -74.001272, 40.725352, 0.0), ('2010-01-28 22:58:11', 0.5654862196557379, -74.007917, 40.715783, -74.00296899999998, 40.719956, 1.0), ('2010-01-31 19:31:00', 0.553756994334823, -74.003887, 40.747915, -74.008132, 40.738503, 1.0), ('2010-01-21 16:30:30', 0.5277282344346139, -73.995108, 40.744996, -73.999533, 40.738826, 0.0), ('2010-01-22 23:44:00', 2.277232864381886, -73.980278, 40.730442, -73.99848699999998, 40.764242, 0.0)  ... displaying 10 of 2526 total bound parameter sets ...  ('2010-01-12 08:18:00', 0.19739076460839503, -73.98856, 40.734062, -73.98738799999998, 40.729238, 1.8), ('2010-01-26 09:20:44', 2.467803005196049, -73.980829, 40.761854, -74.002994, 40.760395, 1.88))
2022-12-11 16:03:20,533 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:03:39,367 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:03:39,369 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:03:39,372 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:03:39,388 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:03:39,389 INFO sqlalchemy.engine.Engine [generated in 0.01207s] (('2010-02-17 11:18:17', 1.9598185291114896, -73.98625, 40.740258, -73.969814, 40.763117, 0.0), ('2010-02-18 11:03:56', 1.454587363644736, -73.966622, 40.793169, -73.95391499999998, 40.782148, 2.0), ('2010-02-12 18:44:00', 0.49246149303631664, -73.99160999999998, 40.74877, -73.988285, 40.73819, 0.0), ('2010-02-18 08:01:00', 0.2625213557206506, -73.97265799999998, 40.753325, -73.973608, 40.761143, 0.0), ('2010-02-25 05:08:00', 0.8347729422063447, -73.985928, 40.740765, -73.980483, 40.759452, 1.0), ('2010-02-18 23:12:00', 1.2818931932555773, -73.99259, 40.737515, -74.00383499999998, 40.728515, 1.0), ('2010-02-20 14:42:00', 2.172995265730135, -74.000708, 40.742128, -73.981188, 40.741705, 2.0), ('2010-02-08 12:41:00', 0.5362032718713531, -73.98216999999998, 40.77121, -73.97853999999998, 40.782683, 0.0)  ... displaying 10 of 2510 total bound parameter sets ...  ('2010-02-26 12:07:08', 0.864400408054475, -73.954637, 40.783997, -73.95972999999998, 40.762787, 0.0), ('2010-02-25 19:19:04', 1.3042867088896322, -73.994174, 40.722735, -74.005882, 40.724364, 0.0))

2022-12-11 16:03:39,395 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:04:02,200 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:04:02,202 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:04:02,205 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:04:02,222 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:04:02,222 INFO sqlalchemy.engine.Engine [generated in 0.01254s] (('2010-03-09 04:45:53', 0.5771552307696297, -74.000557, 40.747738, -74.000862, 40.72896, 0.0), ('2010-03-23 22:32:00', 1.5810121558717285, -73.981155, 40.74167, -73.96751999999998, 40.756067, 2.0), ('2010-03-24 03:27:37', 0.02112554611290614, -73.950721, 40.771131, -73.950895, 40.770857, 0.0), ('2010-03-27 03:43:00', 0.3976391676770979, -73.992034, 40.726427, -73.98869999999998, 40.731076, 0.0), ('2010-03-29 10:23:01', 0.33566742934638266, -73.988045, 40.745718, -73.990606, 40.739947, 0.0), ('2010-03-27 10:36:30', 0.48629234240666025, -73.99419799999998, 40.738849, -73.99826799999998, 40.733093, 0.0), ('2010-03-19 15:22:00', 5.190123223620812, -73.96015699999998, 40.782037, -74.005305, 40.739862, 0.0), ('2010-03-15 12:15:39', 1.4524256756476523, -73.97172899999998, 40.760217, -73.959123, 40.772399, 0.0)  ... displaying 10 of 2522 total bound parameter sets ...  ('2010-03-27 02:06:05', 3.977831827894133, -74.004951, 40.735395, -73.97894499999998, 40.64653, 3.34), ('2010-03-24 10:33:00', 0.36440392549936734, -73.96709699999998, 40.761533, -73.96610699999998, 40.77283, 2.0))
2022-12-11 16:04:02,228 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:04:32,054 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:04:32,056 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:04:32,059 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:04:32,076 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:04:32,076 INFO sqlalchemy.engine.Engine [generated in 0.01249s] (('2010-04-01 07:27:41', 0.763663289034706, -73.99399599999998, 40.720259, -74.00068799999998, 40.725734, 0.0), ('2010-04-10 15:26:37', 0.942123578969777, -73.98863299999998, 40.731128, -73.980751, 40.7423, 0.0), ('2010-04-08 20:18:21', 6.346327702917105, -73.99805, 40.745868, -73.945946, 40.829665, 3.82), ('2010-04-23 12:17:36', 2.4555188846800107, -73.97492699999998, 40.754806, -73.99610599999998, 40.732456, 1.29), ('2010-04-06 00:41:00', 1.4950032866137934, -73.984797, 40.768812, -73.992382, 40.728632, 0.0), ('2010-04-12 11:15:00', 3.800906430231803, -73.954178, 40.774705, -73.987673, 40.750708, 0.0), ('2010-04-13 14:59:31', 1.034597923822218, -73.97961499999998, 40.784705, -73.988504, 40.77487, 0.0), ('2010-04-08 07:07:27', 0.4545737833163855, -73.990964, 40.74958, -73.987556, 40.741424, 0.0)  ... displaying 10 of 2516 total bound parameter sets ...  ('2010-04-16 16:58:49', 3.4381305144972756, -73.97815, 40.752099, -74.006105, 40.704484, 2.0), ('2010-04-16 15:58:03', 11.996280465822526, -73.97234799999998, 40.786498, -73.864678, 40.770216, 9.14))
2022-12-11 16:04:32,083 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:05:08,465 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:05:08,467 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:05:08,471 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:05:08,490 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:05:08,491 INFO sqlalchemy.engine.Engine [generated in 0.01442s] (('2010-05-11 16:24:00', 0.6783642492810172, -73.97028199999998, 40.78409, -73.96495799999998, 40.773355, 0.0), ('2010-05-31 11:32:00', 0.7171897146778091, -74.00448199999998, 40.722025, -74.010005, 40.709985, 0.0), ('2010-05-22 18:58:24', 2.8943392387327163, -73.999211, 40.725247, -73.974219, 40.75124, 2.0), ('2010-05-25 19:17:00', 0.4319432381282057, -73.987932, 40.759435, -73.99158799999998, 40.754722, 0.0), ('2010-05-26 12:20:38', 0.7148445956096838, -73.966757, 40.788898, -73.96290299999998, 40.770303, 0.0), ('2010-05-19 18:07:20', 2.9901119902539204, -73.982591, 40.762845, -73.95577299999998, 40.768323, 0.0), ('2010-05-09 21:58:00', 1.8590545893035202, -73.992215, 40.758288, -73.975662, 40.75027, 0.8), ('2010-05-18 13:57:00', 1.6926678838346945, -73.999457, 40.735602, -74.014662, 40.736047, 4.35)  ... displaying 10 of 2528 total bound parameter sets ...  ('2010-05-22 01:37:25', 1.3373443509972736, -73.98710599999998, 40.766146, -73.994923, 40.733068, 1.0), ('2010-05-12 12:57:42', 3.165930655159133, -73.990048, 40.771712, -73.96351, 40.808759, 0.9))
2022-12-11 16:05:08,497 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:05:39,775 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:05:39,777 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:05:39,781 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:05:39,797 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:05:39,798 INFO sqlalchemy.engine.Engine [generated in 0.01249s] (('2010-06-15 08:15:52', 1.8924864759927233, -73.99087799999998, 40.770705, -73.97398099999998, 40.763917, 1.3), ('2010-06-29 14:25:23', 0.5620718146857776, -73.990165, 40.771921, -73.99180699999998, 40.754608, 1.11), ('2010-06-24 12:19:00', 1.0339635386953019, -73.988337, 40.749062, -73.979055, 40.750297, 0.5), ('2010-06-21 05:50:09', 0.425606634758951, -73.983512, 40.77104, -73.982477, 40.757701, 0.0), ('2010-06-06 04:37:40', 1.2905053864455054, -73.979996, 40.765359, -73.99087299999998, 40.750822, 0.0), ('2010-06-03 07:17:00', 1.0652561318112292, -73.952252, 40.778243, -73.961808, 40.780072, 0.0), ('2010-06-07 12:26:34', 3.4187808837917824, -74.01625099999998, 40.711496, -73.986806, 40.743165, 0.0), ('2010-06-23 07:30:00', 1.112064580923154, -74.002823, 40.760472, -74.005622, 40.725672, 0.0)  ... displaying 10 of 2520 total bound parameter sets ...  ('2010-06-29 08:49:00', 1.0353823361369454, -73.981887, 40.763228, -73.99068, 40.752238, 1.0), ('2010-06-17 09:36:00', 2.01772828804489, -73.99109, 40.732955, -74.007987, 40.709158, 0.0))
2022-12-11 16:05:39,804 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:06:10,393 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:06:10,396 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:06:10,399 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:06:10,416 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:06:10,416 INFO sqlalchemy.engine.Engine [generated in 0.01251s] (('2010-07-08 12:43:37', 1.3110051867032926, -73.99368699999998, 40.699942, -73.990409, 40.74096, 0.0), ('2010-07-20 12:36:41', 12.74647192381524, -73.87459099999998, 40.774149, -73.98856499999998, 40.73441, 4.41), ('2010-07-15 23:57:39', 6.478604197534042, -73.958296, 40.764672, -73.90549, 40.853066, 0.0), ('2010-07-17 10:10:00', 3.9236460639896573, -73.964005, 40.808122, -73.994793, 40.745948, 0.0), ('2010-07-22 00:28:00', 1.6820339103960313, -73.974247, 40.759745, -73.96653, 40.80679, 2.0), ('2010-07-02 08:33:00', 0.7998230556544257, -73.989523, 40.75709, -73.982355, 40.758877, 0.0), ('2010-07-22 11:41:25', 1.8040703344691602, -73.98021, 40.760921, -73.993289, 40.72623, 2.92), ('2010-07-23 07:08:00', 2.874039345914388, -73.95666699999998, 40.774925, -73.98173, 40.752482, 0.0)  ... displaying 10 of 2529 total bound parameter sets ...  ('2010-07-10 00:27:15', 0.849699947162764, -73.975835, 40.744953, -73.982974, 40.735165, 0.0), ('2010-07-15 17:25:10', 1.4491526266784016, -73.98241199999998, 40.769529, -73.988338, 40.727515, 0.0))

2022-12-11 16:06:10,423 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:06:31,992 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:06:31,994 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:06:31,997 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:06:32,013 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:06:32,014 INFO sqlalchemy.engine.Engine [generated in 0.01217s] (('2010-08-06 01:09:00', 3.305065791182032, -73.98340799999998, 40.767872, -73.953868, 40.778662, 2.0), ('2010-08-30 01:13:00', 3.3960985131402577, -73.98451199999998, 40.764423, -73.955967, 40.80341, 2.0), ('2010-08-09 07:17:35', 5.463430951908214, -73.922078, 40.743802, -73.971109, 40.751636, 0.0), ('2010-08-21 15:35:37', 4.899186549296567, -73.991189, 40.770575, -73.95078599999998, 40.70738, 0.0), ('2010-08-27 10:54:39', 6.381820716057321, -73.981521, 40.749932, -73.927378, 40.818112, 3.27), ('2010-08-20 18:50:00', 3.142534492498882, -73.985995, 40.778062, -74.01081499999998, 40.729272, 0.0), ('2010-08-16 13:31:00', 8.163033600320361, -73.918287, 40.769992, -73.991405, 40.749843, 3.7), ('2010-08-07 21:33:18', 4.171531407356342, -73.969606, 40.789656, -74.002576, 40.725092, 4.0)  ... displaying 10 of 2506 total bound parameter sets ...  ('2010-08-13 14:11:00', 1.300539840994883, -73.97460499999998, 40.760282, -73.986243, 40.756572, 0.0), ('2010-08-06 13:59:10', 0.533140854253737, -73.970273, 40.763097, -73.97436299999998, 40.754072, 0.0))
2022-12-11 16:06:32,020 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:07:04,089 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:07:04,091 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:07:04,095 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:07:04,112 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:07:04,113 INFO sqlalchemy.engine.Engine [generated in 0.01263s] (('2010-09-03 20:29:00', 0.7051848439483994, -73.980728, 40.744967, -73.985793, 40.731178, 2.0), ('2010-09-14 22:51:09', 0.5040837715325837, -73.955325, 40.776853, -73.952532, 40.789748, 0.0), ('2010-09-07 18:04:07', 1.1912192926435916, -73.99100199999998, 40.750575, -73.997403, 40.719475, 1.0), ('2010-09-15 07:29:55', 2.7528559250366893, -73.97561799999998, 40.759935, -74.000138, 40.748295, 0.0), ('2010-09-08 17:13:42', 7.163027825787487, -73.952247, 40.777078, -73.888095, 40.759025, 0.0), ('2010-09-11 22:46:00', 2.290356727285983, -73.95897499999998, 40.764047, -73.97941199999998, 40.77265, 2.0), ('2010-09-25 14:09:09', 2.098744427063621, -73.996888, 40.742275, -73.978696, 40.724331, 2.6), ('2010-09-02 01:08:55', 0.7344877301599269, -73.962467, 40.759271, -73.957012, 40.745838, 3.22)  ... displaying 10 of 2524 total bound parameter sets ...  ('2010-09-16 21:43:00', 4.592956331135546, -73.992847, 40.733797, -73.95429, 40.786992, 2.0), ('2010-09-26 14:52:51', 0.9229492653253077, -73.98965699999998, 40.74187, -73.982398, 40.756391, 0.0))
2022-12-11 16:07:04,119 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:07:32,826 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:07:32,828 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:07:32,832 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:07:32,848 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:07:32,849 INFO sqlalchemy.engine.Engine [generated in 0.01224s] (('2010-10-19 20:27:00', 1.1313091386400131, -73.958815, 40.772308, -73.968855, 40.766608, 0.0), ('2010-10-22 12:14:54', 13.757680045935494, -73.86271399999998, 40.768946, -73.98442799999998, 40.691534, 0.0), ('2010-10-14 10:12:00', 1.808270037980993, -73.99436, 40.751033, -73.97855699999998, 40.76466, 0.0), ('2010-10-02 11:40:25', 1.436609256929764, -73.996896, 40.725341, -73.98399399999998, 40.726396, 1.4), ('2010-10-26 18:14:54', 3.000787295954946, -74.00475, 40.737494, -73.978603, 40.761269, 0.0), ('2010-10-29 15:33:00', 2.0400686305142126, -73.975457, 40.75691, -73.958567, 40.78266, 0.0), ('2010-10-08 17:42:00', 0.9808926437571782, -73.968905, 40.7697, -73.960797, 40.75721, 0.0), ('2010-10-07 12:39:00', 11.858294529503327, -73.97971699999998, 40.763007, -73.873238, 40.774297, 0.0)  ... displaying 10 of 2520 total bound parameter sets ...  ('2010-10-19 21:57:10', 0.49535660439048934, -73.964402, 40.76467, -73.960232, 40.770292, 0.0), ('2010-10-11 19:07:00', 0.2291858328725426, -73.980592, 40.76506, -73.978645, 40.762635, 0.0))
2022-12-11 16:07:32,856 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:07:58,708 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:07:58,710 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:07:58,713 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:07:58,729 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:07:58,730 INFO sqlalchemy.engine.Engine [generated in 0.01217s] (('2010-11-29 23:47:16', 4.609482419453405, -73.987178, 40.72264, -73.952731, 40.805852, 0.0), ('2010-11-19 10:56:34', 0.366434969031267, -73.982324, 40.762462, -73.98523, 40.756858, 2.13), ('2010-11-27 09:22:00', 2.075365453835595, -73.978522, 40.724548, -73.99697299999998, 40.714865, 0.0), ('2010-11-15 13:17:12', 1.7760551005860394, -74.00196099999998, 40.724421, -73.98625, 40.734493, 0.0), ('2010-11-20 16:26:19', 1.6451287989492622, -73.964931, 40.761922, -73.979613, 40.755817, 1.05), ('2010-11-30 19:52:00', 24.380427612463375, -73.77856699999998, 40.646695, -73.99592, 40.743678, 9.0), ('2010-11-27 14:14:00', 0.2627183775122044, -73.98416799999998, 40.72928, -73.98651499999998, 40.730178, 0.0), ('2010-11-07 15:52:08', 4.575557654933661, -74.01636499999998, 40.704746, -73.978513, 40.762861, 3.5)  ... displaying 10 of 2511 total bound parameter sets ...  ('2010-11-26 02:35:52', 11.906631520138944, -73.84695499999998, 40.723052, -73.953478, 40.757846, 0.0), ('2010-11-15 09:45:52', 0.5459624203665296, -73.9901, 40.775808, -73.987796, 40.760111, 1.0))
2022-12-11 16:07:58,736 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:08:23,982 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:08:23,984 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:08:23,988 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:08:24,005 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:08:24,005 INFO sqlalchemy.engine.Engine [generated in 0.01299s] (('2010-12-06 09:12:00', 1.451383742736278, -74.006803, 40.744005, -73.993773, 40.742348, 1.0), ('2010-12-06 04:46:43', 3.8497451451933093, -73.957059, 40.766236, -73.99137, 40.75056, 0.0), ('2010-12-31 15:20:00', 0.9513076600730253, -73.93958, 40.805013, -73.943678, 40.777903, 0.0), ('2010-12-03 18:25:35', 1.2533218663492331, -73.97890499999998, 40.762392, -73.990162, 40.761666, 0.8), ('2010-12-03 00:42:37', 5.864403691664286, -74.003855, 40.72618, -73.953686, 40.784417, 1.0), ('2010-12-20 20:39:00', 1.4162083849689215, -73.993403, 40.742943, -73.980681, 40.742869, 1.0), ('2010-12-16 11:19:00', 0.6221655617414499, -73.992025, 40.733088, -73.99749699999998, 40.728962, 0.0), ('2010-12-05 01:24:51', 4.25711341858584, -73.957707, 40.765538, -73.92158, 40.810875, 0.0)  ... displaying 10 of 2522 total bound parameter sets ...  ('2010-12-17 15:38:00', 2.189766950243396, -73.956157, 40.781312, -73.975828, 40.781388, 3.0), ('2010-12-02 15:57:05', 2.5978493646775664, -73.988803, 40.748292, -74.00963299999998, 40.710119, 2.22))

2022-12-11 16:08:24,012 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:08:51,777 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:08:51,780 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:08:51,783 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:08:51,800 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:08:51,800 INFO sqlalchemy.engine.Engine [generated in 0.01236s] (('2009-01-09 07:22:54', 1.236843413525995, -73.952651, 40.786395, -73.941996, 40.797785, 0.0), ('2009-01-12 08:02:00', 2.817144950475521, -73.95482699999998, 40.773432, -73.97973299999998, 40.757188, 0.0), ('2009-01-24 21:08:00', 2.9378351988374933, -73.94724999999998, 40.784133, -73.97179699999998, 40.749058, 0.0), ('2009-01-13 16:55:00', 0.8412075230136679, -73.980208, 40.767402, -73.97282699999998, 40.761533, 0.0), ('2009-01-12 16:29:17', 1.841573908573124, -74.00102699999998, 40.757232, -73.984499, 40.759798, 0.0), ('2009-01-28 13:42:10', 0.941422010627115, -73.97360399999998, 40.742786, -73.96741199999998, 40.763646, 0.6999999999999998), ('2009-01-11 20:41:00', 0.3958322996026672, -73.979972, 40.784098, -73.98246, 40.774892, 0.0), ('2009-01-09 08:48:57', 0.46934518241674966, -73.98522599999998, 40.747418, -73.98286799999998, 40.760086, 0.0)  ... displaying 10 of 2529 total bound parameter sets ...  ('2009-01-25 09:09:22', 1.273539731563782, -73.981029, 40.76511, -73.99159799999998, 40.749235, 0.0), ('2009-01-20 14:24:18', 1.085736590613906, -74.00242, 40.744771, -73.99458099999998, 40.723719, 0.0))
2022-12-11 16:08:51,807 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:09:16,655 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:09:16,657 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:09:16,660 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:09:16,677 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:09:16,677 INFO sqlalchemy.engine.Engine [generated in 0.01214s] (('2009-02-21 00:34:49', 1.3237335385540898, -73.990886, 40.755952, -74.00265899999998, 40.749883, 0.0), ('2009-02-28 19:09:00', 0.09486313037727362, -73.95416, 40.77494, -73.95376299999998, 40.772212, 0.0), ('2009-02-18 20:22:21', 0.1774559258709609, -74.00889599999998, 40.718541, -74.008049, 40.723443, 0.0), ('2009-02-25 18:58:00', 0.588962995194407, -74.003608, 40.717455, -74.00862999999998, 40.711413, 0.0), ('2009-02-10 17:06:00', 19.800536456955363, -73.783592, 40.648693, -73.960368, 40.719643, 0.0), ('2009-02-06 14:25:35', 1.1120834743187573, -73.99074299999998, 40.736594, -73.983858, 40.762835, 2.26), ('2009-02-07 22:24:00', 1.6636250608266154, -74.00056499999998, 40.742603, -73.987313, 40.767657, 0.0), ('2009-02-27 00:03:42', 0.5731093588793038, -74.00217999999998, 40.729975, -74.00071099999998, 40.747878, 0.0)  ... displaying 10 of 2524 total bound parameter sets ...  ('2009-02-08 12:52:00', 0.952334850686281, -73.996533, 40.743092, -74.00504499999998, 40.739985, 0.0), ('2009-02-26 23:08:00', 4.45380667532368, -73.990633, 40.76098, -73.95107199999998, 40.782608, 0.0))
2022-12-11 16:09:16,683 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:09:44,245 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:09:44,247 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:09:44,251 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:09:44,268 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:09:44,268 INFO sqlalchemy.engine.Engine [generated in 0.01260s] (('2009-03-27 20:09:45', 0.9608331754580703, -73.99459299999998, 40.722981, -73.990212, 40.749949, 2.0), ('2009-03-22 08:06:36', 12.429017398046343, -73.984553, 40.780088, -73.872912, 40.774488, 0.0), ('2009-03-12 14:39:00', 1.22038235301048, -73.95675799999998, 40.770822, -73.96737299999998, 40.760905, 0.0), ('2009-03-10 06:40:35', 2.5708579343325058, -73.95497899999998, 40.783713, -73.978031, 40.778648, 0.0), ('2009-03-27 20:46:13', 1.9272343456894292, -73.951884, 40.773765, -73.968404, 40.755023, 0.0), ('2009-03-03 01:13:07', 12.114777187138584, -73.87068999999998, 40.773587, -73.979472, 40.76205, 0.0), ('2009-03-09 14:53:09', 1.0629051337612752, -73.975088, 40.79261, -73.96850399999998, 40.767565, 1.1), ('2009-03-04 11:06:31', 1.3959321367557072, -73.981835, 40.747141, -73.99433999999998, 40.750529, 0.0)  ... displaying 10 of 2525 total bound parameter sets ...  ('2009-03-26 19:59:00', 3.595890903511886, -73.98099999999998, 40.750072, -73.949263, 40.771857, 1.5), ('2009-03-20 15:31:26', 1.393071226313006, -73.96647799999998, 40.766974, -73.978904, 40.772345, 1.22))
2022-12-11 16:09:44,276 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:10:13,954 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:10:13,956 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:10:13,959 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:10:13,976 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:10:13,976 INFO sqlalchemy.engine.Engine [generated in 0.01224s] (('2009-04-08 21:46:52', 1.239756205110275, -73.991625, 40.749875, -73.98197999999998, 40.77006, 1.5), ('2009-04-16 08:50:18', 0.914273075091338, -73.95726, 40.761978, -73.953185, 40.787778, 0.0), ('2009-04-01 21:00:00', 3.8722502563725403, -73.982387, 40.759638, -74.015108, 40.716817, 1.0), ('2009-04-13 09:47:00', 2.5069226560473448, -73.958765, 40.768828, -73.98087499999998, 40.78432, 0.0), ('2009-04-22 10:36:18', 2.1847688488343238, -73.974101, 40.738001, -73.99345499999998, 40.749805, 0.0), ('2009-04-17 08:29:33', 14.099374583267183, -73.999026, 40.734263, -73.87286, 40.774521, 4.95), ('2009-04-28 16:51:00', 18.00503415694105, -73.972447, 40.745858, -73.810883, 40.718518, 0.0), ('2009-04-23 23:00:39', 0.8820322422182879, -73.974967, 40.759316, -73.97568699999998, 40.7879, 0.0)  ... displaying 10 of 2515 total bound parameter sets ...  ('2009-04-03 17:10:00', 1.7758101801251314, -73.967562, 40.765972, -73.982037, 40.741685, 0.0), ('2009-04-10 22:44:00', 0.3785169936153831, -73.977593, 40.75861, -73.97458299999998, 40.75288, 0.0))
2022-12-11 16:10:13,982 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:10:46,824 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:10:46,828 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:10:46,831 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:10:46,847 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:10:46,848 INFO sqlalchemy.engine.Engine [generated in 0.01223s] (('2009-05-08 21:00:33', 2.0836960225739465, -74.00012599999998, 40.737942, -73.98157999999998, 40.728758, 0.0), ('2009-05-17 18:49:00', 1.1028492779221735, -73.99293799999998, 40.747848, -73.985382, 40.724617, 0.0), ('2009-05-18 10:23:08', 0.7061124416887101, -73.97793799999998, 40.785555, -73.9809, 40.765231, 2.0), ('2009-05-20 23:39:00', 1.5840255992614152, -73.970978, 40.751773, -73.983458, 40.727007, 0.0), ('2009-05-07 00:04:55', 3.324701353747754, -74.01598199999998, 40.71113, -73.986822, 40.687703, 0.0), ('2009-05-13 23:41:01', 1.6995937991808905, -73.985448, 40.758074, -73.99973199999998, 40.738522, 0.0), ('2009-05-26 18:59:29', 0.7940372845249974, -73.986019, 40.757565, -73.98132699999998, 40.738093, 0.0), ('2009-05-30 18:30:00', 1.0035092627781372, -73.984283, 40.760193, -73.993032, 40.752317, 0.0)  ... displaying 10 of 2518 total bound parameter sets ...  ('2009-05-31 02:24:00', 0.6906537807216588, -73.99958499999998, 40.728502, -74.004947, 40.717177, 0.0), ('2009-05-29 18:57:43', 3.0936510544619438, -73.949914, 40.772317, -73.977253, 40.754252, 0.0))

2022-12-11 16:10:46,854 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:11:16,654 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:11:16,656 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:11:16,662 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:11:16,678 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:11:16,679 INFO sqlalchemy.engine.Engine [generated in 0.01280s] (('2009-06-01 07:58:41', 2.864239471085297, -73.981944, 40.777083, -73.956283, 40.783897, 0.0), ('2009-06-08 07:36:00', 18.4294013408253, -73.77678, 40.645062, -73.94114299999998, 40.71637, 8.82), ('2009-06-20 10:57:00', 1.9173700684865866, -73.974175, 40.731277, -73.99136699999998, 40.735082, 0.0), ('2009-06-09 19:21:09', 2.2090549777864332, -73.991539, 40.742389, -74.01032499999998, 40.719191, 1.98), ('2009-06-14 12:29:57', 0.8553791089596853, -73.962733, 40.794294, -73.95527099999998, 40.787658, 0.0), ('2009-06-20 12:56:00', 0.45438430018470705, -73.95832699999998, 40.772613, -73.961842, 40.765103, 0.0), ('2009-06-25 04:31:12', 6.976398071500917, -73.98728599999998, 40.753739, -73.92632899999998, 40.806397, 0.0), ('2009-06-14 19:46:00', 1.357116436177866, -73.97525, 40.752345, -73.985915, 40.730943, 1.0)  ... displaying 10 of 2515 total bound parameter sets ...  ('2009-06-25 02:08:27', 1.4358161516965475, -73.99983799999998, 40.726717, -74.011656, 40.707965, 1.0), ('2009-06-21 12:27:00', 0.41595424818117693, -73.992148, 40.74432, -73.993893, 40.756302, 0.0))
2022-12-11 16:11:16,686 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:11:46,776 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:11:46,778 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:11:46,783 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:11:46,799 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:11:46,800 INFO sqlalchemy.engine.Engine [generated in 0.01282s] (('2009-07-29 08:26:35', 1.0407386414377662, -73.992255, 40.750391, -73.98299299999998, 40.745775, 0.0), ('2009-07-06 18:44:00', 2.307187221046138, -73.97735799999998, 40.76399, -73.957268, 40.782435, 0.0), ('2009-07-08 00:58:29', 9.80924504752922, -73.921346, 40.743257, -73.833888, 40.704493, 0.0), ('2009-07-03 15:22:00', 7.097457125879845, -73.999937, 40.718035, -73.936378, 40.73624, 0.0), ('2009-07-08 17:00:00', 3.577994063080229, -73.943403, 40.789428, -73.919835, 40.868388, 0.0), ('2009-07-27 14:41:22', 1.854891184634938, -73.994781, 40.739917, -73.978842, 40.757526, 0.0), ('2009-07-09 06:39:00', 1.6764522141035687, -73.96234699999998, 40.778863, -73.97610299999998, 40.756667, 0.0), ('2009-07-17 19:04:58', 3.3575520658217064, -73.99476799999998, 40.725841, -73.96584799999998, 40.756874, 1.48)  ... displaying 10 of 2523 total bound parameter sets ...  ('2009-07-19 20:24:09', 2.8757358673973057, -73.952734, 40.776263, -73.97836499999998, 40.787941, 0.0), ('2009-07-08 14:36:00', 3.2087346338973513, -73.963143, 40.771918, -73.99060799999998, 40.740225, 0.0))
2022-12-11 16:11:46,806 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:12:16,160 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:12:16,162 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:12:16,166 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:12:16,183 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:12:16,183 INFO sqlalchemy.engine.Engine [generated in 0.01245s] (('2009-08-05 19:37:05', 4.449541636235145, -73.98773699999998, 40.761902, -73.948068, 40.779657, 2.02), ('2009-08-20 09:05:00', 0.9293245422739417, -73.979223, 40.771628, -73.97175199999998, 40.758133, 0.0), ('2009-08-18 11:15:18', 0.5277248074405362, -73.99261199999998, 40.755335, -73.99335499999998, 40.738356, 0.0), ('2009-08-30 15:02:00', 2.698373212971035, -73.982068, 40.776473, -74.003652, 40.736467, 0.0), ('2009-08-25 20:14:23', 0.9029829736110807, -73.96950699999998, 40.761415, -73.976679, 40.747689, 1.24), ('2009-08-11 21:07:44', 3.836697005805199, -73.95562099999998, 40.764491, -73.988206, 40.723821, 2.6), ('2009-08-22 14:04:00', 3.827348039651347, -73.99231799999998, 40.748847, -73.961785, 40.691583, 0.0), ('2009-08-07 04:20:00', 2.8018852893789368, -73.998413, 40.740413, -73.973248, 40.738638, 0.0)  ... displaying 10 of 2524 total bound parameter sets ...  ('2009-08-13 13:42:36', 5.423595001365497, -73.984398, 40.748799, -73.94271, 40.840079, 0.0), ('2009-08-29 13:04:00', 1.57284051337262, -73.970005, 40.763532, -73.95597999999998, 40.769728, 0.55))
2022-12-11 16:12:16,189 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:12:47,082 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:12:47,084 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:12:47,087 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:12:47,104 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:12:47,105 INFO sqlalchemy.engine.Engine [generated in 0.01244s] (('2009-09-19 00:15:34', 0.5050941027169152, -73.99400799999998, 40.741252, -73.99692899999998, 40.753845, 0.0), ('2009-09-11 16:33:25', 0.2485809563650256, -73.95552, 40.787564, -73.955545, 40.779485, 0.0), ('2009-09-16 23:39:51', 0.448108090554814, -73.972869, 40.752795, -73.97521299999998, 40.764649, 0.0), ('2009-09-07 18:58:44', 5.999921322089618, -73.958774, 40.764047, -74.01017899999998, 40.705318, 0.0), ('2009-09-27 21:24:00', 3.341190114237314, -73.998063, 40.755742, -73.97050799999998, 40.79887, 2.0), ('2009-09-14 18:25:10', 2.645302831006401, -73.95950899999998, 40.763491, -73.98168099999998, 40.73253, 0.0), ('2009-09-25 10:02:00', 0.41715529241764354, -74.00228199999998, 40.73415, -74.00546699999998, 40.726985, 0.0), ('2009-09-25 12:47:00', 0.6459556950652081, -74.001903, 40.715022, -74.00743699999998, 40.708688, 0.0)  ... displaying 10 of 2513 total bound parameter sets ...  ('2009-09-17 03:42:49', 1.9506801967300607, -73.98355599999998, 40.72596, -74.00100999999998, 40.731604, 1.0), ('2009-09-08 09:54:14', 0.8011802717703272, -73.95675799999998, 40.771063, -73.963926, 40.768722, 0.0))
2022-12-11 16:12:47,111 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:13:21,393 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:13:21,395 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:13:21,398 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:13:21,415 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:13:21,415 INFO sqlalchemy.engine.Engine [generated in 0.01231s] (('2009-10-31 09:22:48', 1.8988967709488984, -73.95868, 40.800085, -73.974812, 40.780012, 0.0), ('2009-10-04 14:51:05', 13.884043114607149, -73.989958, 40.767277, -73.865239, 40.770643, 5.8), ('2009-10-12 19:59:14', 0.996157577764172, -73.982433, 40.752614, -73.97411599999998, 40.764579, 0.0), ('2009-10-28 22:36:56', 2.5370104317087274, -74.01568, 40.710758, -73.997569, 40.760969, 2.0), ('2009-10-15 09:34:45', 2.8955570630920215, -73.987724, 40.724381, -74.01304399999998, 40.70277, 0.0), ('2009-10-19 18:31:15', 1.4034936283652655, -73.991833, 40.731396, -74.00381199999998, 40.717133, 0.0), ('2009-10-17 14:54:00', 1.1412063054401131, -73.96476199999998, 40.760032, -73.974693, 40.75082, 1.0), ('2009-10-26 08:52:00', 0.36154118643510624, -73.94711499999998, 40.791055, -73.947835, 40.779602, 0.0)  ... displaying 10 of 2518 total bound parameter sets ...  ('2009-10-31 14:12:00', 1.2959615802509041, -73.996555, 40.725508, -74.007947, 40.734212, 1.1), ('2009-10-18 14:51:00', 1.6316476036705905, -73.977388, 40.789592, -73.9911, 40.770822, 1.0))

2022-12-11 16:13:21,421 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:13:52,104 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:13:52,106 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:13:52,109 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:13:52,125 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:13:52,126 INFO sqlalchemy.engine.Engine [generated in 0.01203s] (('2009-11-24 11:56:06', 0.8106623808414518, -73.98530599999998, 40.744728, -73.97850699999998, 40.754182, 0.0), ('2009-11-30 13:48:00', 3.4107558335406676, -74.003393, 40.727408, -73.97452199999998, 40.7646, 0.0), ('2009-11-10 12:29:59', 3.775674147992888, -73.97232099999998, 40.764384, -74.00557499999998, 40.740181, 0.0), ('2009-11-09 18:07:13', 0.4273835535900282, -73.9871, 40.743666, -73.986924, 40.757569, 1.68), ('2009-11-26 01:55:13', 0.39137493729438083, -73.981072, 40.74154, -73.983267, 40.731587, 1.47), ('2009-11-21 23:13:00', 1.782788330216794, -74.003482, 40.708212, -73.98787799999998, 40.721288, 2.0), ('2009-11-03 13:13:49', 4.478335833501993, -74.01573899999998, 40.715237, -73.977447, 40.759977, 4.85), ('2009-11-24 17:48:43', 0.6446521596676041, -73.96975399999998, 40.748603, -73.974507, 40.736621, 0.0)  ... displaying 10 of 2518 total bound parameter sets ...  ('2009-11-18 23:59:42', 1.0446378633950295, -73.99985499999998, 40.734766, -73.99051699999998, 40.731395, 0.0), ('2009-11-14 02:46:27', 2.3536031863205595, -74.001435, 40.744698, -73.980385, 40.737524, 1.5))
2022-12-11 16:13:52,131 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:14:22,126 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("taxi_trips")
2022-12-11 16:14:22,129 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:14:22,132 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:14:22,149 INFO sqlalchemy.engine.Engine INSERT INTO taxi_trips (pickup_datetime, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, tip_amount) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-12-11 16:14:22,149 INFO sqlalchemy.engine.Engine [generated in 0.01256s] (('2009-12-15 12:43:00', 0.7819909340898491, -73.99576999999998, 40.764487, -74.00271499999998, 40.760658, 3.0), ('2009-12-09 20:14:26', 1.856121596603245, -73.98276199999998, 40.764076, -73.966098, 40.762003, 0.0), ('2009-12-30 19:10:00', 1.1704012736977936, -73.97285499999998, 40.75291, -73.98152299999998, 40.774468, 0.0), ('2009-12-02 19:31:00', 2.3719757735931672, -73.958628, 40.810148, -73.937638, 40.823408, 0.0), ('2009-12-31 15:30:00', 2.343223117655361, -73.95014, 40.777775, -73.97065, 40.760637, 0.0), ('2009-12-23 07:33:03', 0.6174059973242191, -73.980012, 40.743116, -73.974993, 40.751667, 0.0), ('2009-12-16 21:44:00', 2.7110399221585353, -73.967077, 40.761098, -73.991257, 40.750578, 0.0), ('2009-12-15 22:15:32', 3.2524070840368764, -73.96824599999998, 40.796604, -73.939122, 40.805025, 0.0)  ... displaying 10 of 2520 total bound parameter sets ...  ('2009-12-29 13:31:43', 16.01330691562589, -73.77672699999998, 40.645226, -73.90762999999998, 40.85955, 0.0), ('2009-12-19 13:02:37', 1.6563190406700143, -73.98113399999998, 40.737585, -73.995951, 40.732667, 0.99))
2022-12-11 16:14:22,158 INFO sqlalchemy.engine.Engine COMMIT

ValueError: No objects to concatenate

In [33]:
add_weather_data_to_db()

/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/2042234163.py:5: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/155959696.py:3: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/2042234163.py:5: DtypeWarning: Columns (8,9,10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/155959696.py:3: DtypeWarning: Columns (8,9,10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/2042234163.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/155959696.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/2042234163.py:5: DtypeWarning: Columns (7,8,9,10,17,18,42,65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/155959696.py:3: DtypeWarning: Columns (7,8,9,10,17,18,42,65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/2042234163.py:5: DtypeWarning: Columns (17,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/155959696.py:3: DtypeWarning: Columns (17,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/2042234163.py:5: DtypeWarning: Columns (8,9,17,18,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/155959696.py:3: DtypeWarning: Columns (8,9,17,18,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/2042234163.py:5: DtypeWarning: Columns (10,41,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

2022-12-11 16:19:21,376 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("daily_weather")
2022-12-11 16:19:21,377 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,378 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:19:21,383 INFO sqlalchemy.engine.Engine INSERT INTO daily_weather (datetime, wind_speed, precipitation) VALUES (?, ?, ?)
2022-12-11 16:19:21,383 INFO sqlalchemy.engine.Engine [generated in 0.00336s] (('2009-01-01', 11.041666666666666, 0.0), ('2009-01-02', 6.59375, 0.0), ('2009-01-03', 9.875, 0.0), ('2009-01-04', 7.37037037037037, 0.0), ('2009-01-05', 6.925925925925926, 0.0), ('2009-01-06', 6.9, 0.12), ('2009-01-07', 9.58974358974359, 1.82), ('2009-01-08', 11.192307692307692, 0.0)  ... displaying 10 of 1267 total bound parameter sets ...  ('2015-06-29', 4.28, 0.0), ('2015-06-30', 4.2, 0.08))
2022-12-11 16:19:21,386 INFO sqlalchemy.engine.Engine COMMIT

/var/folders/c0/df045pyj5lqc6jqfmkxpcs700000gn/T/ipykernel_10053/155959696.py:3: DtypeWarning: Columns (10,41,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

2022-12-11 16:19:21,477 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,478 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,480 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:19:21,495 INFO sqlalchemy.engine.Engine INSERT INTO hourly_weather (datetime, wind_speed, precipitation) VALUES (?, ?, ?)
2022-12-11 16:19:21,496 INFO sqlalchemy.engine.Engine [generated in 0.01267s] (('2009-01-01 00', 18.0, 0.0), ('2009-01-01 01', 18.0, 0.0), ('2009-01-01 02', 18.0, 0.0), ('2009-01-01 03', 8.0, 0.0), ('2009-01-01 04', 11.0, 0.0), ('2009-01-01 05', 18.0, 0.0), ('2009-01-01 06', 14.0, 0.0), ('2009-01-01 07', 8.0, 0.0)  ... displaying 10 of 5000 total bound parameter sets ...  ('2010-01-30 02', 10.0, 0.0), ('2010-01-30 03', 11.0, 0.0))
2022-12-11 16:19:21,504 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:19:21,506 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,507 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,509 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:19:21,604 INFO sqlalchemy.engine.Engine INSERT INTO hourly_weather (datetime, wind_speed, precipitation) VALUES (?, ?, ?)
2022-12-11 16:19:21,605 INFO sqlalchemy.engine.Engine [generated in 0.09224s] (('2010-01-30 04', 11.0, 0.0), ('2010-01-30 05', 9.0, 0.0), ('2010-01-30 06', 9.0, 0.0), ('2010-01-30 07', 10.0, 0.0), ('2010-01-30 08', 11.0, 0.0), ('2010-01-30 09', 7.0, 0.0), ('2010-01-30 10', 5.0, 0.0), ('2010-01-30 11', 6.0, 0.0)  ... displaying 10 of 5000 total bound parameter sets ...  ('2011-02-24 17', 8.0, 0.0), ('2011-02-24 18', 8.0, 0.0))
2022-12-11 16:19:21,611 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:19:21,615 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,615 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,619 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:19:21,634 INFO sqlalchemy.engine.Engine INSERT INTO hourly_weather (datetime, wind_speed, precipitation) VALUES (?, ?, ?)
2022-12-11 16:19:21,635 INFO sqlalchemy.engine.Engine [generated in 0.01281s] (('2011-02-24 19', 0.0, 0.0), ('2011-02-24 20', 5.0, 0.0), ('2011-02-24 21', 7.0, 0.01), ('2011-02-24 22', 3.0, 0.01), ('2011-02-24 23', 0.75, 0.04), ('2011-02-25 00', 1.5, 0.04), ('2011-02-25 01', 2.25, 0.05), ('2011-02-25 02', 0.0, 0.09)  ... displaying 10 of 5000 total bound parameter sets ...  ('2012-03-29 17', 11.0, 0.0), ('2012-03-29 18', 3.0, 0.0))
2022-12-11 16:19:21,642 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:19:21,644 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,645 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,648 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:19:21,665 INFO sqlalchemy.engine.Engine INSERT INTO hourly_weather (datetime, wind_speed, precipitation) VALUES (?, ?, ?)
2022-12-11 16:19:21,665 INFO sqlalchemy.engine.Engine [generated in 0.01342s] (('2012-03-29 19', 8.0, 0.0), ('2012-03-29 20', 6.0, 0.0), ('2012-03-29 22', 9.0, 0.0), ('2012-03-29 23', 3.0, 0.0), ('2012-03-30 00', 6.0, 0.0), ('2012-03-30 01', 7.0, 0.0), ('2012-03-30 02', 9.0, 0.0), ('2012-03-30 03', 0.0, 0.0)  ... displaying 10 of 5000 total bound parameter sets ...  ('2013-04-20 06', 8.0, 0.0), ('2013-04-20 07', 10.0, 0.0))
2022-12-11 16:19:21,672 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:19:21,676 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,676 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,679 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:19:21,697 INFO sqlalchemy.engine.Engine INSERT INTO hourly_weather (datetime, wind_speed, precipitation) VALUES (?, ?, ?)
2022-12-11 16:19:21,698 INFO sqlalchemy.engine.Engine [generated in 0.01483s] (('2013-04-20 08', 13.0, 0.0), ('2013-04-20 09', 11.0, 0.0), ('2013-04-20 10', 9.0, 0.0), ('2013-04-20 11', 0.0, 0.0), ('2013-04-20 12', 9.0, 0.0), ('2013-04-20 13', 9.0, 0.0), ('2013-04-20 14', 7.0, 0.0), ('2013-04-20 15', 9.0, 0.0)  ... displaying 10 of 5000 total bound parameter sets ...  ('2014-05-17 19', 0.0, 0.0), ('2014-05-17 20', 3.0, 0.0))
2022-12-11 16:19:21,706 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:19:21,709 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,710 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,713 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:19:21,731 INFO sqlalchemy.engine.Engine INSERT INTO hourly_weather (datetime, wind_speed, precipitation) VALUES (?, ?, ?)
2022-12-11 16:19:21,732 INFO sqlalchemy.engine.Engine [generated in 0.01509s] (('2014-05-17 21', 6.0, 0.0), ('2014-05-17 22', 5.0, 0.0), ('2014-05-17 23', 0.0, 0.0), ('2014-05-18 00', 5.0, 0.0), ('2014-05-18 01', 7.0, 0.0), ('2014-05-18 02', 0.0, 0.0), ('2014-05-18 03', 0.0, 0.0), ('2014-05-18 04', 3.0, 0.0)  ... displaying 10 of 5000 total bound parameter sets ...  ('2015-06-13 15', 8.0, 0.0), ('2015-06-13 16', 5.0, 0.0))
2022-12-11 16:19:21,741 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:19:21,744 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,744 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,747 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-11 16:19:21,749 INFO sqlalchemy.engine.Engine INSERT INTO hourly_weather (datetime, wind_speed, precipitation) VALUES (?, ?, ?)
2022-12-11 16:19:21,750 INFO sqlalchemy.engine.Engine [generated in 0.00183s] (('2015-06-13 17', 6.0, 0.0), ('2015-06-13 18', 3.0, 0.0), ('2015-06-13 19', 7.0, 0.0), ('2015-06-13 20', 3.0, 0.0), ('2015-06-13 21', 0.0, 0.0), ('2015-06-13 22', 0.0, 0.0), ('2015-06-13 23', 0.0, 0.0), ('2015-06-14 00', 0.0, 0.0)  ... displaying 10 of 415 total bound parameter sets ...  ('2015-06-30 22', 2.5, 0.0), ('2015-06-30 23', 3.5714285714285716, 0.08))
2022-12-11 16:19:21,752 INFO sqlalchemy.engine.Engine COMMIT
2022-12-11 16:19:21,755 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,755 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,757 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,758 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,760 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,761 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,764 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,765 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,767 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,767 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-11 16:19:21,770 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hourly_weather")
2022-12-11 16:19:21,770 INFO sqlalchemy.engine.Engine [raw sql] ()

In [28]:
add_uber_data_to_db()

FileNotFoundError: [Errno 2] No such file or directory: 'uber_rides_sample.csv'

## Part 3 : Understanding Data

In [26]:
#Question 1: 
def get_hour_popular_yellow_taxi():
    with engine.connect() as connection:
        query_sql = f"select strftime('%H',pickup_datetime) AS cur_hour,count(*) as num from taxi_trips GROUP BY cur_hour order by num desc;"
        # Write the query to the query file
        with open(f'{QUERY_DIRECTORY}/question1.sql', "w") as f:
            f.write(query_sql)
        # Execute the query
        result = connection.execute(query_sql)
        return [r[0] for r in result]
    
print(get_hour_popular_yellow_taxi())

2022-12-10 20:44:38,551 INFO sqlalchemy.engine.Engine select strftime('%H',pickup_datetime) AS cur_hour,count(*) as num from taxi_trips GROUP BY cur_hour order by num desc;
2022-12-10 20:44:38,553 INFO sqlalchemy.engine.Engine [raw sql] ()
['19', '18', '20', '21', '22', '14', '17', '12', '13', '23', '15', '09', '11', '08', '10', '16', '00', '07', '01', '02', '06', '03', '04', '05']

In [27]:
# Question 2:
def get_weekday_popular_uber():
    weekdays_dict = {
        '0': 'Sun',
        '1': 'Mon',
        '2': 'Tue',
        '3': 'Wed',
        '4': 'Thur',
        '5': 'Fri',
        '6': 'Sat'
    }
    with engine.connect() as connection:
        query_sql = f"select strftime('%w',pickup_datetime) AS cur_weekday,count(*) as num from uber_trips GROUP BY cur_weekday order by num desc;"
        # Write the query to the query file
        with open(f'{QUERY_DIRECTORY}/question2.sql', "w") as f:
            f.write(query_sql)
        # Execute the query
        result = connection.execute(query_sql)
        return [weekdays_dict[r[0]] for r in result]
    
print(get_weekday_popular_uber())

2022-12-10 20:44:41,105 INFO sqlalchemy.engine.Engine select strftime('%w',pickup_datetime) AS cur_weekday,count(*) as num from uber_trips GROUP BY cur_weekday order by num desc;
2022-12-10 20:44:41,106 INFO sqlalchemy.engine.Engine [raw sql] ()
['Fri', 'Sat', 'Thur', 'Wed', 'Tue', 'Sun', 'Mon']

In [30]:
# Question 3
def get_sum_trip_distence():
    with engine.connect() as connection:
        distence_query_sql = """
                            select sum(trip_distance)*0.95 as total_distance
                            from 
                            (select * from taxi_trips where strftime('%Y-%m', pickup_datetime) = '2013-07'
                             union all
                             select * from taxi_trips where strftime('%Y-%m', pickup_datetime) = '2013-07')

                            """
        # Write the query to the query file
        with open(f'{QUERY_DIRECTORY}/question3.sql', "w") as f:
            f.write(distence_query_sql)
         # Execute the query
        result = list(connection.execute(distence_query_sql))
        distence = 0
        for row in result:
            print(row)
    
get_sum_trip_distence()

2022-12-10 21:02:18,944 INFO sqlalchemy.engine.Engine
                            select sum(trip_distance)*0.95 as total_distance
                            from
                            (select * from taxi_trips where strftime('%Y-%m', pickup_datetime) = '2013-07'
                             union all
                             select * from taxi_trips where strftime('%Y-%m', pickup_datetime) = '2013-07')


2022-12-10 21:02:18,946 INFO sqlalchemy.engine.Engine [raw sql] ()
(14069.518999999997,)

In [33]:
# Question4
def get_2019_trips_info():
    with engine.connect() as connection:
        q4 = """
        select strftime('%Y-%m-%d', pickup_datetime) as date, count(*) as trips_amount, sum(trip_distance) as distance
        from
        (select * from taxi_trips where strftime('%Y', pickup_datetime) = '2014'
        union all
        select * from uber_trips where strftime('%Y', pickup_datetime) = '2014')
        group by strftime('%m-%d', pickup_datetime)
        order by trips_amount desc
        limit 10
        """
        
        # create the query.sql file
        with open(f'{QUERY_DIRECTORY}/question4.sql', "w") as f:
            f.write(q4)
            
        # check the result
        result = list(connection.execute(q4))
        for row in result:
            print(row)
            
get_2019_trips_info()

2022-12-10 21:04:27,985 INFO sqlalchemy.engine.Engine
        select strftime('%Y-%m-%d', pickup_datetime) as date, count(*) as trips_amount, sum(trip_distance) as distance
        from
        (select * from taxi_trips where strftime('%Y', pickup_datetime) = '2014'
        union all
        select * from uber_trips where strftime('%Y', pickup_datetime) = '2014')
        group by strftime('%m-%d', pickup_datetime)
        order by trips_amount desc
        limit 10

2022-12-10 21:04:27,987 INFO sqlalchemy.engine.Engine [raw sql] ()
('2014-04-12', 231, 734.2488284338865)
('2014-03-29', 228, 660.2575145232145)
('2014-02-01', 222, 678.4233201164744)
('2014-02-28', 221, 631.1204102700872)
('2014-02-07', 219, 652.8391061550848)
('2014-05-16', 218, 639.2120721481293)
('2014-11-01', 214, 666.2615178182924)
('2014-03-01', 213, 596.5033025222677)
('2014-12-11', 211, 622.6627065275238)
('2014-12-13', 207, 649.18667000848)

In [35]:
# Question 5
def get_windest_days():
    with engine.connect() as connection:
        q5 = """
            select strftime('%Y-%m-%d', pickup_datetime) as date, wind_speed, count(*) as trips
            from 
            (select * from taxi_trips where strftime('%Y', pickup_datetime) = '2014'
            union all
            select * from uber_trips where strftime('%Y', pickup_datetime) = '2014')
            left join daily_weather on strftime('%Y-%m-%d', pickup_datetime) = datetime
            group by strftime('%m-%d', pickup_datetime)
            order by wind_speed desc
            limit 10
            """
         # create the query file
        with open(f'{QUERY_DIRECTORY}/question5.sql', "w") as f:
                f.write(q5)
        # check the result
        result = list(connection.execute(q5))

        for row in result:
            print(row)
        
get_windest_days()

2022-12-10 21:04:55,514 INFO sqlalchemy.engine.Engine
            select strftime('%Y-%m-%d', pickup_datetime) as date, wind_speed, count(*) as trips
            from
            (select * from taxi_trips where strftime('%Y', pickup_datetime) = '2014'
            union all
            select * from uber_trips where strftime('%Y', pickup_datetime) = '2014')
            left join daily_weather on strftime('%Y-%m-%d', pickup_datetime) = datetime
            group by strftime('%m-%d', pickup_datetime)
            order by wind_speed desc
            limit 10

2022-12-10 21:04:55,515 INFO sqlalchemy.engine.Engine [raw sql] ()
('2014-03-13', 12.923076923076923, 182)
('2014-01-07', 12.56, 163)
('2014-01-02', 12.352941176470589, 133)
('2014-02-13', 11.781818181818181, 132)
('2014-03-29', 11.666666666666666, 228)
('2014-03-26', 10.52, 176)
('2014-01-03', 9.710526315789474, 105)
('2014-02-14', 9.421052631578947, 170)
('2014-03-30', 8.790697674418604, 148)
('2014-02-15', 8.575, 197)

In [41]:
# Question6
def get_hurricane_trips_info():
    with engine.connect() as connection:

        start_date = datetime.date(2012, 10, 22)
        date_dict = {}
        for i in range(16):
            for j in range(24):
                date_dict[f'{str(start_date)} {j:02d}'] = {
                    'trips_num': 0, 'precipitation': 0, 'wind_speed': 0
                }
                j += 1
            start_date = start_date + datetime.timedelta(days=1)
              
        query1 = """
            select strftime('%Y-%m-%d %H',pickup_datetime) as cur_hour,count(*) as
            trips_num FROM uber_trips where pickup_datetime>='2012-10-22' and pickup_datetime<'2012-11-07' GROUP BY cur_hour;
        """
        result = list(connection.execute(query1))
        for row in result:
            cur_hour = row[0]
            trips_num = row[1]
            temp_dict = date_dict[cur_hour]
            temp_dict['trips_num'] = temp_dict['trips_num'] + trips_num
            
        query2 = """
            select strftime('%Y-%m-%d %H',pickup_datetime) as cur_hour,count(*) as
            trips_num FROM taxi_trips where pickup_datetime>='2012-10-22' and pickup_datetime<'2012-11-07' GROUP BY cur_hour;
        """
        result = list(connection.execute(query2))
        for row in result:
            cur_hour = row[0]
            trips_num = row[1]
            temp_dict = date_dict[cur_hour]
            temp_dict['trips_num'] = temp_dict['trips_num'] + trips_num
            
            
        query3 = """
            select * from hourly_weather where datetime>='2012-10-22' AND datetime<'2012-10-23';
        """
        result = list(connection.execute(query3))
        for row in result:
            cur_hour = str(row[1]).replace(':', '')
            precipitation = row[2]
            wind_speed = row[3]
            temp_dict = date_dict[cur_hour]
            temp_dict['precipitation'] = precipitation
            temp_dict['wind_speed'] = wind_speed
        

        with open(f'{QUERY_DIRECTORY}/question6.sql', "w") as f:
            f.write(query1)
            f.write(query2)
            f.write(query3)
        
        return date_dict
    
get_hurricane_trips_info()

2022-12-10 21:18:09,965 INFO sqlalchemy.engine.Engine
            select strftime('%Y-%m-%d %H',pickup_datetime) as cur_hour,count(*) as
            trips_num FROM uber_trips where pickup_datetime>='2012-10-22' and pickup_datetime<'2012-11-07' GROUP BY cur_hour;

2022-12-10 21:18:09,966 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 21:18:10,047 INFO sqlalchemy.engine.Engine
            select strftime('%Y-%m-%d %H',pickup_datetime) as cur_hour,count(*) as
            trips_num FROM taxi_trips where pickup_datetime>='2012-10-22' and pickup_datetime<'2012-11-07' GROUP BY cur_hour;

2022-12-10 21:18:10,047 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 21:18:10,113 INFO sqlalchemy.engine.Engine
            select * from hourly_weather where datetime>='2012-10-22' AND datetime<'2012-10-23';

2022-12-10 21:18:10,113 INFO sqlalchemy.engine.Engine [raw sql] ()

{'2012-10-22 00': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 01': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 02': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 03': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 04': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 05': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 06': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 07': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 08': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 09': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 10': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 11': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 12': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 13': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 14': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 15': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 16': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 17': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 18': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 19': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 20': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 21': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 22': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-22 23': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 00': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 01': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 02': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 03': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 04': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 05': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 06': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 07': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 08': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 09': {'trips_num': 16, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 10': {'trips_num': 15, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 11': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 12': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 13': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 14': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 15': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 16': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 17': {'trips_num': 15, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 18': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 19': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 20': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 21': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 22': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-23 23': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 00': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 01': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 02': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 03': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 04': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 05': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 06': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 07': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 08': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 09': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 10': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 11': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 12': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 13': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 14': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 15': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 16': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 17': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 18': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 19': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 20': {'trips_num': 15, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 21': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 22': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-24 23': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 00': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 01': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 02': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 03': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 04': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 05': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 06': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 07': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 08': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 09': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 10': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 11': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 12': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 13': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 14': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 15': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 16': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 17': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 18': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 19': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 20': {'trips_num': 16, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 21': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 22': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-25 23': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 00': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 01': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 02': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 03': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 04': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 05': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 06': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 07': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 08': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 09': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 10': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 11': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 12': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 13': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 14': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 15': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 16': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 17': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 18': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 19': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 20': {'trips_num': 19, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 21': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 22': {'trips_num': 18, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-26 23': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 00': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 01': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 02': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 03': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 04': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 05': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 06': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 07': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 08': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 09': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 10': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 11': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 12': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 13': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 14': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 15': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 16': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 17': {'trips_num': 13, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 18': {'trips_num': 12, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 19': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 20': {'trips_num': 15, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 21': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 22': {'trips_num': 11, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-27 23': {'trips_num': 19, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 00': {'trips_num': 15, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 01': {'trips_num': 14, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 02': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 03': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 04': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 05': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 06': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 07': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 08': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 09': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 10': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 11': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 12': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 13': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 14': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 15': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 16': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 17': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 18': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 19': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 20': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 21': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 22': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-28 23': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 00': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 01': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 02': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 03': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 04': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 05': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 06': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 07': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 08': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 09': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 10': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 11': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 12': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 13': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 14': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 15': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 16': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 17': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 18': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 19': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 20': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 21': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 22': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-29 23': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 00': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 01': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 02': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 03': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 04': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 05': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 06': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 07': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 08': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 09': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 10': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 11': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 12': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 13': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 14': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 15': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 16': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 17': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 18': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 19': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 20': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 21': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 22': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-30 23': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 00': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 01': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 02': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 03': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 04': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 05': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 06': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 07': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 08': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 09': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 10': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 11': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 12': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 13': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 14': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 15': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 16': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 17': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 18': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 19': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 20': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 21': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 22': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-10-31 23': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 00': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 01': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 02': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 03': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 04': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 05': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 06': {'trips_num': 3, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 07': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 08': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 09': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 10': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 11': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 12': {'trips_num': 8, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 13': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 14': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 15': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 16': {'trips_num': 4, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 17': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 18': {'trips_num': 10, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 19': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 20': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 21': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 22': {'trips_num': 9, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-01 23': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 00': {'trips_num': 6, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 01': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 02': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 03': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 04': {'trips_num': 2, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 05': {'trips_num': 1, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 06': {'trips_num': 0, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 07': {'trips_num': 7, 'precipitation': 0, 'wind_speed': 0},
 '2012-11-02 08': {'trips_num': 5, 'precipitation': 0, 'wind_speed': 0},

## Extra Credit

In [42]:
SUNSET_SUNRISE_SCHEMA = """
    CREATE TABLE IF NOT EXISTS sunset_sunrise (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        sunrise_time DATETIME,
        sunset_time DATETIME
    );
"""

# create a new table
with open(DATABASE_SCHEMA_FILE, "a") as f:
    f.write(SUNSET_SUNRISE_SCHEMA)

with engine.connect() as connection:
    connection.execute(SUNSET_SUNRISE_SCHEMA)

    
# clean the data
def load_and_clean_weather_sun_data(csv_file):
    df = pd.read_csv(csv_file, low_memory=False)
    df = df.loc[:, ["DATE", "Sunrise",'Sunset']]
    df = df[df['Sunrise'].notnull()]
    
    row_list = []
    for index, row in df.iterrows():
        record_date = str(row['DATE'])[0:10]
        sunrise = f"{int(row['Sunrise']):04d}"
        sunrise_time = f'{record_date} {sunrise[:2]}:{sunrise[2:]}:00'
        row['sunrise_time'] = sunrise_time
        sunset = f"{int(row['Sunset']):04d}"
        sunset_time = f'{record_date} {sunset[:2]}:{sunset[2:]}:00'
        row['sunset_time'] = sunset_time
        row_list.append(row)
    
    new_df = pd.DataFrame(row_list)
    new_df.drop(columns=["DATE", "Sunrise",'Sunset'], axis=1, inplace=True)
    return new_df


with engine.connect() as connection:
    test_sql = f"select * from sunset_sunrise;"
    result = list(connection.execute(test_sql)) 
    for row in result:
        print(row)

2022-12-10 21:21:52,426 INFO sqlalchemy.engine.Engine
    CREATE TABLE IF NOT EXISTS sunset_sunrise (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        sunrise_time DATETIME,
        sunset_time DATETIME
    );

2022-12-10 21:21:52,427 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-10 21:21:52,428 INFO sqlalchemy.engine.Engine COMMIT
2022-12-10 21:21:52,430 INFO sqlalchemy.engine.Engine select * from sunset_sunrise;
2022-12-10 21:21:52,430 INFO sqlalchemy.engine.Engine [raw sql] ()
(1, '2015-01-01 07:20:00', '2015-01-01 16:39:00')
(2, '2015-01-02 07:20:00', '2015-01-02 16:40:00')
(3, '2015-01-03 07:20:00', '2015-01-03 16:41:00')
(4, '2015-01-04 07:20:00', '2015-01-04 16:42:00')
(5, '2015-01-05 07:20:00', '2015-01-05 16:43:00')
(6, '2015-01-06 07:20:00', '2015-01-06 16:44:00')
(7, '2015-01-07 07:20:00', '2015-01-07 16:44:00')
(8, '2015-01-08 07:20:00', '2015-01-08 16:45:00')
(9, '2015-01-09 07:20:00', '2015-01-09 16:46:00')
(10, '2015-01-10 07:20:00', '2015-01-10 16:47:00')
(11, '2015-01-11 07:20:00', '2015-01-11 16:49:00')
(12, '2015-01-12 07:19:00', '2015-01-12 16:50:00')
(13, '2015-01-13 07:19:00', '2015-01-13 16:51:00')
(14, '2015-01-14 07:19:00', '2015-01-14 16:52:00')
(15, '2015-01-15 07:18:00', '2015-01-15 16:53:00')
(16, '2015-01-16 07:18:00', '2015-01-16 16:54:00')
(17, '2015-01-17 07:17:00', '2015-01-17 16:55:00')
(18, '2015-01-18 07:17:00', '2015-01-18 16:56:00')
(19, '2015-01-19 07:16:00', '2015-01-19 16:57:00')
(20, '2015-01-20 07:16:00', '2015-01-20 16:59:00')
(21, '2015-01-21 07:15:00', '2015-01-21 17:00:00')
(22, '2015-01-22 07:15:00', '2015-01-22 17:01:00')
(23, '2015-01-23 07:14:00', '2015-01-23 17:02:00')
(24, '2015-01-24 07:13:00', '2015-01-24 17:03:00')
(25, '2015-01-25 07:12:00', '2015-01-25 17:05:00')
(26, '2015-01-26 07:12:00', '2015-01-26 17:06:00')
(27, '2015-01-27 07:11:00', '2015-01-27 17:07:00')
(28, '2015-01-28 07:10:00', '2015-01-28 17:08:00')
(29, '2015-01-29 07:09:00', '2015-01-29 17:10:00')
(30, '2015-01-30 07:08:00', '2015-01-30 17:11:00')
(31, '2015-01-31 07:07:00', '2015-01-31 17:12:00')
(32, '2015-02-01 07:06:00', '2015-02-01 17:13:00')
(33, '2015-02-02 07:05:00', '2015-02-02 17:14:00')
(34, '2015-02-03 07:04:00', '2015-02-03 17:16:00')
(35, '2015-02-04 07:03:00', '2015-02-04 17:17:00')
(36, '2015-02-05 07:02:00', '2015-02-05 17:18:00')
(37, '2015-02-06 07:01:00', '2015-02-06 17:19:00')
(38, '2015-02-07 07:00:00', '2015-02-07 17:21:00')
(39, '2015-02-08 06:59:00', '2015-02-08 17:22:00')
(40, '2015-02-09 06:58:00', '2015-02-09 17:23:00')
(41, '2015-02-10 06:57:00', '2015-02-10 17:24:00')
(42, '2015-02-11 06:55:00', '2015-02-11 17:26:00')
(43, '2015-02-12 06:54:00', '2015-02-12 17:27:00')
(44, '2015-02-13 06:53:00', '2015-02-13 17:28:00')
(45, '2015-02-14 06:52:00', '2015-02-14 17:29:00')
(46, '2015-02-15 06:50:00', '2015-02-15 17:30:00')
(47, '2015-02-16 06:49:00', '2015-02-16 17:32:00')
(48, '2015-02-17 06:48:00', '2015-02-17 17:33:00')
(49, '2015-02-18 06:46:00', '2015-02-18 17:34:00')
(50, '2015-02-19 06:45:00', '2015-02-19 17:35:00')
(51, '2015-02-20 06:44:00', '2015-02-20 17:36:00')
(52, '2015-02-21 06:42:00', '2015-02-21 17:38:00')
(53, '2015-02-22 06:41:00', '2015-02-22 17:39:00')
(54, '2015-02-23 06:39:00', '2015-02-23 17:40:00')
(55, '2015-02-24 06:38:00', '2015-02-24 17:41:00')
(56, '2015-02-25 06:36:00', '2015-02-25 17:42:00')
(57, '2015-02-26 06:35:00', '2015-02-26 17:43:00')
(58, '2015-02-27 06:33:00', '2015-02-27 17:45:00')
(59, '2015-02-28 06:32:00', '2015-02-28 17:46:00')
(60, '2015-03-01 06:30:00', '2015-03-01 17:47:00')
(61, '2015-03-02 06:29:00', '2015-03-02 17:48:00')
(62, '2015-03-03 06:27:00', '2015-03-03 17:49:00')
(63, '2015-03-04 06:26:00', '2015-03-04 17:50:00')
(64, '2015-03-05 06:24:00', '2015-03-05 17:51:00')
(65, '2015-03-06 06:23:00', '2015-03-06 17:53:00')
(66, '2015-03-07 06:21:00', '2015-03-07 17:54:00')
(67, '2015-03-08 06:19:00', '2015-03-08 17:55:00')
(68, '2015-03-09 06:18:00', '2015-03-09 17:56:00')
(69, '2015-03-10 06:16:00', '2015-03-10 17:57:00')
(70, '2015-03-11 06:15:00', '2015-03-11 17:58:00')
(71, '2015-03-12 06:13:00', '2015-03-12 17:59:00')
(72, '2015-03-13 06:11:00', '2015-03-13 18:00:00')
(73, '2015-03-14 06:10:00', '2015-03-14 18:01:00')
(74, '2015-03-15 06:08:00', '2015-03-15 18:02:00')
(75, '2015-03-16 06:06:00', '2015-03-16 18:03:00')
(76, '2015-03-17 06:05:00', '2015-03-17 18:05:00')
(77, '2015-03-18 06:03:00', '2015-03-18 18:06:00')
(78, '2015-03-19 06:01:00', '2015-03-19 18:07:00')
(79, '2015-03-20 06:00:00', '2015-03-20 18:08:00')
(80, '2015-03-21 05:58:00', '2015-03-21 18:09:00')
(81, '2015-03-22 05:56:00', '2015-03-22 18:10:00')
(82, '2015-03-23 05:55:00', '2015-03-23 18:11:00')
(83, '2015-03-24 05:53:00', '2015-03-24 18:12:00')
(84, '2015-03-25 05:51:00', '2015-03-25 18:13:00')
(85, '2015-03-26 05:50:00', '2015-03-26 18:14:00')
(86, '2015-03-27 05:48:00', '2015-03-27 18:15:00')
(87, '2015-03-28 05:47:00', '2015-03-28 18:16:00')
(88, '2015-03-29 05:45:00', '2015-03-29 18:17:00')
(89, '2015-03-30 05:43:00', '2015-03-30 18:18:00')
(90, '2015-03-31 05:42:00', '2015-03-31 18:19:00')
(91, '2015-04-01 05:40:00', '2015-04-01 18:20:00')
(92, '2015-04-02 05:38:00', '2015-04-02 18:21:00')
(93, '2015-04-03 05:37:00', '2015-04-03 18:23:00')
(94, '2015-04-04 05:35:00', '2015-04-04 18:24:00')
(95, '2015-04-05 05:33:00', '2015-04-05 18:25:00')
(96, '2015-04-06 05:32:00', '2015-04-06 18:26:00')
(97, '2015-04-07 05:30:00', '2015-04-07 18:27:00')
(98, '2015-04-08 05:29:00', '2015-04-08 18:28:00')
(99, '2015-04-09 05:27:00', '2015-04-09 18:29:00')
(100, '2015-04-10 05:25:00', '2015-04-10 18:30:00')
(101, '2015-04-11 05:24:00', '2015-04-11 18:31:00')
(102, '2015-04-12 05:22:00', '2015-04-12 18:32:00')
(103, '2015-04-13 05:21:00', '2015-04-13 18:33:00')
(104, '2015-04-14 05:19:00', '2015-04-14 18:34:00')
(105, '2015-04-15 05:18:00', '2015-04-15 18:35:00')
(106, '2015-04-16 05:16:00', '2015-04-16 18:36:00')
(107, '2015-04-17 05:14:00', '2015-04-17 18:37:00')
(108, '2015-04-18 05:13:00', '2015-04-18 18:38:00')
(109, '2015-04-19 05:11:00', '2015-04-19 18:39:00')
(110, '2015-04-20 05:10:00', '2015-04-20 18:40:00')
(111, '2015-04-21 05:08:00', '2015-04-21 18:41:00')
(112, '2015-04-22 05:07:00', '2015-04-22 18:42:00')
(113, '2015-04-23 05:06:00', '2015-04-23 18:44:00')
(114, '2015-04-24 05:04:00', '2015-04-24 18:45:00')
(115, '2015-04-25 05:03:00', '2015-04-25 18:46:00')
(116, '2015-04-26 05:01:00', '2015-04-26 18:47:00')
(117, '2015-04-27 05:00:00', '2015-04-27 18:48:00')
(118, '2015-04-28 04:59:00', '2015-04-28 18:49:00')
(119, '2015-04-29 04:57:00', '2015-04-29 18:50:00')
(120, '2015-04-30 04:56:00', '2015-04-30 18:51:00')
(121, '2015-05-01 04:55:00', '2015-05-01 18:52:00')
(122, '2015-05-02 04:53:00', '2015-05-02 18:53:00')
(123, '2015-05-03 04:52:00', '2015-05-03 18:54:00')
(124, '2015-05-04 04:51:00', '2015-05-04 18:55:00')
(125, '2015-05-05 04:50:00', '2015-05-05 18:56:00')
(126, '2015-05-06 04:49:00', '2015-05-06 18:57:00')
(127, '2015-05-07 04:47:00', '2015-05-07 18:58:00')
(128, '2015-05-08 04:46:00', '2015-05-08 18:59:00')
(129, '2015-05-09 04:45:00', '2015-05-09 19:00:00')
(130, '2015-05-10 04:44:00', '2015-05-10 19:01:00')
(131, '2015-05-11 04:43:00', '2015-05-11 19:02:00')
(132, '2015-05-12 04:42:00', '2015-05-12 19:03:00')
(133, '2015-05-13 04:41:00', '2015-05-13 19:04:00')
(134, '2015-05-14 04:40:00', '2015-05-14 19:05:00')
(135, '2015-05-15 04:39:00', '2015-05-15 19:06:00')
(136, '2015-05-16 04:38:00', '2015-05-16 19:07:00')
(137, '2015-05-17 04:37:00', '2015-05-17 19:08:00')
(138, '2015-05-18 04:36:00', '2015-05-18 19:09:00')
(139, '2015-05-19 04:35:00', '2015-05-19 19:10:00')
(140, '2015-05-20 04:34:00', '2015-05-20 19:11:00')
(141, '2015-05-21 04:34:00', '2015-05-21 19:12:00')
(142, '2015-05-22 04:33:00', '2015-05-22 19:13:00')
(143, '2015-05-23 04:32:00', '2015-05-23 19:14:00')
(144, '2015-05-24 04:31:00', '2015-05-24 19:14:00')
(145, '2015-05-25 04:31:00', '2015-05-25 19:15:00')
(146, '2015-05-26 04:30:00', '2015-05-26 19:16:00')
(147, '2015-05-27 04:29:00', '2015-05-27 19:17:00')
(148, '2015-05-28 04:29:00', '2015-05-28 19:18:00')
(149, '2015-05-29 04:28:00', '2015-05-29 19:19:00')
(150, '2015-05-30 04:28:00', '2015-05-30 19:19:00')
(151, '2015-05-31 04:27:00', '2015-05-31 19:20:00')
(152, '2015-06-01 04:27:00', '2015-06-01 19:21:00')
(153, '2015-06-02 04:26:00', '2015-06-02 19:22:00')
(154, '2015-06-03 04:26:00', '2015-06-03 19:22:00')
(155, '2015-06-04 04:26:00', '2015-06-04 19:23:00')
(156, '2015-06-05 04:25:00', '2015-06-05 19:24:00')
(157, '2015-06-06 04:25:00', '2015-06-06 19:24:00')
(158, '2015-06-07 04:25:00', '2015-06-07 19:25:00')
(159, '2015-06-08 04:25:00', '2015-06-08 19:25:00')
(160, '2015-06-09 04:24:00', '2015-06-09 19:26:00')
(161, '2015-06-10 04:24:00', '2015-06-10 19:27:00')
(162, '2015-06-11 04:24:00', '2015-06-11 19:27:00')
(163, '2015-06-12 04:24:00', '2015-06-12 19:28:00')
(164, '2015-06-13 04:24:00', '2015-06-13 19:28:00')
(165, '2015-06-14 04:24:00', '2015-06-14 19:28:00')
(166, '2015-06-15 04:24:00', '2015-06-15 19:29:00')
(167, '2015-06-16 04:24:00', '2015-06-16 19:29:00')
(168, '2015-06-17 04:24:00', '2015-06-17 19:30:00')
(169, '2015-06-18 04:24:00', '2015-06-18 19:30:00')
(170, '2015-06-19 04:24:00', '2015-06-19 19:30:00')
(171, '2015-06-20 04:24:00', '2015-06-20 19:30:00')
(172, '2015-06-21 04:25:00', '2015-06-21 19:31:00')
(173, '2015-06-22 04:25:00', '2015-06-22 19:31:00')
(174, '2015-06-23 04:25:00', '2015-06-23 19:31:00')
(175, '2015-06-24 04:25:00', '2015-06-24 19:31:00')
(176, '2015-06-25 04:26:00', '2015-06-25 19:31:00')
(177, '2015-06-26 04:26:00', '2015-06-26 19:31:00')
(178, '2015-06-27 04:26:00', '2015-06-27 19:31:00')
(179, '2015-06-28 04:27:00', '2015-06-28 19:31:00')
(180, '2015-06-29 04:27:00', '2015-06-29 19:31:00')
(181, '2015-06-30 04:28:00', '2015-06-30 19:31:00')
(182, '2015-07-01 04:28:00', '2015-07-01 19:31:00')
(183, '2015-07-02 04:29:00', '2015-07-02 19:31:00')
(184, '2015-07-03 04:29:00', '2015-07-03 19:31:00')
(185, '2015-07-04 04:30:00', '2015-07-04 19:31:00')
(186, '2015-07-05 04:30:00', '2015-07-05 19:30:00')
(187, '2015-07-06 04:31:00', '2015-07-06 19:30:00')
(188, '2015-07-07 04:31:00', '2015-07-07 19:30:00')
(189, '2015-07-08 04:32:00', '2015-07-08 19:29:00')
(190, '2015-07-09 04:33:00', '2015-07-09 19:29:00')
(191, '2015-07-10 04:33:00', '2015-07-10 19:29:00')
(192, '2015-07-11 04:34:00', '2015-07-11 19:28:00')
(193, '2015-07-12 04:35:00', '2015-07-12 19:28:00')
(194, '2015-07-13 04:36:00', '2015-07-13 19:27:00')
(195, '2015-07-14 04:36:00', '2015-07-14 19:27:00')
(196, '2015-07-15 04:37:00', '2015-07-15 19:26:00')
(197, '2015-07-16 04:38:00', '2015-07-16 19:26:00')
(198, '2015-07-17 04:39:00', '2015-07-17 19:25:00')
(199, '2015-07-18 04:40:00', '2015-07-18 19:24:00')
(200, '2015-07-19 04:40:00', '2015-07-19 19:24:00')
(201, '2015-07-20 04:41:00', '2015-07-20 19:23:00')
(202, '2015-07-21 04:42:00', '2015-07-21 19:22:00')
(203, '2015-07-22 04:43:00', '2015-07-22 19:21:00')
(204, '2015-07-23 04:44:00', '2015-07-23 19:20:00')
(205, '2015-07-24 04:45:00', '2015-07-24 19:20:00')
(206, '2015-07-25 04:46:00', '2015-07-25 19:19:00')
(207, '2015-07-26 04:46:00', '2015-07-26 19:18:00')
(208, '2015-07-27 04:47:00', '2015-07-27 19:17:00')
(209, '2015-07-28 04:48:00', '2015-07-28 19:16:00')
(210, '2015-07-29 04:49:00', '2015-07-29 19:15:00')
(211, '2015-07-30 04:50:00', '2015-07-30 19:14:00')
(212, '2015-07-31 04:51:00', '2015-07-31 19:13:00')
(213, '2015-08-01 04:52:00', '2015-08-01 19:12:00')
(214, '2015-08-02 04:53:00', '2015-08-02 19:11:00')
(215, '2015-08-03 04:54:00', '2015-08-03 19:09:00')
(216, '2015-08-04 04:55:00', '2015-08-04 19:08:00')
(217, '2015-08-05 04:56:00', '2015-08-05 19:07:00')
(218, '2015-08-06 04:57:00', '2015-08-06 19:06:00')
(219, '2015-08-07 04:58:00', '2015-08-07 19:05:00')
(220, '2015-08-08 04:59:00', '2015-08-08 19:04:00')
(221, '2015-08-09 05:00:00', '2015-08-09 19:02:00')
(222, '2015-08-10 05:01:00', '2015-08-10 19:01:00')
(223, '2015-08-11 05:02:00', '2015-08-11 19:00:00')
(224, '2015-08-12 05:03:00', '2015-08-12 18:58:00')
(225, '2015-08-13 05:04:00', '2015-08-13 18:57:00')
(226, '2015-08-14 05:05:00', '2015-08-14 18:56:00')
(227, '2015-08-15 05:06:00', '2015-08-15 18:54:00')
(228, '2015-08-16 05:07:00', '2015-08-16 18:53:00')
(229, '2015-08-17 05:08:00', '2015-08-17 18:51:00')
(230, '2015-08-18 05:09:00', '2015-08-18 18:50:00')
(231, '2015-08-19 05:10:00', '2015-08-19 18:49:00')
(232, '2015-08-20 05:11:00', '2015-08-20 18:47:00')
(233, '2015-08-21 05:12:00', '2015-08-21 18:46:00')
(234, '2015-08-22 05:13:00', '2015-08-22 18:44:00')
(235, '2015-08-23 05:14:00', '2015-08-23 18:43:00')
(236, '2015-08-24 05:15:00', '2015-08-24 18:41:00')
(237, '2015-08-25 05:16:00', '2015-08-25 18:40:00')
(238, '2015-08-26 05:17:00', '2015-08-26 18:38:00')
(239, '2015-08-27 05:18:00', '2015-08-27 18:37:00')
(240, '2015-08-28 05:19:00', '2015-08-28 18:35:00')
(241, '2015-08-29 05:20:00', '2015-08-29 18:33:00')
(242, '2015-08-30 05:21:00', '2015-08-30 18:32:00')
(243, '2015-08-31 05:22:00', '2015-08-31 18:30:00')
(244, '2015-09-01 05:23:00', '2015-09-01 18:29:00')
(245, '2015-09-02 05:23:00', '2015-09-02 18:27:00')
(246, '2015-09-03 05:24:00', '2015-09-03 18:25:00')
(247, '2015-09-04 05:25:00', '2015-09-04 18:24:00')
(248, '2015-09-05 05:26:00', '2015-09-05 18:22:00')
(249, '2015-09-06 05:27:00', '2015-09-06 18:20:00')
(250, '2015-09-07 05:28:00', '2015-09-07 18:19:00')
(251, '2015-09-08 05:29:00', '2015-09-08 18:17:00')
(252, '2015-09-09 05:30:00', '2015-09-09 18:15:00')
(253, '2015-09-10 05:31:00', '2015-09-10 18:14:00')
(254, '2015-09-11 05:32:00', '2015-09-11 18:12:00')
(255, '2015-09-12 05:33:00', '2015-09-12 18:10:00')
(256, '2015-09-13 05:34:00', '2015-09-13 18:09:00')
(257, '2015-09-14 05:35:00', '2015-09-14 18:07:00')
(258, '2015-09-15 05:36:00', '2015-09-15 18:05:00')
(259, '2015-09-16 05:37:00', '2015-09-16 18:04:00')
(260, '2015-09-17 05:38:00', '2015-09-17 18:02:00')
(261, '2015-09-18 05:39:00', '2015-09-18 18:00:00')
(262, '2015-09-19 05:40:00', '2015-09-19 17:59:00')
(263, '2015-09-20 05:41:00', '2015-09-20 17:57:00')
(264, '2015-09-21 05:42:00', '2015-09-21 17:55:00')
(265, '2015-09-22 05:43:00', '2015-09-22 17:53:00')
(266, '2015-09-23 05:44:00', '2015-09-23 17:52:00')
(267, '2015-09-24 05:45:00', '2015-09-24 17:50:00')
(268, '2015-09-25 05:46:00', '2015-09-25 17:48:00')
(269, '2015-09-26 05:47:00', '2015-09-26 17:47:00')
(270, '2015-09-27 05:48:00', '2015-09-27 17:45:00')
(271, '2015-09-28 05:49:00', '2015-09-28 17:43:00')
(272, '2015-09-29 05:50:00', '2015-09-29 17:42:00')
(273, '2015-09-30 05:51:00', '2015-09-30 17:40:00')
(274, '2015-10-01 05:52:00', '2015-10-01 17:38:00')
(275, '2015-10-02 05:53:00', '2015-10-02 17:37:00')
(276, '2015-10-03 05:54:00', '2015-10-03 17:35:00')
(277, '2015-10-04 05:55:00', '2015-10-04 17:33:00')
(278, '2015-10-05 05:56:00', '2015-10-05 17:32:00')
(279, '2015-10-06 05:57:00', '2015-10-06 17:30:00')
(280, '2015-10-07 05:58:00', '2015-10-07 17:28:00')
(281, '2015-10-08 05:59:00', '2015-10-08 17:27:00')
(282, '2015-10-09 06:00:00', '2015-10-09 17:25:00')
(283, '2015-10-10 06:01:00', '2015-10-10 17:24:00')
(284, '2015-10-11 06:03:00', '2015-10-11 17:22:00')
(285, '2015-10-12 06:04:00', '2015-10-12 17:21:00')
(286, '2015-10-13 06:05:00', '2015-10-13 17:19:00')
(287, '2015-10-14 06:06:00', '2015-10-14 17:17:00')
(288, '2015-10-15 06:07:00', '2015-10-15 17:16:00')
(289, '2015-10-16 06:08:00', '2015-10-16 17:14:00')
(290, '2015-10-17 06:09:00', '2015-10-17 17:13:00')
(291, '2015-10-18 06:10:00', '2015-10-18 17:11:00')
(292, '2015-10-19 06:11:00', '2015-10-19 17:10:00')
(293, '2015-10-20 06:12:00', '2015-10-20 17:08:00')
(294, '2015-10-21 06:13:00', '2015-10-21 17:07:00')
(295, '2015-10-22 06:15:00', '2015-10-22 17:06:00')
(296, '2015-10-23 06:16:00', '2015-10-23 17:04:00')
(297, '2015-10-24 06:17:00', '2015-10-24 17:03:00')
(298, '2015-10-25 06:18:00', '2015-10-25 17:01:00')
(299, '2015-10-26 06:19:00', '2015-10-26 17:00:00')
(300, '2015-10-27 06:20:00', '2015-10-27 16:59:00')
(301, '2015-10-28 06:21:00', '2015-10-28 16:57:00')
(302, '2015-10-29 06:23:00', '2015-10-29 16:56:00')
(303, '2015-10-30 06:24:00', '2015-10-30 16:55:00')
(304, '2015-10-31 06:25:00', '2015-10-31 16:54:00')
(305, '2015-11-01 06:26:00', '2015-11-01 16:52:00')
(306, '2015-11-02 06:27:00', '2015-11-02 16:51:00')
(307, '2015-11-03 06:28:00', '2015-11-03 16:50:00')
(308, '2015-11-04 06:30:00', '2015-11-04 16:49:00')
(309, '2015-11-05 06:31:00', '2015-11-05 16:48:00')
(310, '2015-11-06 06:32:00', '2015-11-06 16:47:00')
(311, '2015-11-07 06:33:00', '2015-11-07 16:46:00')
(312, '2015-11-08 06:34:00', '2015-11-08 16:44:00')
(313, '2015-11-09 06:36:00', '2015-11-09 16:43:00')
(314, '2015-11-10 06:37:00', '2015-11-10 16:42:00')
(315, '2015-11-11 06:38:00', '2015-11-11 16:41:00')
(316, '2015-11-12 06:39:00', '2015-11-12 16:41:00')
(317, '2015-11-13 06:40:00', '2015-11-13 16:40:00')
(318, '2015-11-14 06:41:00', '2015-11-14 16:39:00')
(319, '2015-11-15 06:43:00', '2015-11-15 16:38:00')
(320, '2015-11-16 06:44:00', '2015-11-16 16:37:00')
(321, '2015-11-17 06:45:00', '2015-11-17 16:36:00')
(322, '2015-11-18 06:46:00', '2015-11-18 16:36:00')
(323, '2015-11-19 06:47:00', '2015-11-19 16:35:00')
(324, '2015-11-20 06:48:00', '2015-11-20 16:34:00')
(325, '2015-11-21 06:50:00', '2015-11-21 16:34:00')
(326, '2015-11-22 06:51:00', '2015-11-22 16:33:00')
(327, '2015-11-23 06:52:00', '2015-11-23 16:32:00')
(328, '2015-11-24 06:53:00', '2015-11-24 16:32:00')
(329, '2015-11-25 06:54:00', '2015-11-25 16:31:00')
(330, '2015-11-26 06:55:00', '2015-11-26 16:31:00')
(331, '2015-11-27 06:56:00', '2015-11-27 16:30:00')
(332, '2015-11-28 06:57:00', '2015-11-28 16:30:00')
(333, '2015-11-29 06:58:00', '2015-11-29 16:30:00')
(334, '2015-11-30 06:59:00', '2015-11-30 16:29:00')
(335, '2015-12-01 07:00:00', '2015-12-01 16:29:00')
(336, '2015-12-02 07:02:00', '2015-12-02 16:29:00')
(337, '2015-12-03 07:03:00', '2015-12-03 16:29:00')
(338, '2015-12-04 07:03:00', '2015-12-04 16:28:00')
(339, '2015-12-05 07:04:00', '2015-12-05 16:28:00')
(340, '2015-12-06 07:05:00', '2015-12-06 16:28:00')
(341, '2015-12-07 07:06:00', '2015-12-07 16:28:00')
(342, '2015-12-08 07:07:00', '2015-12-08 16:28:00')
(343, '2015-12-09 07:08:00', '2015-12-09 16:28:00')
(344, '2015-12-10 07:09:00', '2015-12-10 16:28:00')
(345, '2015-12-11 07:10:00', '2015-12-11 16:28:00')
(346, '2015-12-12 07:11:00', '2015-12-12 16:28:00')
(347, '2015-12-13 07:11:00', '2015-12-13 16:29:00')
(348, '2015-12-14 07:12:00', '2015-12-14 16:29:00')
(349, '2015-12-15 07:13:00', '2015-12-15 16:29:00')
(350, '2015-12-16 07:14:00', '2015-12-16 16:29:00')
(351, '2015-12-17 07:14:00', '2015-12-17 16:30:00')
(352, '2015-12-18 07:15:00', '2015-12-18 16:30:00')
(353, '2015-12-19 07:15:00', '2015-12-19 16:30:00')
(354, '2015-12-20 07:16:00', '2015-12-20 16:31:00')
(355, '2015-12-21 07:17:00', '2015-12-21 16:31:00')
(356, '2015-12-22 07:17:00', '2015-12-22 16:32:00')
(357, '2015-12-23 07:18:00', '2015-12-23 16:32:00')
(358, '2015-12-24 07:18:00', '2015-12-24 16:33:00')
(359, '2015-12-25 07:18:00', '2015-12-25 16:34:00')
(360, '2015-12-26 07:19:00', '2015-12-26 16:34:00')
(361, '2015-12-27 07:19:00', '2015-12-27 16:35:00')
(362, '2015-12-28 07:19:00', '2015-12-28 16:36:00')
(363, '2015-12-29 07:20:00', '2015-12-29 16:36:00')
(364, '2015-12-30 07:20:00', '2015-12-30 16:37:00')
(365, '2015-12-31 07:20:00', '2015-12-31 16:38:00')

In [46]:
# Question we made: what is the total hired trips in 2015.01.31 after sunset
def get_sunset_trips_info():
     with engine.connect() as connection:
        total_trips = f"""
            select count(*) as total_trips from
            (select * from uber_trips where pickup_datetime<'2015-02-01' and
            pickup_datetime>=(select sunset_time from sunset_sunrise where sunset_time like '%2015-01-31%')
            union all
            select * from taxi_trips where pickup_datetime<'2015-02-01' and
            pickup_datetime>=(select sunset_time from sunset_sunrise where sunset_time like '%2015-01-31%'))
            """
        
        # write to qurey file
        with open(f'{QUERY_DIRECTORY}/extra_credit.sql', "w") as f:
            f.write(total_trips)
        
        result = list(connection.execute(total_trips))
        print(result)
        
get_sunset_trips_info()

2022-12-10 21:38:04,261 INFO sqlalchemy.engine.Engine
            select count(*) as total_trips from
            (select * from uber_trips where pickup_datetime<'2015-02-01' and
            pickup_datetime>=(select sunset_time from sunset_sunrise where sunset_time like '%2015-01-31%')
            union all
            select * from taxi_trips where pickup_datetime<'2015-02-01' and
            pickup_datetime>=(select sunset_time from sunset_sunrise where sunset_time like '%2015-01-31%'))

2022-12-10 21:38:04,262 INFO sqlalchemy.engine.Engine [raw sql] ()
[(69,)]

## Part 4: Visualizing the Data

In [ ]:
#p4 q1 
#Create an appropriate visualization for the first query/question in part 3
def popular_hour():
    q1 = """
    select strftime('%H',pickup_datetime) AS cur_hour,count(*) as num
    from taxi_trips GROUP BY cur_hour
    """
    with engine.connect() as connection:

        test1 = connection.execute(q1)
        df1 = DataFrame(test1.fetchall())
        df1.columns = test1.keys()
    plt.bar(df1["cur_hour"], df1["num"], width = 0.2)
    plt.xlabel("hours")
    plt.ylabel("count")
    plt.title("count in each hour")
    plt.show()
popular_hour()

In [ ]:
#p4 q2
#Create a visualization that shows the average distance traveled per month
def get_avg_distance_per_month():
    
    query_sql = """select strftime('%m',pickup_datetime) AS per_month,sum(trip_distance) as trip_distance from taxi_trips GROUP BY per_month;"""
    
    with engine.connect() as connection:
        t4 = connection.execute(query_sql)
        df_4 = DataFrame(t4.fetchall())
        df_4.columns = t4.keys()
    mean = df_4.groupby(["per_month"], as_index=False)['trip_distance'].mean()
    k_lower =  df_4.groupby(["per_month"], as_index=False)['trip_distance'].quantile(0.05)
    k_upper = df_4.groupby(["per_month"], as_index=False)['trip_distance'].quantile(0.95) 
   
    plt.bar(df_4["per_month"],df_4["trip_distance"],yerr=[k_lower['trip_distance'].to_numpy(),k_upper['trip_distance'].to_numpy()], alpha=0.5,width = 0.2)
    plt.xlabel("per_month")
    plt.ylabel("trip distance")
    plt.title("the average distance traveled per month")
    plt.show()
get_avg_distance_per_month()

In [ ]:
#p4 q3
#Define three lat/long coordinate boxes around the three major New York airports: LGA, JFK, and EWR 
#Create a visualization that compares what day of the week was most popular for drop offs for each airport.
def coor_box():
    x= pd.read_sql_table('taxi_trips', engine)
    y = pd.read_sql_table('uber_trips', engine)
    x['pickup_datetime'] = pd.to_datetime(x['pickup_datetime'])
    y['pickup_datetime'] = pd.to_datetime(y['pickup_datetime'])
    k = pd.concat([x, y])

    k["day_of_the_week"] = k['pickup_datetime'].apply(lambda x:x.weekday())
    LGA = (-73.8702, 40.7730)
    JFK = (-73.780968, 40.641766)
    EWR = (-74.184601, 40.695213)
    center_distance = 0.02

    def filter_lnglat(x, lnglat_center, center_distance):
        x1 = x[lnglat_center[0] - center_distance <= x["dropoff_longitude"]]
        x2 = x1[x1["dropoff_longitude"] <= lnglat_center[0] + center_distance]
        x3 = x2[lnglat_center[1] - center_distance <= x2["dropoff_latitude"]]
        x4 = x3[x3["dropoff_latitude"]<= lnglat_center[1] + center_distance]
        return x4

    LGA_df = filter_lnglat(k, LGA, center_distance)
    JFK_df = filter_lnglat(k, JFK, center_distance)
    EWR_df = filter_lnglat(k, EWR, center_distance)
    LGA_count_df = LGA_df.groupby(["day_of_the_week"], as_index=False).count()
    JFK_count_df = JFK_df.groupby(["day_of_the_week"], as_index=False).count()
    EWR_count_df = EWR_df.groupby(["day_of_the_week"], as_index=False).count()
    tick_label = (LGA_count_df["day_of_the_week"] + 1).to_numpy()
    def txt_xy(X, YI, i, bar_width):
        for x,y in zip(X,YI):
            plt.text(x +i*bar_width,y,'%.2f' %y, ha='center',va='bottom', rotation=30)

    x_range = np.arange(7)
    bar_width = 0.1
    plt.bar(x_range, LGA_count_df["pickup_datetime"].to_numpy(), width=bar_width, label="LGA")
    plt.bar(x_range + bar_width, JFK_count_df["pickup_datetime"].to_numpy(), width=bar_width, label="JFK")
    plt.bar(x_range + 2 * bar_width, EWR_count_df["pickup_datetime"].to_numpy(), width=bar_width, label="EWR")

    plt.xticks(x_range + bar_width/2, tick_label, rotation=30)
    plt.legend()
    plt.show()

In [ ]:
#P4 Q4
# Create a heatmap of all hired trips over a map of the area. Consider using KeplerGL 
def heatmap():
    q4 = """
        select pickup_latitude, pickup_longitude
        from (select pickup_latitude, pickup_longitude
            from taxi_trips union all select pickup_latitude, pickup_longitude
            from uber_trips
        ) 
    """
    with engine.connect() as connection:
        t2 = connection.execute(q4)
        df_2 = DataFrame(t2.fetchall())
        df_2.columns = t2.keys()
        

    df_kepler = df_2[["pickup_longitude", "pickup_latitude"]]
    df_kepler["Latitude"] = df_kepler["pickup_latitude"]
    df_kepler["Longitude"] = df_kepler["pickup_longitude"]
    df_kepler["City"] = "NY"
    df_kepler = df_kepler.drop(columns="pickup_latitude")
    df_kepler = df_kepler.drop(columns="pickup_longitude")


    map_2 = KeplerGl(height=400, data={"data_1": df_kepler})
    return map_2

In [ ]:
#p4 q5
#Create a scatter plot that compares tip amount versus distance.
def tip_versus_distance():
    q5 = """
        select trip_distance, tip_amount from taxi_trips
    """

    with engine.connect() as connection:
        t5 = connection.execute(q5)
        df_5 = DataFrame(t5.fetchall())
        df_5.columns = t5.keys()
        
    x_filtered = df_5[df_5["tip_amount"] < df_5["tip_amount"].quantile(0.9999)]
    x_filtered2 = x_filtered[x_filtered["trip_distance"] < x_filtered["trip_distance"].quantile(0.99999)]
    plt.scatter(x_filtered2["trip_distance"], x_filtered2["tip_amount"],s = 1)
    plt.xlabel("trip distance")
    plt.ylabel("tip amount")
    plt.title("tip amount versus distance")
    plt.show()

In [ ]:
#p4 q6
#Create another scatter plot that compares tip amount versus precipitation amount.
def tip_versus_Precipitation():
    hourly_ps= pd.read_sql_table('hourly_weather', engine)
    x= pd.read_sql_table('taxi_trips', engine)
    x["pickup_hour"] = x["pickup_datetime"].astype("str").apply(lambda x: x[:13])
    hourly_ps["datetime"] = hourly_ps["datetime"].astype("str").apply(lambda x:x[:13])
    x_joined = x.set_index('pickup_hour').join(hourly_ps.set_index('datetime'))
    x_joined_filtered = x_joined[x_joined["tip_amount"] < x_joined["tip_amount"].quantile(0.9999)]
    plt.scatter(x_joined_filtered["tip_amount"], x_joined_filtered["precipitation"],s = 1)
    plt.xlabel("tip amount")
    plt.ylabel("HourlyPrecipitation")
    plt.title("tip amount versus Hourly Precipitation")
    plt.show()
tip_versus_Precipitation()